{% comment %}
    Renders a product card

    Accepts:
    - product: {Object} The product object
    - show_secondary_image: {Boolean} Show the secondary image on hover. Default: false (optional)
    - lazy_load: {Boolean} Image should be lazy loaded. Default: true (optional)
    - section_id: {String} The ID of the section that contains this card.

    Usage:
    {% render 'card-product' %}
{% endcomment %}

<div class="h-full flex flex-col">
  {%- if product.featured_media -%}
    <div class="relative">
      {% comment %}theme-check-disable ImgLazyLoading{% endcomment %}
      <img
        srcset="{%- if product.featured_media.width >= 380 -%}{{ product.featured_media | image_url: width: 380 }} 380w,{%- endif -%}
          {%- if product.featured_media.width >= 430 -%}{{ product.featured_media | image_url: width: 430 }} 430w,{%- endif -%}
          {%- if product.featured_media.width >= 500 -%}{{ product.featured_media | image_url: width: 500 }} 500w,{%- endif -%}
          {%- if product.featured_media.width >= 700 -%}{{ product.featured_media | image_url: width: 700 }} 700w,{%- endif -%}
          {%- if product.featured_media.width >= 940 -%}{{ product.featured_media | image_url: width: 940 }} 940w,{%- endif -%}
          {%- if product.featured_media.width >= 1066 -%}{{ product.featured_media | image_url: width: 1066 }} 1066w,{%- endif -%}
          {{ product.featured_media | image_url }} {{ product.featured_media.width }}w"
        src="{{ product.featured_media | image_url: width: 533 }}"
        sizes="(min-width: 990px) 357px, (min-width: 900px) 425px, (min-width: 637px) 376px, (min-width: 500px) 295px, 100%"
        alt="{% if product.metafields.meta_object.media.value.alts.value[0] %}{{ product.metafields.meta_object.media.value.alts.value[0] | escape }}{% else %}{{ product.featured_media.alt | escape }}{% endif %}"
      {% unless lazy_load == false %}loading="lazy"{% endunless %}
        width="{{ product.featured_media.width }}"
        height="{{ product.featured_media.height }}"
        class="skeleton w-full h-full object-cover"
      >
      {% comment %}theme-check-enable ImgLazyLoading{% endcomment %}

      {%- if product.media[1] != nil and show_secondary_image -%}
        {% if product.media[1].width <= product.media[1].height %}
          <img
            srcset="{%- if product.media[1].width >= 380 -%}{{ product.media[1] | image_url: width: 380 }} 380w,{%- endif -%}
              {%- if product.media[1].width >= 430 -%}{{ product.media[1] | image_url: width: 430 }} 430w,{%- endif -%}
              {%- if product.media[1].width >= 500 -%}{{ product.media[1] | image_url: width: 500 }} 500w,{%- endif -%}
              {%- if product.media[1].width >= 700 -%}{{ product.media[1] | image_url: width: 700 }} 700w,{%- endif -%}
              {%- if product.media[1].width >= 940 -%}{{ product.media[1] | image_url: width: 940 }} 940w,{%- endif -%}
              {%- if product.media[1].width >= 1066 -%}{{ product.media[1] | image_url: width: 1066 }} 1066w,{%- endif -%}
              {{ product.media[1] | image_url }} {{ product.media[1].width }}w"
            src="{{ product.media[1] | image_url: width: 533 }}"
            sizes="(min-width: 990px) 357px, (min-width: 900px) 425px, (min-width: 637px) 376px, (min-width: 500px) 295px, 100%"
            alt="{% if product.metafields.meta_object.media.value.alts.value[1] %}{{ product.metafields.meta_object.media.value.alts.value[1] | escape }}{% else %}{{ product.media[1].alt | escape }}{% endif %}"
            loading="lazy"
            width="{{ product.media[1].width }}"
            height="{{ product.media[1].height }}"
            class="skeleton absolute top-0 left-0 w-full h-full object-cover opacity-0 group-hover:opacity-100 duration-300"
          >
        {% else %}
          <img
            srcset="{%- if product.media[1].width >= 380 -%}{{ product.media[1] | image_url: width: 380, height: 456, crop: 'center' }} 380w,{%- endif -%}
              {%- if product.media[1].width >= 430 -%}{{ product.media[1] | image_url: width: 430, height: 456, crop: 'center' }} 430w,{%- endif -%}
              {%- if product.media[1].width >= 500 -%}{{ product.media[1] | image_url: width: 500, height: 456, crop: 'center' }} 500w,{%- endif -%}
              {%- if product.media[1].width >= 700 -%}{{ product.media[1] | image_url: width: 700, height: 456, crop: 'center' }} 700w,{%- endif -%}
              {%- if product.media[1].width >= 940 -%}{{ product.media[1] | image_url: width: 940, height: 456, crop: 'center' }} 940w,{%- endif -%}
              {%- if product.media[1].width >= 1066 -%}{{ product.media[1] | image_url: width: 1066, height: 456, crop: 'center' }} 1066w,{%- endif -%}
              {{ product.media[1] | image_url }} {{ product.media[1].width }}w"
            src="{{ product.media[1] | image_url: width: 533, height: 456, crop: 'center' }}"
            sizes="(min-width: 990px) 357px, (min-width: 900px) 425px, (min-width: 637px) 376px, (min-width: 500px) 295px, 100%"
            alt="{% if product.metafields.meta_object.media.value.alts.value[1] %}{{ product.metafields.meta_object.media.value.alts.value[1] | escape }}{% else %}{{ product.media[1].alt | escape }}{% endif %}"
            loading="lazy"
            width="{{ product.media[1].width }}"
            height="{{ product.media[1].height }}"
            class="skeleton absolute top-0 left-0 w-full h-full object-cover opacity-0 group-hover:opacity-100 duration-300"
          >
        {% endif %}
      {%- endif -%}
    </div>
  {%- endif -%}
  <div class="p-3 flex-grow flex flex-col justify-between">
    <div>
      <h3 class="text-xl">
        <a href="{{ product.url }}" class="after:absolute after:inset-0" tabindex="-1">
          {{ product.title | escape | upcase }}
          <span class="inline-flex items-center">
            {% render 'tw-icon-arrow' %}
          </span>
        </a>
      </h3>

    </div>

    <div class="mt-5">
      <div class="my-4 flex justify-between items-end price-and-likes">
        <p>
          {{ "sections.main_collection_product_grid.card-product.starting_at" | t }}&nbsp;
            <strong>
              {{ product.price_min | money }}
            </strong>
        </p>
        <my-like-button data-product-id="{{ product.id }}">
          <button class="like relative py-2 px-3 bg-main-5 rounded inline-block z-10 after:absolute after:-inset-4">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" class="inline-block fill-like" role="img" aria-labelledby="title-heart" focusable="false"><title id="title-heart">{{ "snippet.tw_icon_heart.title" | t }}</title><path class="inside-heart" fill="transparent" fill-opacity="0" d="M12 8c0 0 0 0 0.76 -1c0.88 -1.16 2.18 -2 3.74 -2c2.49 0 4.5 2.01 4.5 4.5c0 0.93 -0.28 1.79 -0.76 2.5c-0.81 1.21 -8.24 9 -8.24 9c0 0 -7.43 -7.79 -8.24 -9c-0.48 -0.71 -0.76 -1.57 -0.76 -2.5c0 -2.49 2.01 -4.5 4.5 -4.5c1.56 0 2.87 0.84 3.74 2c0.76 1 0.76 1 0.76 1Z"><animate fill="freeze" attributeName="fill-opacity" begin="0.7s" dur="0.15s" values="0;1"/></path><path fill="none" stroke="currentColor" stroke-dasharray="32" stroke-dashoffset="32" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8c0 0 0 0 -0.76 -1c-0.88 -1.16 -2.18 -2 -3.74 -2c-2.49 0 -4.5 2.01 -4.5 4.5c0 0.93 0.28 1.79 0.76 2.5c0.81 1.21 8.24 9 8.24 9M12 8c0 0 0 0 0.76 -1c0.88 -1.16 2.18 -2 3.74 -2c2.49 0 4.5 2.01 4.5 4.5c0 0.93 -0.28 1.79 -0.76 2.5c-0.81 1.21 -8.24 9 -8.24 9"><animate fill="freeze" attributeName="stroke-dashoffset" dur="0.7s" values="32;0"/></path></svg>&nbsp;
            <span class="font-semibold font-heading text-sm"><span class="total-users-likes-count text-main">{{ product.metafields.likes.number | default: 0 }}</span>&nbsp;
            <span class="text-main">{{ 'snippet.card-product.likes' | t }}</span></span>
          </button>
        </my-like-button>
        <template class="likes-count-container-template">
          <my-like-button data-product-id="{{ product.id }}">
            <button class="like relative py-2 px-3 bg-main-5 rounded inline-block z-20">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" class="inline-block fill-like" role="img" aria-labelledby="title-heart" focusable="false"><title id="title-heart">{{ "snippet.tw_icon_heart.title" | t }}</title><path class="inside-heart" fill="transparent" fill-opacity="0" d="M12 8c0 0 0 0 0.76 -1c0.88 -1.16 2.18 -2 3.74 -2c2.49 0 4.5 2.01 4.5 4.5c0 0.93 -0.28 1.79 -0.76 2.5c-0.81 1.21 -8.24 9 -8.24 9c0 0 -7.43 -7.79 -8.24 -9c-0.48 -0.71 -0.76 -1.57 -0.76 -2.5c0 -2.49 2.01 -4.5 4.5 -4.5c1.56 0 2.87 0.84 3.74 2c0.76 1 0.76 1 0.76 1Z"><animate fill="freeze" attributeName="fill-opacity" begin="0.7s" dur="0.15s" values="0;0.3"/></path><path fill="none" stroke="currentColor" stroke-dasharray="32" stroke-dashoffset="32" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8c0 0 0 0 -0.76 -1c-0.88 -1.16 -2.18 -2 -3.74 -2c-2.49 0 -4.5 2.01 -4.5 4.5c0 0.93 0.28 1.79 0.76 2.5c0.81 1.21 8.24 9 8.24 9M12 8c0 0 0 0 0.76 -1c0.88 -1.16 2.18 -2 3.74 -2c2.49 0 4.5 2.01 4.5 4.5c0 0.93 -0.28 1.79 -0.76 2.5c-0.81 1.21 -8.24 9 -8.24 9"><animate fill="freeze" attributeName="stroke-dashoffset" dur="0.7s" values="32;0"/></path></svg>&nbsp;
              <span class="font-semibold font-heading text-sm"><span class="total-users-likes-count">0</span>&nbsp;
              <span class="text-main">{{ 'snippet.card-product.likes' | t }}</span></span>
            </button> 
          </my-like-button>
        </template>
      </div>
      <click-product class="w-full">
        <button class="bg-main-5 border-1 border-main-5 py-3 rounded w-full group relative inline-block overflow-hidden focus:outline-none focus:ring active:bg-main active:text-secondary pointer-events-none" {% if product.selected_or_first_available_variant.available == false %}disabled{% endif %}>
          <span class="ease absolute left-0 top-0 h-0 w-0 border-t-2 border-main transition-all duration-200 group-hover:w-full"> </span>
          <span class="ease absolute right-0 top-0 h-0 w-0 border-r-2 border-main transition-all duration-200 group-hover:h-full"> </span>
          <span class="ease absolute bottom-0 right-0 h-0 w-0 border-b-2 border-main transition-all duration-200 group-hover:w-full"> </span>
          <span class="ease absolute bottom-0 left-0 h-0 w-0 border-l-2 border-main transition-all duration-200 group-hover:h-full"> </span>
          {{ 'sections.product_grid.button' | t }}
        </button>
      </click-product>
    </div>
  </div>
</div>
