{% comment %} 
    Renders a product card 
    Accepts: 
    - product: {Object} The product object 
    - show_secondary_image: {Boolean} Show the secondary image on hover. Default: false (optional) 
    - lazy_load: {Boolean} Image should be lazy loaded. Default: true (optional) 
    - section_id: {String} The ID of the section that contains this card. 
    Usage: 
    {% render 'card-product' %} 
{% endcomment %}

{% liquid
  if product.media[1] != nil
    assign main_image = product.media[1]
  else 
    assign main_image = product.featured_media
  endif
%}

<div class="h-full flex flex-col">
  {%- if product.featured_media -%}
    <div class="relative mb-2 md:mb-5">
      <div class="border-5 border-black h-fit w-fit shadow-[5px_5px_10px_rgba(0,0,0,0.5)] group-hover:shadow-none group-hover:border-transparent duration-100">
        {%- if main_image != nil -%}
          <img
            srcset="{%- if main_image.width >= 200 -%}{{ main_image | image_url: width: 200 }} 200w,{%- endif -%}
              {%- if main_image.width >= 300 -%}{{ main_image | image_url: width: 300 }} 300w,{%- endif -%}
              {%- if main_image.width >= 400 -%}{{ main_image | image_url: width: 400 }} 400w,{%- endif -%}
              {%- if main_image.width >= 500 -%}{{ main_image | image_url: width: 500 }} 500w,{%- endif -%}
              {{ main_image | image_url }} {{ main_image.width }}w"
            src="{{ product.media[1] | image_url: width: 300 }}"
            sizes="(min-width: 768px) 33%, (min-width: 1024px) 300px, 50%"
            alt="{% if product.metafields.meta_object.media.value.alts.value[1] %}{{ product.metafields.meta_object.media.value.alts.value[1] | escape }}{% else %}{{ product.media[1].alt | escape }}{% endif %}"
            loading="lazy"
            width="500"
            height="auto"
            class="skeleton w-full h-full object-contain">
        {%- endif -%}

        {%- if show_secondary_image -%}
          <img
            srcset="{%- if product.featured_media.width >= 200 -%}{{ product.featured_media | image_url: width: 200 }} 200w,{%- endif -%}
              {%- if product.featured_media.width >= 300 -%}{{ product.featured_media | image_url: width: 300 }} 300w,{%- endif -%}
              {%- if product.featured_media.width >= 400 -%}{{ product.featured_media | image_url: width: 400 }} 400w,{%- endif -%}
              {%- if product.featured_media.width >= 500 -%}{{ product.featured_media | image_url: width: 500 }} 500w,{%- endif -%}
              {{ product.featured_media | image_url }} {{ product.featured_media.width }}w"
          src="{{ product.featured_media | image_url: width: 300 }}"
          sizes="(min-width: 768px) 33%, (min-width: 1024px) 300px, 50%"
          alt="{% if product.metafields.meta_object.media.value.alts.value[0] %}{{ product.metafields.meta_object.media.value.alts.value[0] | escape }}{% else %}{{ product.featured_media.alt | escape }}{% endif %}"
          {% unless lazy_load == false %}
          loading="lazy"
          {% endunless %}
          width="500"
          height="auto"
          class="skeleton absolute top-0 left-0 w-full h-full object-cover opacity-0 group-hover:opacity-100 duration-200 rounded-lg {% if product.media[1].width >= product.media[1].height %}object-top{% endif %}">
        {%- endif -%}
    </div>
  {%- endif -%}
  <div class="p-3 flex flex-col justify-between bg-white rounded-lg shadow-lg">
    <h3 class="text-sm">
      <a
        href="{{ product.url }}"
        class="after:absolute after:inset-0 mobile:line-clamp-1 md:line-clamp-2 text-ellipsis-start-mobile"
        tabindex="-1">
        {{ product.title | escape | upcase }}
      </a>
    </h3>
    <div class="mt-2 sm:mt-6 flex justify-between items-center sm:items-end price-and-likes">
      {% render 'my-like-button', product: product, likes_count: product.metafields.likes.number | default: 0 %}
      <template class="likes-count-container-template">
        {% render 'my-like-button'
          , product: product
          , likes_count: 0 %}
      </template>
      <p class="text-sm md:mr-2">
        <strong>{{ product.price_min | money }}</strong>
      </p>
    </div>
  </div>
</div>