{% comment %}
    Renders product addon for the product.

    Accepts:
    - block: {Object} block object
    - product_form_id: {String} product form id

    Usage:
    {% render 'component-product-addon', block: block %}
{% endcomment %}

{%- style -%}
    .product-addon {
        --addon-background: {{ section.settings.text_color | color_modify: 'alpha', 0.03 }};
    }
{%- endstyle -%}

{%- liquid
    assign mattter_images = "toile_forme.jpg,aluminium_forme.jpg,plexiglas_forme.jpg" | split: ','

    assign matter_info_title_canvas = "sections.product_addon.info.matter.canvas.title" | t | append: "|"
    assign matter_info_title_alu = "sections.product_addon.info.matter.aluminum.title" | t | append: "|"
    assign matter_info_title_plexi = "sections.product_addon.info.matter.plexiglass.title" | t
    assign matter_info_titles = matter_info_title_canvas | append: matter_info_title_alu | append: matter_info_title_plexi | split: '|'
    
    assign matter_info_txt_canvas = "sections.product_addon.info.matter.canvas.description" | t | append: "|"
    assign matter_info_txt_alu = "sections.product_addon.info.matter.aluminum.description" | t | append: "|"
    assign matter_info_txt_plexi = "sections.product_addon.info.matter.plexiglass.description" | t
    assign matter_info_txt = matter_info_txt_canvas | append: matter_info_txt_alu | append: matter_info_txt_plexi | split: '|'

    assign matter_info_images = "toile_coin_forme.jpg,aluminium_coin_forme.jpg,plexiglas_coin_forme.jpg" | split: ','

    assign support_images = "sans-fixation.jpg,decoration-murale-corde.jpg,support_crochet.jpg,decoration_murale_RAIL-2.jpg,support_entretoise.jpg" | split: ','

    assign support_info_title_none = "sections.product_addon.info.support.none.title" | t | append: "|"
    assign support_info_title_for_canvas = "sections.product_addon.info.support.for_canvas.title" | t | append: "|"
    assign support_info_title_hook = "sections.product_addon.info.support.hook.title" | t | append: "|"
    assign support_info_title_rails = "sections.product_addon.info.support.rails.title" | t | append: "|"
    assign support_info_title_spacers = "sections.product_addon.info.support.spacers.title" | t
    assign support_info_titles = support_info_title_none | append: support_info_title_for_canvas | append: support_info_title_hook | append: support_info_title_rails | append: support_info_title_spacers | split: '|'

    assign support_info_txt_none = "sections.product_addon.info.support.none.description" | t | append: "|"
    assign support_info_txt_for_canvas = "sections.product_addon.info.support.for_canvas.description" | t | append: "|"
    assign support_info_txt_hook = "sections.product_addon.info.support.hook.description" | t | append: "|"
    assign support_info_txt_rails = "sections.product_addon.info.support.rails.description" | t | append: "|"
    assign support_info_txt_spacers = "sections.product_addon.info.support.spacers.description" | t
    assign support_info_txt = support_info_txt_none | append: support_info_txt_for_canvas | append: support_info_txt_hook | append: support_info_txt_rails | append: support_info_txt_spacers | split: '|'
    
    assign support_info_images = "sans-fixation.jpg,decoration-murale-corde.jpg,support_crochet.jpg,decoration_murale_RAIL-2.jpg,support_entretoise_mur.jpg" | split: ','

    assign matter_by_default = product.first_available_variant.option2
    assign support_by_default = product.first_available_variant.option3

    assign default_size_variants = product.variants | where: "option2", matter_by_default | where: "option3", support_by_default
    assign default_matter_variants = product.variants | where: "option1", default_size_variants.first.option1 | where: "option3", support_by_default
    assign default_support_variants = "0,600,800,1500,3000" | split: ','
    -%}

<show-product-addon>
    <button
        class="addon button button--full-width cart-button component-cart-button"
        style="background:{{ block.settings.background }};color:{{ block.settings.color }};border:{{ block.settings.border_size }}px solid {{ block.settings.color }};border-radius:{{ block.settings.border_radius }}px;"
    >{{ block.settings.text }}</button>
    <div class="product-addon hidden">
        <button class="close">
            {%- render 'icon-close' -%}
        </button>

        <form id="painting-addon">
            <div class="c-grid">
                <div class="grid-left scrollbar-custom">
                    <div class="sticky">
                        <painting-settings>
                            <div class="painting-container">
                                {%- assign size = product.options_with_values.first.values.first | split: 'x' -%}
                                <span class="width"><span>{{ size.first }} cm</span></span>
                                <span class="height"><span>{{ size.last }}</span></span>
                                <span class="corner one"></span><span class="corner two"></span><span class="corner three"></span><span class="corner four"></span>
                                <span class="frame hidden one"></span><span class="frame hidden two"></span><span class="frame hidden three"></span><span class="frame hidden four"></span>
                                <span class="frame-shadow"></span>
                                <div class="painting-wrapper white" thickness="2">
                                    <div class="inside">
                                        <img 
                                            src="{{ product.images[1] | image_url: width: 420 }}" 
                                            alt="Representation du tableau choisi avec ses differentes options comme la taille,la matière, le support, etc"
                                            width="420" 
                                            height="420" 
                                            loading="lazy"
                                            srcset="
                                            {{ product.images[1] | image_url: width: 285 }} 285w,
                                            {{ product.images[1] | image_url: width: 340 }} 340w,
                                            {{ product.images[1] | image_url: width: 420 }}
                                            "
                                            sizes="(max-width: 405px) 285px,(max-width: 460px) 340px,420px"
                                            class="skeleton"
                                        >
                                    </div>
                                </div>
                            </div>
                        </painting-settings>
                        <summary-addon data-currency-symbol="{{ cart.currency.symbol }}">
                            <template class="line">
                                <p class="line-item">
                                    <span>
                                        <span></span>
                                        <span></span>
                                    </span>
                                    <span></span>
                                </p>
                            </template>
                            <div class="summary-left-wrapper">
                                <button type="submit" class="button button--full-width cart-button component-cart-button">
                                    <svg class="hidden" aria-hidden="true" width="30" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                                    <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                                  </svg>
                                  <span>{{ "sections.product_addon.add_to_cart" | t  }}</span>
                                </button>
                                <div class="summary box-style">
                                    <h4 class="h2">{{ "sections.product_addon.summary" | t  }}</h4>
                                    {%- for option in product.options_with_values -%}
                                        <p class="line-item {{ option.name | handleize }}">
                                            <span>
                                                <span>{{ option.name }}: </span>
                                                <span>{{ option.values.first }}</span>
                                            </span>
                                            <span>
                                                {%- if forloop.first -%}
                                                    {{ product.variants.first.price | money }}
                                                {%- else -%}
                                                    {{ 0 | money }}
                                                {%- endif -%}
                                            </span>
                                        </p>
                                    {%- endfor -%}
                                    <hr>
                                    <p><span>{{ "sections.product_addon.price" | t  }}:</span><span class="final-price">{{ product.variants.first.price | money }}</span></p>
                                </div>
                                
                            </div>
                        </summary-addon>
                    </div>
                </div>
                <div class="addon">

                    {%- comment -%} Main product's variant part {%- endcomment -%}
                    {% liquid
                        assign variants_with_default_support = product.variants | where: "option3", support_by_default
                        assign size_list = variants_with_default_support | map: 'option1' | uniq

                        assign array_size_matter_price = "["
                        for size in size_list
                            assign array_size_matter_price = array_size_matter_price | append: "['" | append: size | split: " cm" | first | append: "'"
                            for i in (0..2)
                                assign default_item = forloop.parentloop.index0 | times: 3
                                assign current_item = default_item | plus: i
                                assign addon_price = variants_with_default_support[current_item].price | minus: variants_with_default_support[default_item].price | money
                                assign addon_price_format = "'" | append: addon_price | append: "'"
                                assign array_size_matter_price = array_size_matter_price | append: ", " | append: addon_price_format
                            endfor
                            assign array_size_matter_price = array_size_matter_price | append: "]"
                            unless forloop.last
                                assign array_size_matter_price = array_size_matter_price | append: ","
                            endunless
                        endfor
                        assign array_size_matter_price = array_size_matter_price | append: "]"

                    %}
                    <main-variants data-size-matter-price="{{ array_size_matter_price }}">
                        <main-options-selector data-item-id="{{ product.variants.first.id }}">
                            {% liquid
                                assign title_container_size = "sections.product_addon.title_container.size" | t | append: '|' 
                                assign title_container_matter = "sections.product_addon.title_container.matter" | t | append: '|'
                                assign title_container_system = "sections.product_addon.title_container.system" | t
                                assign title_container = title_container_size | append: title_container_matter | append: title_container_system | split: '|'
                            %}

                            {%- for option in product.options_with_values -%}

                                {%- if forloop.first -%}
                                    <div class="select-container box-style main-variant">
                                {%- else -%}
                                    <div class="radio-container box-style main-variant" data-option-name-handleize="{{ option.name | handleize }}" data-option-name="{{ option.name }}" data-option-first-value="{{ option.values.first }}" data-option-first-price="{{ 0 | money }}">
                                {%- endif -%}
                                    <h3 class="h2">{{ forloop.index }}. {{ title_container[forloop.index0] }}</h3>
                                    {% unless forloop.first %}<div>{% endunless %}
                                        {%- if forloop.first -%}
                                            <select class="select__select" name="{{ option.name | handleize }}" data-order="{{ forloop.index }}">
                                                {%- for value in option.values -%}
                                                    <option value="{{ value }}" data-price="{{ default_size_variants[forloop.index0].price }}">{{ value }} - {{ default_size_variants[forloop.index0].price | money }}</option>
                                                {%- endfor -%}
                                            </select>
                                        {%- else -%}
                                            {%- liquid
                                                if forloop.index == 2
                                                    assign images = mattter_images
                                                    assign info_images = matter_info_images
                                                    assign info_titles = matter_info_titles
                                                    assign info_txts = matter_info_txt
                                                    assign prices = default_matter_variants | map: 'price'
                                                else
                                                    assign images = support_images
                                                    assign info_images = support_info_images
                                                    assign info_titles = support_info_titles
                                                    assign info_txts = support_info_txt
                                                    assign prices = default_support_variants
                                                endif
                                            -%}
                                            {%- for value in option.values -%}
                                                <div class="radio">
                                                    <div>
                                                        <img 
                                                            src="{{ images[forloop.index0] | file_img_url: '372x343' }}" 
                                                            alt="un tableau en {{ value }}, vu de profile" 
                                                            width="372" 
                                                            height="372" 
                                                            loading="lazy"
                                                            srcset="
                                                            {{ images[forloop.index0] | file_img_url: '187x185' }} 187w,
                                                            {{ images[forloop.index0] | file_img_url: '250x250' }} 250w,
                                                            {{ images[forloop.index0] | file_img_url: '372x343' }}
                                                            "
                                                            sizes="(min-width: 950px) 187px,(max-width: 415px) 250px,372px"
                                                            class="skeleton"
                                                        >
                                                        <label for="addon-{{ option.name | handleize }}-{{ value | downcase }}"></label>
                                                        <input type="radio" id="addon-{{ option.name | handleize }}-{{ value | downcase }}" name="{{ option.name | handleize }}" value="{{ value | downcase }}" hidden {% if forloop.first %}checked{% endif %} data-price="{{ prices[forloop.index0] | minus: prices.first }}" data-order="{{ forloop.parentloop.index }}">
                                                        <span class="validator"></span>
                                                        <p>{{ value }}</p>
                                                    </div>
                                                    <div>
                                                        <p class="addon-price">+ {{ prices[forloop.index0] | minus: prices.first | money }}</p>
                                                        <button class="button">
                                                            <svg width="25" height="25" viewBox="0 0 24 24"><g fill="none" stroke="currentColor" stroke-width="2"><circle cx="12" cy="12" r="10"/><path stroke-linecap="round" d="M12 7h.01"/><path stroke-linecap="round" stroke-linejoin="round" d="M10 11h2v5m-2 0h4"/></g></svg>&nbsp;{{ "sections.product_addon.info.button_name" | t }}
                                                        </button>
                                                        <hr>
                                                        <span class="popup-overlay"></span>
                                                        <div class="popup scrollbar-custom">
                                                            <img 
                                                                src="{{ info_images[forloop.index0] | file_img_url: '348x340' }}" 
                                                                alt="le coin d'un tableau en {{ value }}, vu de près" 
                                                                width="348" 
                                                                height="348" 
                                                                loading="lazy"
                                                                srcset="
                                                                {{ info_images[forloop.index0] | file_img_url: '280x280' }} 280w,
                                                                {{ info_images[forloop.index0] | file_img_url: '348x340' }}
                                                                "
                                                                sizes="(max-width: 363px) 280px,348px"
                                                                class="skeleton"
                                                            >
                                                            <h4 class="h2">{{ info_titles[forloop.index0] }}</h4>
                                                            <p>{{ info_txts[forloop.index0] }}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            {%- endfor -%}
                                        {%- endif -%}
                                    {% unless forloop.first %}</div>{% endunless %}
                                </div>
                            {%- endfor -%}
                            <script type="application/json">
                                {{ product.variants | json }}
                            </script>
                        </options-selector>
                    </main-variants>
                    
                    {%- comment -%} Other options part {%- endcomment -%}
                    {%- for i in (1..2) -%}
                        <template id="{% if forloop.first %}canvas{% else %}aluminium{% endif %}">
                            {% if forloop.first %}
                                {% liquid
                                    assign other_option_name = 'options-de-la-toile'
                                    assign option_price_meta_names = 'Épaisseur du chassis-prices,Couleur de bordure-prices,Cadre-prices' | split: ','
                                    assign title_container_thickness = "sections.product_addon.title_container.thickness" | t | append: '|' 
                                    assign title_container_color = "sections.product_addon.title_container.color" | t | append: '|'
                                    assign title_container_frame = "sections.product_addon.title_container.frame" | t
                                    assign title_container = title_container_thickness | append: title_container_color | append: title_container_frame | split: '|'
                                    assign info_thickness_title_2cm = 'sections.product_addon.info.thickness.2cm.title' | t | append: '|'
                                    assign info_thickness_title_4cm = 'sections.product_addon.info.thickness.4cm.title' | t
                                    assign info_thickness_titles = info_thickness_title_2cm | append: info_thickness_title_4cm | split: '|'
                                    assign info_thickness_txt_2cm = 'sections.product_addon.info.thickness.2cm.description' | t | append: '|'
                                    assign info_thickness_txt_4cm = 'sections.product_addon.info.thickness.4cm.description' | t
                                    assign info_thickness_txts = info_thickness_txt_2cm | append: info_thickness_txt_4cm | split: '|'
                                %}
                                <canvas-addon>
                                    <canvas-options-selector data-item-id="{{ all_products[other_option_name].variants.first.id }}" data-forbidden-sizes-small="{{ all_products["options-de-la-toile"].metafields.info.about.value['Tailles-interdites-2cm'] }}" data-forbidden-sizes-big="{{ all_products["options-de-la-toile"].metafields.info.about.value['Tailles-interdites-4cm'] }}" data-forbidden-sizes-frames="{{ all_products["options-de-la-toile"].metafields.info.about.value['Tailles-interdites-cadres'] }}" data-forbidden-sizes-border-no-folded="{{ all_products["options-de-la-toile"].metafields.info.about.value['Taille-interdites-bordures-non-plié'] }}">    
                            {% else %}
                                {%- assign option_price_meta_names = 'Finition-prices' | split: ',' -%}
                                <other-addon>
                                    {%- assign other_option_name = 'options-de-laluminium' -%}
                                    <aluminium-options-selector data-item-id="{{ all_products[other_option_name].variants.first.id }}" data-forbidden-sizes-shine="{{ all_products["options-de-la-toile"].metafields.info.about.value['Taille-interdites-bordures-non-plié'] }}">
    
                            {% endif %}
                            {%- for option in all_products[other_option_name].options_with_values -%}
                                {% liquid
                                    assign option_price_meta_name = option_price_meta_names[forloop.index0]
                                    assign prices = all_products['options-de-la-toile'].metafields.info.about.value[option_price_meta_name] | split: ","
                                %}
                                <div class="radio-container box-style" data-option-name-handleize="{{ option.name | handleize }}" data-option-name="{{ option.name }}" data-option-first-value="{{ option.values.first }}" data-option-first-price="{{ 0 | money }}">
                                    <h3 class="h2">{{ forloop.index | plus: 3 }}. {{ title_container[forloop.index0] }}</h3>
                                    <div>
                                        {%- for value in option.values -%}
                                            <div class="radio">
                                                <div>
                                                    {%- assign image_index = forloop.index0 | plus: count -%}
                                                    {%- if forloop.last -%}
                                                        {%- assign count = count | plus: forloop.length -%}
                                                    {%- endif -%}
                                                    <img 
                                                        src="{{ all_products[other_option_name].images[image_index] | image_url: width: 372 }}" 
                                                        alt="{{ all_products[other_option_name].images[image_index].alt }}" 
                                                        width="372" 
                                                        height="372" 
                                                        loading="lazy"
                                                        srcset="
                                                        {{ all_products[other_option_name].images[image_index] | image_url: width: 187 }} 187w,
                                                        {{ all_products[other_option_name].images[image_index] | image_url: width: 250 }} 250w,
                                                        {{ all_products[other_option_name].images[image_index] | image_url: width: 372 }}
                                                        "
                                                        sizes="(min-width: 950px) 187px,(max-width: 415px) 250px,372px"
                                                        class="skeleton"
                                                    >
                                                    <label for="addon-{{ option.name | handleize }}-{{ value | downcase }}"></label>
                                                    <input type="radio" id="addon-{{ option.name | handleize }}-{{ value | downcase }}" name="{{ option.name | handleize }}" value="{{ value }}" hidden {% if forloop.first %}checked{% endif %} data-price="{{ prices[forloop.index0] }}">
                                                    <span class="validator"></span>
                                                </div>
                                                <p>{{ value }}</p>
                                                <p class="addon-price">+ {{ prices[forloop.index0] | money }}</p>
                                                {%- assign meta_info_title = option.name | append: '-' | append: value | append: '-' | append: 'title' -%}
                                                {%- assign meta_info_description = option.name | append: '-' | append: value | append: '-' | append: 'description' -%}
                                                {%- if forloop.parentloop.first -%}
                                                    {% liquid
                                                        assign count = 1
                                                        unless is_second_lap 
                                                            assign is_second_lap = true
                                                            assign count = 0
                                                        endunless
                                                    %}
                                                    <button class="button">
                                                        <svg width="25" height="25" viewBox="0 0 24 24"><g fill="none" stroke="currentColor" stroke-width="2"><circle cx="12" cy="12" r="10"/><path stroke-linecap="round" d="M12 7h.01"/><path stroke-linecap="round" stroke-linejoin="round" d="M10 11h2v5m-2 0h4"/></g></svg>&nbsp;{{ "sections.product_addon.info.button_name" | t }}
                                                    </button>
                                                    <hr>
                                                    <span class="popup-overlay"></span>
                                                    <div class="popup">
                                                        <img 
                                                            src="{{ all_products[other_option_name].images[image_index] | image_url: width: 348 }}" 
                                                            alt="{{ all_products[other_option_name].images[image_index].alt }}" 
                                                            width="348" 
                                                            height="348" 
                                                            loading="lazy"
                                                            srcset="
                                                            {{ all_products[other_option_name].images[image_index] | image_url: width: 280 }} 280w,
                                                            {{ all_products[other_option_name].images[image_index] | image_url: width: 348 }}
                                                            "
                                                            sizes="(max-width: 363px) 280px,348px"
                                                            class="skeleton"
                                                        >
                                                        <h4 class="h2">{{ info_thickness_titles[count] }}</h4>
                                                        <p>{{ info_thickness_txts[count] }}</p>
                                                    </div>
                                                {%- else -%}
                                                    <hr>
                                                {%- endif -%}
                                            </div>
                                        {%- endfor -%}
                                    </div>
                                </div>
                            {%- endfor -%}
                            {%- assign count = 0 -%}
                            <script type="application/json">
                                {{ all_products[other_option_name].variants | json }}
                            </script>
                            {% if forloop.first %}
                                    </canvas-options-selector>
                                </canvas-addon>
                            {% else %}
                                    </aluminium-options-selector>
                                </other-addon>
                            {% endif %}
                        </template>
                    {%- endfor -%}

                    <summary-addon data-currency-symbol="{{ cart.currency.symbol }}">
                        <template class="line">
                            <p class="line-item">
                                <span>
                                    <span></span>
                                    <span></span>
                                </span>
                                <span></span>
                            </p>
                        </template>
                        <div class="summary right box-style">
                            <h4 class="h2">{{ "sections.product_addon.summary" | t  }}</h4>
                            {%- for option in product.options_with_values -%}
                                <p class="line-item {{ option.name | handleize }}">
                                    <span>
                                        <span>{{ option.name }}: </span>
                                        <span>{{ option.values.first }}</span>
                                    </span>
                                    <span>
                                        {%- if forloop.first -%}
                                            {{ product.variants.first.price | money }}
                                        {%- else -%}
                                            {{ 0 | money }}
                                        {%- endif -%}
                                    </span>
                                </p>
                            {%- endfor -%}
                            <hr>
                            <p><span>{{ "sections.product_addon.price" | t  }}:</span><span class="final-price">{{ product.variants.first.price | money }}</span></p>
                        </div>
                        <button type="submit" class="button button--full-width cart-button component-cart-button">
                            <svg class="hidden" aria-hidden="true" width="30" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                                <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                            </svg>
                            <span>{{ "sections.product_addon.add_to_cart" | t  }}</span>
                        </button>
                    </summary-addon>



                    
                </div>
            </div>
        </form>
    </div>
</show-product-addon>



<script src="{{ 'component-product-addon.js' | asset_url }}" defer="defer"></script>