
<div id="cookies-banner" class="fixed bottom-6 left-5 md:left-16 right-5 bg-secondary border-1 border-main rounded-xl max-w-[550px] px-6 z-50">
  <img src="{{ "cookie.png" | file_img_url: '280x' }}" class="absolute -top-20 left-1/2 -translate-x-1/2 md:-top-16 md:-left-16 md:translate-x-0"/>
  <div class="first ml-auto py-7 pt-52 md:w-1/2 md:pt-7">
    <p>{{ 'sections.cookie-banner.message-1' | t }}<br>{{ 'sections.cookie-banner.message-2' | t }}</p>
    <div class="flex gap-6 md:justify-between mt-6">
      <button onclick="showSettings()" class="underline">{{ 'sections.cookie-banner.parameter' | t }}</button>
      <button onclick="handleAccept()" class="bg-main text-secondary py-3 px-6 rounded-lg">{{ 'sections.cookie-banner.accept' | t }}</button>
    </div>
  </div>
  <form class="second hidden py-7 pt-52 md:w-7/12 ml-auto md:pt-7" onsubmit="handleSettings(event)">
    <p class="text-xl font-heading font-bold mb-4">{{ 'sections.cookie-banner.settings.title' | t }}</p>
    <div class="flex gap-2 items-center mb-3 cursor-pointer relative">
      <div class="inline-block relative w-5 h-5 rounded overflow-hidden cursor-pointer" role="checkbox" aria-checked="true" onclick="handleCheck(this)">
        <input id="cookie-analyse" class="h-full w-full appearance-none border-2 border-main checked:border-0 peer" type="checkbox" name="analytics" checked/>
        <div class="absolute top-0 left-0 h-full w-full -z-10 peer-checked:bg-main"> </div>
        <svg width="12" height="10" viewBox="0 0 12 10" fill="none" xmlns="http://www.w3.org/2000/svg" class="absolute text-secondary top-1 left-1 block -z-10">
          <path d="M4.5 9.20078L0.5 5.20078L1.9 3.80078L4.5 6.40078L10.1 0.800781L11.5 2.20078L4.5 9.20078Z" fill="currentColor"/>
        </svg>
      </div>
      <label for="cookie-analyse" class="cursor-pointer">
        {{ 'sections.cookie-banner.settings.analytics' | t }} 
      </label>
    </div>
    <div class="flex gap-2 items-center mb-3 cursor-pointer relative">
      <div class="inline-block relative w-5 h-5 rounded overflow-hidden cursor-pointer" role="checkbox" aria-checked="true" onclick="handleCheck(this)">
        <input id="cookie-marketing" class="h-full w-full appearance-none border-2 border-main checked:border-0 peer" type="checkbox" name="marketing" checked/>
        <div class="absolute top-0 left-0 h-full w-full -z-10 peer-checked:bg-main"> </div>
        <svg width="12" height="10" viewBox="0 0 12 10" fill="none" xmlns="http://www.w3.org/2000/svg" class="absolute text-secondary top-1 left-1 block -z-10">
          <path d="M4.5 9.20078L0.5 5.20078L1.9 3.80078L4.5 6.40078L10.1 0.800781L11.5 2.20078L4.5 9.20078Z" fill="currentColor"/>
        </svg>
      </div>
      <label for="cookie-marketing" class="cursor-pointer">
        {{ 'sections.cookie-banner.settings.marketing' | t }}
      </label>
    </div>
    <div class="block gap-2 mb-3 cursor-pointer relative">
      <div class="inline-block relative w-5 h-5 rounded overflow-hidden cursor-pointer mr-1" role="checkbox" aria-checked="true" onclick="handleCheck(this)">
        <input id="cookie-preferences" class="h-full w-full appearance-none border-2 border-main checked:border-0 peer" type="checkbox" name="preferences" checked/>
        <div class="absolute top-0 left-0 h-full w-full -z-10 peer-checked:bg-main"> </div>
        <svg width="12" height="10" viewBox="0 0 12 10" fill="none" xmlns="http://www.w3.org/2000/svg" class="absolute text-secondary top-1 left-1 block -z-10">
          <path d="M4.5 9.20078L0.5 5.20078L1.9 3.80078L4.5 6.40078L10.1 0.800781L11.5 2.20078L4.5 9.20078Z" fill="currentColor"/>
        </svg>
      </div>
      <label for="cookie-preferences" class="cursor-pointer">
        {{ 'sections.cookie-banner.settings.preferences' | t }}
      </label>
    </div>
    <div class="block gap-2 mb-3 cursor-pointer relative">
      <div class="inline-block relative w-5 h-5 rounded overflow-hidden cursor-pointer mr-1" role="checkbox" aria-checked="true" onclick="handleCheck(this)">
        <input id="cookie-sale_of_data" class="h-full w-full appearance-none border-2 border-main checked:border-0 peer" type="checkbox" name="sale_of_data" checked/>
        <div class="absolute top-0 left-0 h-full w-full -z-10 peer-checked:bg-main"> </div>
        <svg width="12" height="10" viewBox="0 0 12 10" fill="none" xmlns="http://www.w3.org/2000/svg" class="absolute text-secondary top-1 left-1 block -z-10">
          <path d="M4.5 9.20078L0.5 5.20078L1.9 3.80078L4.5 6.40078L10.1 0.800781L11.5 2.20078L4.5 9.20078Z" fill="currentColor"/>
        </svg>
      </div>
      <label for="cookie-sale_of_data" class="cursor-pointer">
        {{ 'sections.cookie-banner.settings.sale_of_data' | t }}
      </label>
    </div>
    <button class="block bg-main py-3 text-center text-secondary w-full rounded mb-2" onclick="handleAccept()">{{ 'sections.cookie-banner.settings.accept_button' | t }}</button>
    <button class="block border-main border-1 py-3 text-center w-full rounded" type="submit">{{ 'sections.cookie-banner.settings.save_button' | t }}</button>
  </form>
</div>

<script>
  function getBannerEl() {
    return document.getElementById('cookies-banner');
  }

  function hideBanner(res) {
    getBannerEl().style.display = 'none';
  }

  function showBanner() {
   getBannerEl().classList.add('bounce');
  }

  function handleCheck(div) {
    const isChecked = div.getAttribute('aria-checked') === 'true';
    div.setAttribute('aria-checked', !isChecked);
  }

  function handleAccept(e) {
    window.Shopify.customerPrivacy.setTrackingConsent(true, hideBanner);

    document.addEventListener('trackingConsentAccepted',function() {
      console.log('trackingConsentAccepted event fired');
    });
  }

  function showSettings() {
    document.querySelector('#cookies-banner > div.first').classList.add('hidden');
    document.querySelector('#cookies-banner > .second').classList.remove('hidden');
  }

  function handleSettings(event) {
    event.preventDefault();
    const form = event.target;
    const inputs = Array.from(form.elements);

    const formValues = {};
    inputs.forEach(input => {
         if (input.type !== 'submit') {
            formValues[input.name] = input.checked;
        }
    });

    window.Shopify.customerPrivacy.setTrackingConsent(formValues,() => {
      hideBanner()
      console.log("Consent captured")
      });
  }

  function initCookieBanner() {
    const userCanBeTracked = window.Shopify.customerPrivacy.userCanBeTracked();
    const userTrackingConsent = window.Shopify.customerPrivacy.getTrackingConsent();

    if(!userCanBeTracked && userTrackingConsent === 'no_interaction') {
      showBanner();
    }
  }

  setTimeout(() => {
    window.Shopify.loadFeatures([
      {
        name: 'consent-tracking-api',
        version: '0.1',
      }
    ],
    function(error) {
      if (error) {
        throw error;
      }
      initCookieBanner();
    });
  }, 2000);
</script>