{% comment %}
  Renders list social that can be obfuscated.

    Accepts:
    - ul_class: {String} class to add to the ul element.
    - to_obfuscate: {Boolean} If true, social media links will be obfuscated.

    Usage:
    {% render 'list-social', ul_class: 'list' to_obfuscate: true %}
{% endcomment %}

<ul class="{{ ul_class }} list-unstyled list-social" role="list">
    {%- if settings.social_twitter_link != blank -%}
      <li class="list-social__item">
        {%- if to_obfuscate -%}
          <span class="link list-social__link obfuscate" data-url64="{{ settings.social_twitter_link | base64_encode }}" data-blank="true">
            {%- render 'icon-twitter' -%}
            <span class="visually-hidden">{{ 'general.social.links.twitter' | t }}</span>
          </span>
        {%- else -%}
          <a href="{{ settings.social_twitter_link }}" class="link list-social__link">
            {%- render 'icon-twitter' -%}
            <span class="visually-hidden">{{ 'general.social.links.twitter' | t }}</span>
          </a>
        {%- endif -%}
      </li>
    {%- endif -%}
    {%- if settings.social_facebook_link != blank -%}
      <li class="list-social__item">
        {%- if to_obfuscate -%}
          <span class="link list-social__link obfuscate" data-url64="{{ settings.social_facebook_link | base64_encode }}" data-blank="true">
            {%- render 'icon-facebook' -%}
            <span class="visually-hidden">{{ 'general.social.links.facebook' | t }}</span>
          </span>
        {%- else -%}
          <a href="{{ settings.social_facebook_link }}" class="link list-social__link">
            {%- render 'icon-facebook' -%}
            <span class="visually-hidden">{{ 'general.social.links.facebook' | t }}</span>
          </a>
        {%- endif -%}
      </li>
    {%- endif -%}
    {%- if settings.social_pinterest_link != blank -%}
      <li class="list-social__item">
        {%- if to_obfuscate -%}
          <span class="link list-social__link obfuscate" data-url64="{{ settings.social_pinterest_link | base64_encode }}" data-blank="true">
            {%- render 'icon-pinterest' -%}
            <span class="visually-hidden">{{ 'general.social.links.pinterest' | t }}</span>
          </span>
        {%- else -%}
          <a href="{{ settings.social_pinterest_link }}" class="link list-social__link">
            {%- render 'icon-pinterest' -%}
            <span class="visually-hidden">{{ 'general.social.links.pinterest' | t }}</span>
          </a>
        {%- endif -%}
      </li>
    {%- endif -%}
    {%- if settings.social_instagram_link != blank -%}
      <li class="list-social__item">
        {%- if to_obfuscate -%}
          <span class="link list-social__link obfuscate" data-url64="{{ settings.social_instagram_link | base64_encode }}" data-blank="true">
            {%- render 'icon-instagram' -%}
            <span class="visually-hidden">{{ 'general.social.links.instagram' | t }}</span>
          </span>
        {%- else -%}
          <a href="{{ settings.social_instagram_link }}" class="link list-social__link">
            {%- render 'icon-instagram' -%}
            <span class="visually-hidden">{{ 'general.social.links.instagram' | t }}</span>
          </a>
        {%- endif -%}
      </li>
    {%- endif -%}
    {%- if settings.social_tiktok_link != blank -%}
      <li class="list-social__item">
        {%- if to_obfuscate -%}
          <span class="link list-social__link obfuscate" data-url64="{{ settings.social_tiktok_link | base64_encode }}" data-blank="true">
            {%- render 'icon-tiktok' -%}
            <span class="visually-hidden">{{ 'general.social.links.tiktok' | t }}</span>
          </span>
        {%- else -%}
          <a href="{{ settings.social_tiktok_link }}" class="link list-social__link">
            {%- render 'icon-tiktok' -%}
            <span class="visually-hidden">{{ 'general.social.links.tiktok' | t }}</span>
          </a>
        {%- endif -%}
      </li>
    {%- endif -%}
    {%- if settings.social_tumblr_link != blank -%}
      <li class="list-social__item">
        {%- if to_obfuscate -%}
          <span class="link list-social__link obfuscate" data-url64="{{ settings.social_tumblr_link | base64_encode }}" data-blank="true">
            {%- render 'icon-tumblr' -%}
            <span class="visually-hidden">{{ 'general.social.links.tumblr' | t }}</span>
          </span>
        {%- else -%}
          <a href="{{ settings.social_tumblr_link }}" class="link list-social__link">
            {%- render 'icon-tumblr' -%}
            <span class="visually-hidden">{{ 'general.social.links.tumblr' | t }}</span>
          </a>
        {%- endif -%}
      </li>
    {%- endif -%}
    {%- if settings.social_snapchat_link != blank -%}
      <li class="list-social__item">
        {%- if to_obfuscate -%}
          <span class="link list-social__link obfuscate" data-url64="{{ settings.social_snapchat_link | base64_encode }}" data-blank="true">
            {%- render 'icon-snapchat' -%}
            <span class="visually-hidden">{{ 'general.social.links.snapchat' | t }}</span>
          </span>
        {%- else -%}
          <a href="{{ settings.social_snapchat_link }}" class="link list-social__link">
            {%- render 'icon-snapchat' -%}
            <span class="visually-hidden">{{ 'general.social.links.snapchat' | t }}</span>
          </a>
        {%- endif -%}
      </li>
    {%- endif -%}
    {%- if settings.social_youtube_link != blank -%}
      <li class="list-social__item">
        {%- if to_obfuscate -%}
          <span class="link list-social__link obfuscate" data-url64="{{ settings.social_youtube_link | base64_encode }}" data-blank="true">
            {%- render 'icon-youtube' -%}
            <span class="visually-hidden">{{ 'general.social.links.youtube' | t }}</span>
          </span>
        {%- else -%}
          <a href="{{ settings.social_youtube_link }}" class="link list-social__link">
            {%- render 'icon-youtube' -%}
            <span class="visually-hidden">{{ 'general.social.links.youtube' | t }}</span>
          </a>
        {%- endif -%}
      </li>
    {%- endif -%}
    {%- if settings.social_vimeo_link != blank -%}
      <li class="list-social__item">
        {%- if to_obfuscate -%}
          <span class="link list-social__link obfuscate" data-url64="{{ settings.social_vimeo_link | base64_encode }}" data-blank="true">
            {%- render 'icon-vimeo' -%}
            <span class="visually-hidden">{{ 'general.social.links.vimeo' | t }}</span>
          </span>
        {%- else -%}
          <a href="{{ settings.social_vimeo_link }}" class="link list-social__link">
            {%- render 'icon-vimeo' -%}
            <span class="visually-hidden">{{ 'general.social.links.vimeo' | t }}</span>
          </a>
        {%- endif -%}
      </li>
    {%- endif -%}
  </ul>