{% comment %}
  Renders a like button for a product.
  Accepts:
  - product: {Object}
  - likes_count: {Number}

  Usage:
  {% render 'my-like-button', product: product, likes_count: 0 %}
{% endcomment %}

{% liquid
  if likes_count == blank
    assign likes_count = 0
  endif
%}

<my-like-button data-product-id="{{ product.id }}" data-product-handle="{{ product.handle }}">
    <button class="like relative py-2 px-3 bg-main-5 rounded inline-block z-20 mb-4">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" class="inline-block fill-like" role="img" aria-labelledby="title-heart" focusable="false"><title id="title-heart">{{ "snippet.tw_icon_heart.title" | t }}</title><path class="inside-heart" fill="transparent" fill-opacity="0" d="M12 8c0 0 0 0 0.76 -1c0.88 -1.16 2.18 -2 3.74 -2c2.49 0 4.5 2.01 4.5 4.5c0 0.93 -0.28 1.79 -0.76 2.5c-0.81 1.21 -8.24 9 -8.24 9c0 0 -7.43 -7.79 -8.24 -9c-0.48 -0.71 -0.76 -1.57 -0.76 -2.5c0 -2.49 2.01 -4.5 4.5 -4.5c1.56 0 2.87 0.84 3.74 2c0.76 1 0.76 1 0.76 1Z"><animate fill="freeze" attributeName="fill-opacity" begin="0.7s" dur="0.15s" values="0;0.3"/></path><path fill="none" stroke="currentColor" stroke-dasharray="32" stroke-dashoffset="32" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8c0 0 0 0 -0.76 -1c-0.88 -1.16 -2.18 -2 -3.74 -2c-2.49 0 -4.5 2.01 -4.5 4.5c0 0.93 0.28 1.79 0.76 2.5c0.81 1.21 8.24 9 8.24 9M12 8c0 0 0 0 0.76 -1c0.88 -1.16 2.18 -2 3.74 -2c2.49 0 4.5 2.01 4.5 4.5c0 0.93 -0.28 1.79 -0.76 2.5c-0.81 1.21 -8.24 9 -8.24 9"><animate fill="freeze" attributeName="stroke-dashoffset" dur="0.7s" values="32;0"/></path></svg>&nbsp;
        <span class="font-semibold font-heading text-sm"><span class="total-users-likes-count text-main">{{ likes_count }}</span>&nbsp;
        <span class="text-main">{{ 'snippet.card-product.likes' | t }}</span></span>
    </button>
</my-like-button>