{% comment %}
  Accepts:
  - product: {Object} product object.
  - block: {Object} passing the block information.
{% endcomment %}

{%- unless product.has_only_default_variant -%}
    <div class="pt-2 mb-6 mx-4">
        {%- for option in product.options_with_values -%}
            <div class="container flex gap-3 flex-wrap font-heading font-semibold py-4">
                {%- for value in option.values -%}
                    {% if value.available %}
                        <variant-picker data-option="option{{ option.position }}" data-option-value="{{ value }}" data-price-pattern="{{ product.price_min | money }}" data-variant-price="{{ value.price | money }}">
                            <label class="cursor-pointer">
                                <input
                                    type="radio"
                                    name="option{{ option.position }}"
                                    value="{{ value }}"
                                    class="peer hidden"
                                    {% if value.selected %}checked{% endif %}>
                                <span class="block px-4 py-2 rounded-lg bg-white peer-checked:bg-main-90 peer-checked:text-secondary transition-all duration-100 shadow-neu-lg hover:shadow-neu-md border-neu peer-checked:border-transparent">
                                    {{ value }}
                                </span>
                            </label>
                        </variant-picker>
                    {% endif %}
                {% endfor %}
            </div>
            {% unless forloop.last %}
                <hr>
            {% endunless %}
        {%- endfor -%}
    </div>
    <script type="application/json" id="variants-data-json">
      {{ product.variants | json }}
    </script>
{%- endunless -%}
  