<sticky-header class="transition-colors duration-500 border-b border-solid border-main relative">
  <div>
    <div class="bg-secondary py-4 px-14 flex items-center justify-center md:justify-between border-b border-solid border-main">
      {% comment %} start on mobile {% endcomment %}
      <details class="inline-block h-full md:hidden">
        <summary class="group menu-opener list-none cursor-pointer">
          <span class="group-focus-visible:border-2 group-focus-visible:border-main rounded mobile-menu absolute left-5 top-1/2 -translate-y-1/2">
            <span class="hamburger" aria-hidden="false">{% render 'tw-icon-hamburger' %}</span>
            <span class="close hidden" aria-hidden="true">{% render 'tw-icon-close' %}</span>
          </span>
        </summary>
        <nav class="bg-secondary absolute bottom-0 left-0 right-0 border-t border-solid border-main close-nav transition-all duration-150 -z-10 h-[calc(100vh-80px)] overflow-y-auto scrollbar grid grid-rows-[1fr_auto]" role="dialog" aria-modal="true" aria-label="{{ "tw.header.accessibility.navigation" | t }}">
          <ul class="py-8 px-5 gap-y-3 relative overflow-hidden">
            {% for block in section.blocks %}
              {% if block.type == "collection_only" %}
                <li class="obfuscate flex items-center gap-3 hover:bg-main-5 p-3 rounded-lg cursor-pointer" data-url64="{{ block.settings.collection.url | base64_encode }}" tabindex="0">
                  {% if block.settings.collection.featured_image != blank %}
                    {{ block.settings.collection.featured_image | image_url: width: 45, height: 45 | image_tag: width: 45, height: 45, alt: block.settings.collection.featured_image.alt,loading: 'lazy', class: 'rounded-md' }}
                  {% endif %}
                  {{ block.settings.collection.title | escape }}
                </li>
              {% elsif block.type == "product_only" %}
                <li class="obfuscate flex items-center gap-3 hover:bg-main-5 p-3 rounded-lg cursor-pointer" data-url64="{{ block.settings.product.url | base64_encode }}" tabindex="0">
                  {% if block.settings.product.images[1] != blank %}
                    {{ block.settings.product.images[1] | image_url: width: 45, height: 45 | image_tag: width: 45, height: 45, alt: block.settings.product.images[1].alt,loading: 'lazy', class: 'rounded-md' }}
                  {% elsif block.settings.product.images[0] != blank %}
                    {{ block.settings.product.images[0] | image_url: width: 45, height: 45 | image_tag: width: 45, height: 45, alt: block.settings.product.images[0].alt,loading: 'lazy', class: 'rounded-md' }}
                  {% endif %}
                  {{ block.settings.product.title | escape }}
                </li>
              {% elsif block.type == "page_only" %}
                <li class="obfuscate flex items-center gap-3 hover:bg-main-5 p-3 rounded-lg cursor-pointer" data-url64="{{ block.settings.page.url | base64_encode }}" tabindex="0">
                  {% if block.settings.image != blank %}
                    {{ block.settings.image | image_url: width: 45, height: 45 | image_tag: width: 45, height: 45, alt: block.settings.image.alt, loading: 'lazy', class: 'rounded-md' }}
                  {% endif %}
                  {{ block.settings.page.title | escape }}
                </li>
              {% elsif block.type == "parent_collection_images" %}
                <li class="details-wrapper group/one hover:bg-main-5 p-3 rounded-lg cursor-pointer">
                  <details>
                    <summary class="list-none flex items-center justify-between gap-3">
                      <div class="flex items-center gap-3">
                        {% if block.settings.product.images[1] != blank %}
                          {{ block.settings.product.images[1] | image_url: width: 45, height: 45 | image_tag: width: 45, height: 45, alt: block.settings.product.images[1].alt, loading: 'lazy', class: 'rounded-md' }}
                        {% endif %}
                        {{ block.settings.title | escape }}
                      </div>
                      {% render 'tw-icon-arrow', group_one: true %}
                    </summary>
                    <div class="absolute inset-0 bg-secondary py-8 px-5 transition-all duration-150 translate-x-full overflow-y-scroll overflow-x-hidden">
                      <h3 class="group bg-main-5 cursor-pointer py-2 px-4 rounded-md mb-2 text-xl" tabindex="0" role="button" aria-label="{{ "tw.header.back" | t }}">
                        <span class="mr-2">{% render 'tw-icon-arrow', direction: "left", width: "40" %}</span>
                        {{ block.settings.title }}
                      </h3>
                      <ul class="gap-y-3 ">
                        {% for collection in block.settings.child_collection_list %}
                          <li class="obfuscate flex items-center gap-3 hover:bg-main-5 p-3 rounded-lg cursor-pointer" data-url64="{{ collection.url | base64_encode }}" tabindex="0">
                            {% if collection.featured_image != blank %}
                              {{ collection.featured_image | image_url: width: 45, height: 45 | image_tag: width: 45, height: 45, alt: collection.featured_image.alt, loading: 'lazy', class: 'rounded-md' }}
                            {% endif %}
                            {{ collection.title | escape }}
                          </li>
                        {% endfor %}
                      </ul>
                    </div>
                  </details>
                </li>
              {% else %}
                <li class="details-wrapper group/one hover:bg-main-5 p-3 rounded-lg cursor-pointer">
                  <details>
                    <summary class="list-none flex items-center justify-between gap-3">
                      <div class="flex items-center gap-3">
                        {% if block.settings.product.images[1] != blank %}
                          {{ block.settings.product.images[1] | image_url: width: 45, height: 45 | image_tag: width: 45, height: 45, alt: block.settings.product.images[1].alt, loading: 'lazy', class: 'rounded-md' }}
                        {% endif %}
                        {{ block.settings.title | escape }}
                      </div>
                      {% render 'tw-icon-arrow', group_one: true %}
                    </summary>
                    <div class="absolute inset-0 bg-secondary py-8 px-5 transition-all duration-150 translate-x-full overflow-y-scroll overflow-x-hidden">
                      <h3 class="group bg-main-5 cursor-pointer py-2 px-4 rounded-md mb-2 text-xl" tabindex="0" role="button" aria-label="{{ "tw.header.back" | t }}">
                        <span class="mr-2">{% render 'tw-icon-arrow', direction: "left", width: "40" %}</span>
                        {{ block.settings.title | escape }}
                      </h3>
                      <ul class="gap-y-3">
                        {% liquid
                          assign sections_count = 0
                          if block.settings.child_collection_list_1_section != blank
                            assign sections_count = sections_count | plus: 1
                          endif
                          if block.settings.child_collection_list_2_section != blank
                            assign sections_count = sections_count | plus: 1
                          endif
                          if block.settings.child_collection_list_3_section != blank
                            assign sections_count = sections_count | plus: 1
                          endif
                          if block.settings.child_collection_list_4_section != blank
                            assign sections_count = sections_count | plus: 1
                          endif
                        %}
                        {% for id in (1..sections_count) %}
                          {% liquid
                            assign collection_id = "child_collection_list_" | append: id | append: '_section'
                                                 assign collection_list = block.settings[collection_id]
                            assign title_id = "title_" | append: id | append: '_section'
                          %}
                          <li class="details-wrapper group/one hover:bg-main-5 p-3 rounded-lg cursor-pointer">
                            <details>
                              <summary class="list-none flex items-center justify-between gap-3">
                                <div class="flex items-center gap-3">
                                  {% if block.settings.product.images[1] != blank %}
                                    {{ block.settings.product.images[1] | image_url: width: 45, height: 45 | image_tag: width: 45, height: 45, alt: block.settings.product.images[1].alt, loading: 'lazy', class: 'rounded-md' }}
                                  {% endif %}
                                  {{ block.settings[title_id] | escape }}
                                </div>
                                {% render 'tw-icon-arrow', group_one: true %}
                              </summary>
                              <div class="absolute inset-0 bg-secondary py-8 px-5 transition-all duration-150 translate-x-full overflow-y-scroll overflow-x-hidden">
                                <h3 class="group bg-main-5 cursor-pointer py-2 px-4 rounded-md mb-2 text-xl" tabindex="0" role="button" aria-label="{{ "tw.header.back" | t }}">
                                  <span class="mr-2">{% render 'tw-icon-arrow', direction: "left", width: "40" %}</span>
                                  {{ block.settings[title_id] | escape }}
                                </h3>
                                <ul class="gap-y-3">
                                  {% for collection in block.settings[collection_id] %}
                                    <li class="obfuscate flex items-center gap-3 hover:bg-main-5 p-3 rounded-lg cursor-pointer" data-url64="{{ collection.url | base64_encode }}" tabindex="0">
                                      {% if collection.featured_image != blank %}
                                        {{ collection.featured_image | image_url: width: 45, height: 45 | image_tag: width: 45, height: 45, alt: collection.featured_image.alt, loading: 'lazy', class: 'rounded-md' }}
                                      {% endif %}
                                      {{ collection.title | escape }}
                                    </li>
                                  {% endfor %}
                                </ul>
                              </div>
                            </details>
                          </li>
                        {% endfor %}
                      </ul>
                    </div>
                  </details>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
          <div class="pb-16 pt-6 bg-main text-secondary">
            {% render 'tw-list-social' %}
          </div>
        </nav>
      </details>
      {% comment %} end on mobile {% endcomment %}
      <h2 class="header__heading cursor-pointer inline-flex items-center obfuscate translate-x-10 md:translate-x-0 text-2xl sm:text-3xl" data-url64="Lw==">
        {% if section.settings.logo_svg != blank %}
          {{ section.settings.logo_svg }}
        {% else %}
          {% render 'tw-default-logo' %}
        {% endif %}
        <span class="ml-3 hidden xs:inline">MyselfMonArt</span>
      </h2>
    
      <span class="obfuscate ml-6 cursor-pointer" data-url64="{{ pages["mes-j-aimes"].url | base64_encode }}">
        <span class="hidden md:inline-block">{{ "tw.header.my_likes" | t }} &nbsp;{% render 'tw-icon-heart' %}</span>
      </span>
    </div>
    {% comment %} start on desktop {% endcomment %}
    <nav class="hidden md:block bg-secondary border-b border-solid border-main pl-10 pr-[15%]" role="dialog" aria-modal="true" aria-label="{{ "tw.header.accessibility.navigation" | t }}">
      <ul id="desktop-upper-nav" class="flex justify-center items-center gap-4 2xl:gap-9" role="menu">
        {% for block in section.blocks %}
          {% if block.type == "collection_only" %}
            <li class="obfuscate cursor-pointer p-3 outline-none hover:bg-main-5 focus:bg-main-5" data-url64="{{ block.settings.collection.url | base64_encode }}" tabindex="0">
              {{ block.settings.collection.title | escape }}
            </li>
          {% elsif block.type == "product_only" %}
            <li class="obfuscate cursor-pointer p-3 outline-none hover:bg-main-5 focus:bg-main-5" data-url64="{{ block.settings.product.url | base64_encode }}" tabindex="0">
              {{ block.settings.product.title | escape }}
            </li>
          {% elsif block.type == "page_only" %}
            <li class="obfuscate cursor-pointer p-3 outline-none hover:bg-main-5 focus:bg-main-5" data-url64="{{ block.settings.page.url | base64_encode }}" tabindex="0">
              {{ block.settings.page.title | escape }}
            </li>
          {% elsif block.type == "parent_collection_images" %}
            {% liquid
              assign id = forloop.index
              assign li_count = section.blocks | size
              assign transform_shift = forloop.index | times: 100 | divided_by: li_count
              if transform_shift > 50
                assign leftShift = '100%'
              else
                assign leftShift = '0'
                assign transform_shift = transform_shift | divided_by: 2
              endif
            %}
            <li class="group relative cursor-pointer p-3 outline-none hover:bg-main-5 focus:bg-main-5" tabindex="0" aria-haspopup="true" aria-expanded="false">
              <span {% if block.settings.link != blank %}class="obfuscate before:absolute before:inset-0" data-url64="{{ block.settings.link | base64_encode }}" tabindex="0"{% endif %}>
                {{ block.settings.title | escape }}
              </span>
              <ul class="hidden group-hover:grid absolute -bottom-[1px] bg-secondary p-3 gap-3 min-w-max cursor-default rounded-b" style="transform:translate(-{{ transform_shift }}%,100%);left:{{ leftShift }};grid-template-columns:var(--desktop-nav-cols-{{ id }});grid-template-rows:var(--desktop-nav-rows-{{ id }});" role="menu">
                {% for collection in block.settings.child_collection_list %}
                  {% liquid
                    if forloop.length < 2
                      assign img_width = 200
                      assign img_height = 300
                      assign desktop_nav_cols = "auto"
                      assign desktop_nav_rows = "auto"
                    elsif forloop.length < 5
                      assign img_width = 200
                      assign img_height = 300
                      assign desktop_nav_cols = "auto auto"
                      assign desktop_nav_rows = "auto auto"
                    elsif forloop.length < 7
                      assign img_width = 200
                      assign img_height = 300
                      assign desktop_nav_cols = "auto auto auto"
                      assign desktop_nav_rows = "auto auto"
                    else
                      assign img_width = 150
                      assign img_height = 225
                      assign desktop_nav_cols = "auto auto auto"
                      assign desktop_nav_rows = "auto auto auto"
                    endif
                  %}
                  <style>
                    :root {
                      --desktop-nav-cols-{{ id }}: {{ desktop_nav_cols }};
                      --desktop-nav-rows-{{ id }}: {{ desktop_nav_rows }};
                    }
                  </style>
                  <li class="group/link relative obfuscate cursor-pointer before:absolute before:bottom-0 before:w-full before:h-1/2 before:z-10 before:bg-gradient-to-t before:from-black/80 before:to-transparent rounded overflow-hidden outline-none{% if forloop.first %} first-elem{% endif %}{% if forloop.last %} last-elem{% endif %}" data-url64="{{ collection.url | base64_encode }}" tabindex="-1">
                    {% if collection.featured_image != blank %}
                      {{ collection.featured_image | image_url: width: img_width, height: img_height | image_tag: width: img_width, height: img_height, alt: collection.featured_image.alt, loading: 'lazy', class: 'max-w-none transition-all duration-300 ease-out group-hover/link:scale-110 group-focus/link:scale-110' }}
                    {% endif %}
                    <p class="absolute z-20 bottom-4 text-xl text-secondary text-center w-full">
                      {{ collection.title | escape }}
                    </p>
                  </li>
                {% endfor %}
                </ul>
            </li>
          {% else %}
            {% liquid
                assign id = forloop.index
                assign li_count = section.blocks | size
                assign transform_shift = forloop.index | times: 100 | divided_by: li_count
                if transform_shift > 50
                  assign leftShift = '100%'
                else
                  assign leftShift = '0'
                  assign transform_shift = transform_shift | divided_by: 2
                endif
              %}
            <li class="group relative cursor-pointer p-3 outline-none hover:bg-main-5 focus:bg-main-5" tabindex="0" aria-haspopup="true" aria-expanded="false">
              <span {% if block.settings.link != blank %}class="obfuscate before:absolute before:inset-0" data-url64="{{ block.settings.link | base64_encode }}" tabindex="0"{% endif %}>
                {{ block.settings.title | escape }}
              </span>
              <ul class="hidden group-hover:grid grid-cols-[auto_auto_auto] grid-rows-[auto_auto_auto] absolute translate-y-full -bottom-[1px] bg-secondary p-3 gap-x-5 gap-y-3 min-w-max cursor-default rounded-b" style="transform:translate(-{{ transform_shift }}%,100%);left:{{ leftShift }};" role="menu">
                {% liquid
                  assign sections_count = 0
                  if block.settings.child_collection_list_1_section != blank
                    assign sections_count = sections_count | plus: 1
                  endif
                  if block.settings.child_collection_list_2_section != blank
                    assign sections_count = sections_count | plus: 1
                  endif
                  if block.settings.child_collection_list_3_section != blank
                    assign sections_count = sections_count | plus: 1
                  endif
                  if block.settings.child_collection_list_4_section != blank
                    assign sections_count = sections_count | plus: 1
                  endif
                %}
                {% for id in (1..sections_count) %}
                  {% liquid
                    assign collection_id = "child_collection_list_" | append: id | append: '_section'
                    assign collection_list = block.settings[collection_id]
                    assign title_id = "title_" | append: id | append: '_section'
                  %}
                  <li class="no-focusable">
                    <span class="block bg-main-10 py-2 px-4 font-heading rounded-lg mb-3">{{ block.settings[title_id] }}</span>
                    <ul class="pl-2" tabindex="-1">
                      {% for collection in collection_list %}
                        <li class="obfuscate cursor-pointer py-1 px-2 rounded-md hover:bg-main-5 focus:bg-main-5 outline-none {% if forloop.first and forloop.parentloop.first %} first-elem{% endif %}{% if forloop.last and forloop.parentloop.last %} last-elem{% endif %}" data-url64="{{ collection.url | base64_encode }}" tabindex="-1">
                          {{ collection.title | escape }}
                        </li>
                      {% endfor %}
                    </ul>
                  </li>
                {% endfor %}
              </ul>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </nav>
    {% comment %} end on desktop {% endcomment %}
    
    {% if template.name != 'cart' %}
      <button id="cart-button" class="absolute right-[5%] bottom-0 translate-y-1/2 bg-secondary border border-solid border-main w-16 h-[45px] xs:w-20 xs:h-[50px] rounded-[50px] flex justify-center items-center transition-all duration-75" role="button" aria-label="{{ "tw.header.open_cart" | t }}">
        {% render 'tw-icon-bag' %}
        <div class="absolute top-1/2 left-1/2 -translate-y-1 bg-secondary text-sm w-5 h-5 rounded-full overflow-hidden after:bg-main-10 after:absolute after:inset-0" id="bubble-nb-product">
          {%- if cart != empty -%}
            {%- if cart.item_count < 100 -%}
              <span aria-hidden="true">{{ cart.item_count }}</span>
            {%- endif -%}
            <span class="sr-only">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
          {%- endif -%}
          </div>
      </button>
    {% endif %}
  </div>
</sticky-header>