{%- if section.settings.title != blank -%}
  <h2 class="text-center mb-16">{{ section.settings.title }}</h2>
{%- endif -%}
<div class="grid grid-cols-{{ section.settings.nb_columns_on_mobile }} md:grid-cols-{{ section.settings.nb_columns_on_computer }} gap-16 mx-4">
  {%- for block in section.blocks -%}
    <div>
      {% case block.type %}
        {%- when "svg_block" -%}
          <div class="mx-auto flex justify-center items-center text-5xl mb-7{% if block.settings.background_plus_border %} border border-main rounded-full w-28 h-28 bg-main-5{% endif %}">
            {% style %}
              .badge-svg-{{ forloop.index }} svg {
                width: {{ block.settings.logo_size }}px;
                height: {{ block.settings.logo_size }}px;
              }
            {% endstyle %} 
            {%- if block.settings.badge_logo == blank -%}
              <span class="badge-svg-{{ forloop.index }}"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 64 64"><path fill="currentColor" d="m9.925 31.582l12.877 7.887l4.783-4.572l-12.181-18.979l12.941 18.25l7.918-7.566l-7.79-17.027l8.579 16.273l7.42-7.094l.674-12.877l.363 11.887L61.963 2.038S24.877.682 11.425 14.134c-.238.236-.441.463-.668.695c1.982 1.269 3.277 3.336 3.277 5.678c0 3.863-3.512 6.992-7.842 6.992a8.58 8.58 0 0 1-3.582-.777c-3.576 11.135 9.511 15.02 14.398 18.284l5.049-4.826z"/><path fill="currentColor" d="M61.242 19.711c1.006-9.802.721-17.673.721-17.673L46.236 18.489l11.887.361l-12.881.675l-7.092 7.424l16.271 8.574l-17.027-7.789l-7.567 7.918L48.081 48.59L29.099 36.412l-4.572 4.782l7.889 12.876l-8.598-12.133l-4.825 5.047c4.271 6.4 9.606 26.852 30.873 5.587c4.135-4.136 6.867-10.504 8.674-17.342c-1.281-1.077-2.037-2.44-1.998-3.907c.014-.467.113-.92.277-1.352c-1.869-1.147-3.031-2.803-2.982-4.613c.077-2.92 3.268-5.254 7.405-5.646M17.009 45.006L9.63 52.058l2.307 2.306l7.056-7.379c-.295-.441-.585-.817-.874-1.106s-.669-.579-1.11-.873"/></svg></span>
            {%- else -%}
              <span class="badge-svg-{{ forloop.index }}">{{ block.settings.badge_logo }}</span>
            {%- endif -%}
          </div>
        {%- when "number_block" -%}
          <div class="mx-auto flex justify-center items-center border border-main rounded-full w-28 h-28 bg-main-5 text-5xl mb-7">
            {{ block.settings.number }}
          </div>
        {% endcase %}
          {%- if block.settings.heading != blank -%}
            <h3 class="text-xl mb-4 text-center">{{ block.settings.heading }}</h3>
          {%- endif -%}
          {%- if block.settings.text != blank -%}
            <p class="text-lg leading-relaxed px-2 mx-auto max-w-[450px]">{{ block.settings.text }}</p>
          {%- endif -%}
    </div>
  {%- endfor -%}
</div>

{% schema %}
{
  "name": "BADGES",
  "tag": "section",
  "class": "page-width my-32",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "t:sections.badges.settings.title.label"
    },
    {
      "type": "header",
      "content": "t:sections.badges.headings.columns_settings"
    },
    {
      "type": "select",
      "id": "nb_columns_on_computer",
      "label": "t:sections.badges.settings.nb_columns_on_computer.label",
      "options": [
        {
          "value": "1",
          "label": "1"
        },
        {
          "value": "2",
          "label": "2"
        },
        {
          "value": "3",
          "label": "3"
        },
        {
          "value": "4",
          "label": "4"
        }
      ],
      "default": "3"
    },
    {
      "type": "select",
      "id": "nb_columns_on_mobile",
      "label": "t:sections.badges.settings.nb_columns_on_mobile.label",
      "options": [
        {
          "value": "1",
          "label": "1"
        },
        {
          "value": "2",
          "label": "2"
        }
      ],
      "default": "1"
    }
  ],
  "blocks": [
    {
      "type": "svg_block",
      "name": "t:sections.badges.blocks.svg_block.name",
      "settings": [
        {
          "type": "header",
          "content": "t:sections.badges.blocks.svg_block.headings.logo.content" 
        },
        {
          "type": "html",
          "id": "badge_logo",
          "label": "Logo",
          "info": "t:sections.badges.blocks.svg_block.settings.logo.info"
        },
        {
          "type": "range",
          "id": "logo_size",
          "min": 40,
          "max": 80,
          "step": 5,
          "unit": "px",
          "label": "t:sections.badges.blocks.svg_block.settings.logo_size.label",
          "default": 45
        },
        {
          "type": "checkbox",
          "id": "background_plus_border",
          "label": "t:sections.badges.blocks.svg_block.settings.background_plus_border.label",
          "default": true
        },
        {
          "type": "header",
          "content": "t:sections.badges.blocks.svg_block.headings.text.content" 
        },
        {
          "type": "text",
          "id": "heading",
          "label": "t:sections.badges.blocks.svg_block.settings.title.label",
          "default": "Badge title"
        },
        {
          "type": "textarea",
          "id": "text",
          "label": "t:sections.badges.blocks.svg_block.settings.text.label",
          "default": "Lorem ipsum dolor sit amet, consectetur adipisicing elit."
        }
      ]
    },
    {
      "type": "number_block",
      "name": "t:sections.badges.blocks.number_block.name",
      "settings": [
        {
          "type": "number",
          "id": "number",
          "label": "t:sections.badges.blocks.number_block.settings.number.label",
          "default": 1
        },
        {
          "type": "text",
          "id": "heading",
          "label": "t:sections.badges.blocks.svg_block.settings.title.label",
          "default": "Badge title"
        },
        {
          "type": "textarea",
          "id": "text",
          "label": "t:sections.badges.blocks.svg_block.settings.text.label",
          "default": "Lorem ipsum dolor sit amet, consectetur adipisicing elit."
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Badges",
      "blocks": [
        {
          "type": "svg_block"
        },
        {
          "type": "svg_block"
        },
        {
          "type": "svg_block"
        }
      ]
    }
  ]
}
{% endschema %}