<script src="{{ 'cart.js' | asset_url }}" defer="defer"></script>

<style>
  #shopify-section-{{ section.id }} {
    display: none;
  }

  .drawer {
    visibility: hidden;
    --drawer-background: {{ section.settings.cart_drawer_background }};
    --drawer-color: {{ section.settings.cart_drawer_text_color }};
    --drawer-item-background: {{ section.settings.cart_drawer_item_background }};
    --scrollbar-thumb: {{ section.settings.cart_drawer_text_color }}40;
  }
</style>

<cart-drawer class="drawer{% if cart == empty %} is-empty{% endif %}">
  <div id="CartDrawer" class="cart-drawer">
    <div id="CartDrawer-Overlay"class="cart-drawer__overlay"></div>
    <div class="drawer__inner" role="dialog" aria-modal="true" aria-label="{{ 'sections.cart.title' | t }}" tabindex="-1">
       {%- if cart == empty -%}
        <div class="drawer__inner-empty">
          <div class="cart-drawer__warnings center{% if section.settings.cart_drawer_collection != blank %} cart-drawer__warnings--has-collection{% endif %}">
            <div class="cart-drawer__empty-content">
              <p class="cart__empty-text h2">{{ 'sections.cart.empty' | t }}</p>
              <button class="drawer__close" type="button" onclick="this.closest('cart-drawer').close()" aria-label="{{ 'accessibility.close' | t }}">{% render 'icon-close' %}</button>
              <a href="{% if section.settings.keep_shopping_url != blank %}{{ section.settings.keep_shopping_url }}{% else %}{{ routes.all_products_collection_url }}{% endif %}" class="button">
                {{ 'general.continue_shopping' | t }}
              </a>

              {%- if shop.customer_accounts_enabled and customer == nil -%}
                <p class="cart__login-title h3">{{ 'sections.cart.login.title' | t }}</p>
                <p class="cart__login-paragraph">
                  {{ 'sections.cart.login.paragraph_html' | t: link: routes.account_login_url }}
                </p>
              {%- endif -%}
            </div>
          </div>
          {%- if section.settings.cart_drawer_collection != blank -%}
            <div class="cart-drawer__collection">
              {% render 'card-collection',
                card_collection: section.settings.cart_drawer_collection,
                columns: 1,
                is_in_card_drawer: true
              %}
            </div>
          {%- endif -%}
        </div>
      {%- endif -%}
      <div class="drawer__header">
        <p class="drawer__heading h2">{{ 'sections.cart.title' | t }}({{ cart.item_count }})</p>
        <button class="drawer__close" type="button" onclick="this.closest('cart-drawer').close()" aria-label="{{ 'accessibility.close' | t }}">{% render 'icon-close' %}</button>
      </div>
      <cart-drawer-items {% if cart == empty %}class=" is-empty"{% endif %}>
        <form action="{{ routes.cart_url }}" id="CartDrawer-Form" class="cart__contents cart-drawer__form" method="post">
          <div id="CartDrawer-CartItems" class="drawer__contents js-contents">
            {%- if cart != empty -%}
            <div class="subtotal">
              <p class="h2">{{ 'sections.cart.subtotal' | t }}</p>
              <p>
                <span>{{ cart.total_price | money }}</span>
                    <span class="hidden">
                      <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                        <circle class="path" fill="none" stroke-color="red" stroke-width="6" cx="33" cy="33" r="30"></circle>
                      </svg>
                    </span>
              </p>
            </div>
            <div class="action-buttons">
              <a href="{% if section.settings.outline_button_link %}{{ section.settings.outline_button_link }}{% else %}{{ routes.collections_url }}{% endif %}" class="keep-shopping button">{{ "cart_drawer.keep_shopping" | t }}</a>
              <button type="submit" id="CartDrawer-Checkout" class="cart__checkout-button button" name="checkout" form="CartDrawer-Form"{% if cart == empty %} disabled{% endif %}>
                {{ 'sections.cart.checkout' | t }}
              </button>    
            </div>
            {% if section.blocks.size != 0 %}
                <div class="until-offer">
                  {%-liquid
                    assign max_promo_price = section.blocks.last.settings.price_to_reach
                    assign progress_bar_width = cart.total_price | times: 100 | divided_by: max_promo_price
                    if section.blocks.size == 2
                      if cart.total_price >= section.blocks.first.settings.price_to_reach
                        assign first_promo_reached = true
                      else
                        assign first_promo_reached = false
                      endif
                      assign first_point_offset = section.blocks.first.settings.price_to_reach | times: 100 | divided_by: max_promo_price
                      assign first_point_offset = 45 | minus: first_point_offset
                      unless first_promo_reached
                        assign progress_bar_width = progress_bar_width | plus: first_point_offset
                      endunless
                    endif
                    -%}
                    <span class="progress-bar" style="width: {{ progress_bar_width }}%;{% if first_promo_reached %}min-width: 50%;{% endif %}"></span>
                    {% for block in section.blocks %}
                        {% if block.type == 'reduction' %}
                            <div class="point {% if forloop.last %}final{% else %}one{% endif %} {% if cart.total_price >= block.settings.price_to_reach %}reached{% else %}unreached{% endif %}">
                            <span>{{ block.settings.description }}</span>
                            <span><br>{{ 'cart_drawer.at' | t }} {{ block.settings.price_to_reach | money }}</span>
                            <svg width="32" height="32" viewBox="0 0 24 24"><path fill="currentColor" d="m10 16.4l-4-4L7.4 11l2.6 2.6L16.6 7L18 8.4Z"/></svg>
                            </div>
                        {% endif %}
                    {% endfor %}
                <p>
                  {% if first_promo_reached == false %}
                  <b>{{ section.blocks.first.settings.description }}</b>: {{ 'cart_drawer.more_than' | t }} <b>{{ section.blocks.first.settings.price_to_reach | minus: cart.total_price | money }}</b> {{ 'cart_drawer.to_get' | t }}
                  {% elsif cart.total_price < section.blocks.last.settings.price_to_reach %}
                  <b>{{ section.blocks.last.settings.description }}</b>: {{ 'cart_drawer.more_than' | t }} <b>{{ section.blocks.last.settings.price_to_reach | minus: cart.total_price | money }}</b> {{ 'cart_drawer.to_get' | t }} 
                  {% endif %}
                </p>
                </div>
            {% endif %}
            <div class="drawer__cart-items-wrapper">
              <table class="cart-items" role="table">
                <tbody role="rowgroup">
                  {%- for item in cart.items -%}
                    <tr id="CartDrawer-Item-{{ item.index | plus: 1 }}" class="cart-item" role="row">
                      <td class="cart-item__media" role="cell" headers="CartDrawer-ColumnProductImage">
                        {% if item.image %}
                          {% comment %} Leave empty space due to a:empty CSS display: none rule {% endcomment %}
                          <a href="{{ item.url }}" class="cart-item__link" tabindex="-1" aria-hidden="true"> </a>
                            {%-liquid
                              for property in item.properties
                                if property.first == "_client_photo"
                                  assign url_to_custom_img = property.last
                                endif
                              endfor
                            -%}
                            {%- if url_to_custom_img != blank -%}
                              {% comment %}theme-check-disable RemoteAsset{% endcomment %}
                              <img class="cart-item__image skeleton"
                                src="{{ url_to_custom_img }}"
                                loading="lazy"
                                width="150"
                                height="{{ 150 | divided_by: item.image.aspect_ratio | ceil }}"
                              >
                              {% comment %}theme-check-enable RemoteAsset{% endcomment %}
                            {%- else -%}
                              <img class="cart-item__image skeleton"
                                src="{{ item.image | image_url: width: 300 }}"
                                alt="{{ item.image.alt | escape }}"
                                loading="lazy"
                                width="150"
                                height="{{ 150 | divided_by: item.image.aspect_ratio | ceil }}"
                              >
                            {%- endif -%}
                        {% endif %}
                      </td>

                      <td class="cart-item__details" role="cell" headers="CartDrawer-ColumnProduct">
                        <a href="{{ item.url }}" class="cart-item__name h4 break">{{ item.product.title | escape }}</a>

                        {%- if item.product.has_only_default_variant == false or item.properties.size != 0 or item.selling_plan_allocation != nil -%}
                          <p>
                            {%- if item.product.has_only_default_variant == false -%}
                              {%- for option in item.options_with_values -%}
                                {{ option.value }}{% unless forloop.last %}, {% endunless %}
                              {%- endfor -%}
                            {%- endif -%}
                          </p>

                          <p class="product-option">{{ item.selling_plan_allocation.selling_plan.name }}</p>
                        {%- endif -%}

                        <ul class="discounts list-unstyled" role="list" aria-label="{{ 'customer.order.discount' | t }}">
                          {%- for discount in item.discounts -%}
                            <li class="discounts__discount">
                              {%- render 'icon-discount' -%}
                              {{ discount.title }}
                            </li>
                          {%- endfor -%}
                        </ul>
                      </td>

                      <td class="cart-item__totals right" role="cell" headers="CartDrawer-ColumnTotal">
                        <div class="loading-overlay hidden">
                          <div class="loading-overlay__spinner">
                            <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                              <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                            </svg>
                          </div>
                        </div>

                        <div class="cart-item__price-wrapper {{ item.variant.compare_at_price }}">
                          {%- if item.variant.compare_at_price != blank and item.variant.compare_at_price != item.final_line_price -%}
                          <s class="price price--end">
                            {{ item.variant.compare_at_price | money }}
                          </s>
                          {%- endif -%}
                          <span class="price price--end">
                            {{ item.original_line_price | money }}
                          </span>

                          {%- if item.variant.available and item.unit_price_measurement -%}
                            <div class="unit-price caption">
                              <span class="visually-hidden">{{ 'products.product.price.unit_price' | t }}</span>
                              {{ item.variant.unit_price | money }}
                              <span aria-hidden="true">/</span>
                              <span class="visually-hidden">&nbsp;{{ 'accessibility.unit_price_separator' | t }}&nbsp;</span>
                              {%- if item.variant.unit_price_measurement.reference_value != 1 -%}
                                {{- item.variant.unit_price_measurement.reference_value -}}
                              {%- endif -%}
                              {{ item.variant.unit_price_measurement.reference_unit }}
                            </div>
                          {%- endif -%}
                        </div>
                      </td>

                      <td class="cart-item__quantity" role="cell" headers="CartDrawer-ColumnQuantity">
                        <div class="cart-item__quantity-wrapper">
                          <quantity-input class="quantity">
                            <button class="quantity__button no-js-hidden" name="minus" type="button">
                              <span class="visually-hidden">{{ 'products.product.quantity.decrease' | t: product: item.product.title | escape }}</span>
                              {% render 'icon-minus' %}
                            </button>
                            <input class="quantity__input"
                              type="number"
                              name="updates[]"
                              value="{{ item.quantity }}"
                              min="0"
                              aria-label="{{ 'products.product.quantity.input_label' | t: product: item.product.title | escape }}"
                              id="Drawer-quantity-{{ item.index | plus: 1 }}"
                              data-index="{{ item.index | plus: 1 }}"
                            >
                            <button class="quantity__button no-js-hidden" name="plus" type="button">
                              <span class="visually-hidden">{{ 'products.product.quantity.increase' | t: product: item.product.title | escape }}</span>
                              {% render 'icon-plus' %}
                            </button>
                          </quantity-input>

                          <cart-remove-button id="CartDrawer-Remove-{{ item.index | plus: 1 }}" data-index="{{ item.index | plus: 1 }}">
                            <button class="button button--tertiary" aria-label="{{ 'sections.cart.remove_title' | t: title: item.title }}">
                              {% render 'icon-remove' %}
                            </button>
                          </cart-remove-button>
                        </div>

                        <div id="CartDrawer-LineItemError-{{ item.index | plus: 1 }}" class="cart-item__error" role="alert">
                          <small class="cart-item__error-text"></small>
                          <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-error" viewBox="0 0 13 13">
                            <circle cx="6.5" cy="6.50049" r="5.5" stroke="white" stroke-width="2"/>
                            <circle cx="6.5" cy="6.5" r="5.5" fill="#EB001B" stroke="#EB001B" stroke-width="0.7"/>
                            <path d="M5.87413 3.52832L5.97439 7.57216H7.02713L7.12739 3.52832H5.87413ZM6.50076 9.66091C6.88091 9.66091 7.18169 9.37267 7.18169 9.00504C7.18169 8.63742 6.88091 8.34917 6.50076 8.34917C6.12061 8.34917 5.81982 8.63742 5.81982 9.00504C5.81982 9.37267 6.12061 9.66091 6.50076 9.66091Z" fill="white"/>
                            <path d="M5.87413 3.17832H5.51535L5.52424 3.537L5.6245 7.58083L5.63296 7.92216H5.97439H7.02713H7.36856L7.37702 7.58083L7.47728 3.537L7.48617 3.17832H7.12739H5.87413ZM6.50076 10.0109C7.06121 10.0109 7.5317 9.57872 7.5317 9.00504C7.5317 8.43137 7.06121 7.99918 6.50076 7.99918C5.94031 7.99918 5.46982 8.43137 5.46982 9.00504C5.46982 9.57872 5.94031 10.0109 6.50076 10.0109Z" fill="white" stroke="#EB001B" stroke-width="0.7">
                          </svg>
                        </div>
                      </td>
                    </tr>
                  {%- endfor -%}
                </tbody>
              </table>
            </div>
            {%- endif -%}
            {% if cart.total_price < section.blocks.last.settings.price_to_reach and section.settings.product_list != blank %}
            <h3 class="additional-product-title">
              {% if section.settings.additional_products_title != blank %}
                {{ section.settings.additional_products_title }}
              {% else %}
                {{ 'cart_drawer.one_click' | t }}
              {% endif %}
            </h3>
              <div class="additionnal-product-container">
                {% for product in section.settings.product_list %}
                <additionnal-product>
                  <div class="product-wrapper">
                    <div class="product-image">
                      {{ product.featured_image | image_url: width: 214, height: 214 | image_tag: loading: 'lazy' }}
                      <div class="plus">
                        {% render 'icon-plus' %}
                      </div>  
                    </div>
                    <div class="bottom">
                      <h3><a href="{{ product.url }}">{{ product.title }}</a></h3>
                      {% unless product.has_only_default_variant %}
                      <p>
                        {% for option in product.first_available_variant.options %}
                          {{ option }}{% unless forloop.last %}, {% endunless %}
                        {% endfor %}
                      </p>
                      {% endunless %}
                        <button class="button" type="button" data-item="{{ product.first_available_variant.id }}">
                          <span>{{ 'cart_drawer.add' | t }} {{ product.price | money }}</span>
                          <div class="loading-overlay hidden">
                            <div class="loading-overlay__spinner">
                              <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                                <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                              </svg>
                            </div>
                          </div>
                        </button>
                    </div>
                  </div>
                </additionnal-product>
                {% endfor %}
              </div>
            {% endif %}
            <p id="CartDrawer-LiveRegionText" class="visually-hidden" role="status"></p>
            <p id="CartDrawer-LineItemStatus" class="visually-hidden" aria-hidden="true" role="status">{{ 'accessibility.loading' | t }}</p>
          </div>
          <div id="CartDrawer-CartErrors" role="alert"></div>
        </form>
      </cart-drawer-items>
    </div>
  </div>
</cart-drawer>

<script src="{{ 'additionnal-product.js' | asset_url }}" defer="defer"></script>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    function isIE() {
      const ua = window.navigator.userAgent;
      const msie = ua.indexOf('MSIE ');
      const trident = ua.indexOf('Trident/');

      return (msie > 0 || trident > 0);
    }

    if (!isIE()) return;
    const cartSubmitInput = document.createElement('input');
    cartSubmitInput.setAttribute('name', 'checkout');
    cartSubmitInput.setAttribute('type', 'hidden');
    document.querySelector('#cart').appendChild(cartSubmitInput);
    document.querySelector('#checkout').addEventListener('click', function(event) {
      document.querySelector('#cart').submit();
    });
  });
</script>

{% schema %}
{
  "name": "t:sections.cart-drawer.name",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.cart-drawer.headings.empty.header"
    },
    {
      "type": "paragraph",
      "content": "t:sections.cart-drawer.headings.empty.paragraph"
    },
    {
      "type": "url",
      "id": "keep_shopping_url",
      "label": "t:sections.cart-drawer.settings.keep_shopping_url.label"
    },
    {
      "type": "collection",
      "id": "cart_drawer_collection",
      "label": "t:sections.cart-drawer.settings.cart_drawer.collection.label"
    },
    {
      "type": "header",
      "content": "t:sections.cart-drawer.headings.full.header"
    },
    {
      "type": "url",
      "id": "outline_button_link",
      "label": "t:sections.cart-drawer.settings.outline_button_link.label"
    },
    {
      "type": "header",
      "content": "t:sections.cart-drawer.headings.styles.content"
    },
    {
      "type": "color",
      "id": "cart_drawer_background",
      "label": "t:sections.cart-drawer.settings.background.label",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "cart_drawer_text_color",
      "label": "t:sections.cart-drawer.settings.text_color.label",
      "default": "#121212"
    },
    {
      "type": "color",
      "id": "cart_drawer_item_background",
      "label": "t:sections.cart-drawer.settings.cart_drawer_item_background.label",
      "default": "#ffffff"
    },
    {
      "type": "header",
      "content": "t:sections.cart-drawer.headings.additional_products.content"
    },
    {
      "type": "product_list",
      "id": "product_list",
      "label": "t:sections.cart-drawer.settings.product_list.label",
      "info": "t:sections.cart-drawer.settings.product_list.info",
      "limit": 6
    },
    {
      "type": "text",
      "id": "additional_products_title",
      "label": "t:sections.cart-drawer.settings.additional_products_title.info"
    }
  ],
  "blocks": [
    {
      "type": "reduction",
      "name": "t:sections.cart-drawer.blocks.reduction.name",
      "limit": 2,
      "settings": [
        {
          "type": "text",
          "id": "description",
          "label": "t:sections.cart-drawer.blocks.reduction.settings.description.label",
          "default": "Free shipping"
        },
        {
          "type": "number",
          "id": "price_to_reach",
          "label": "t:sections.cart-drawer.blocks.reduction.settings.price_to_reach.label",
          "info": "t:sections.cart-drawer.blocks.reduction.settings.price_to_reach.info",
          "default": 2999
        }
      ]
    }
  ]
}
{% endschema %}