{%- unless section.settings.title == blank -%}
    <h2 class="py-6">{{ section.settings.title | escape }}</h2>
{%- endunless -%}

<snap-carrousel>
  <ul role="list" class="component-carroussel flex gap-4 overflow-x-auto snap-mandatory snap-x scroll-smooth scrollbar pt-6 sm:grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
    {%- for block in section.blocks -%}
      <li class="group relative max-w-[350px] shrink-0 text-center snap-start pb-2 flex flex-col md:max-w-none">
        {%- if block.settings.collection.featured_image -%}
          <div class="cursor-pointer h-max grow">
            <img
              srcset="{%- if block.settings.collection.featured_image.width >= 300 -%}{{ block.settings.collection.featured_image | image_url: width: 300 }} 300w,{%- endif -%}
              {%- if block.settings.collection.featured_image.width >= 350 -%}{{ block.settings.collection.featured_image | image_url: width: 350 }} 350w,{%- endif -%}"
              src="{{ block.settings.collection.featured_image | image_url: width: 500 }}"
              sizes="(max-width: 356px) 300px, 350px"
              alt="{% if block.settings.collection.metafields.meta_object.media.value.alts.value[0] %}{{ block.settings.collection.metafields.meta_object.media.value.alts.value[0] | escape }}{% else %}{{ block.settings.collection.featured_image.alt | escape }}{% endif %}"
              width="350"
              height="auto"
              loading="lazy"
              class="skeleton w-full h-full object-cover"
            >
          </div>
          <h3 class="text-xl inline-block mx-auto truncate text-ellipsis w-full py-6 grow-0">
            <a href="{{ block.settings.collection.url }}" class="after:absolute after:inset-0">
              {%- if block.settings.collection.title != blank -%}
                {{- block.settings.collection.title | escape -}}
              {%- endif -%}
              <span>{% render 'tw-icon-arrow' %}</span>
            </a>
          </h3>
        {% else %}
          {% assign count = forloop.index0 | modulo: 6 |  plus: 1 %}
          {{  'collection-' |  append: count | placeholder_svg_tag: 'w-full h-full bg-gray-200' }}
        {% endif %}
      </li>
    {%- endfor -%}
  </ul>
</snap-carrousel>

<script src="{{ 'component-carrousel.js' | asset_url }}" defer="defer"></script>

{% schema %}
{
  "name": "t:sections.collection-list.name",
  "tag": "section",
  "class": "page-width px-4 w-screen overflow-x-hidden",
  "max_blocks": 15,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "Collections",
      "label": "t:sections.collection-list.settings.title.label"
    }
  ],
  "blocks": [
    {
      "type": "featured_collection",
      "name": "t:sections.collection-list.blocks.featured_collection.name",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "t:sections.collection-list.blocks.featured_collection.settings.collection.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.collection-list.presets.name",
      "blocks": [
        {
          "type": "featured_collection"
        },
        {
          "type": "featured_collection"
        },
        {
          "type": "featured_collection"
        }
      ]
    }
  ]
}
{% endschema %}

