{%- if section.settings.title != blank -%}
  <h2 class="mx-5 md:text-center mb-12">{{ section.settings.title }}</h2>
{%- endif -%}
<customer-testimonial>
  <div class="h-full flex flex-col-reverse md:flex-row justify-center items-stretch gap-10 w-[400px] md:w-full mx-auto max-w-full" data-duration-appearance="{{ section.settings.duration_image_appearance }}">
    {%- if section.blocks.first.settings.message != blank -%}
      <div class="message flex items-center justify-center w-72 mx-5"><p class="text-2xl">{{ section.blocks.first.settings.message }}</p></div>
    {%- endif -%}
    {%- if section.blocks.first.settings.image == blank -%}
      <div class="max-w-full w-[400px] h-[400px] mx-auto md:mx-0 bg-gray-300 overflow-hidden">
        {{ 'image' | placeholder_svg_tag: 'blur-sm' }}
      </div>
    {%- else -%}
      <div class="max-w-full w-[400px] h-[400px] mx-auto md:mx-0 overflow-hidden"><img src="{{ section.blocks.first.settings.image | image_url: width: 400 }}" class="h-full w-full object-cover active skeleton" width="400" height="400" loading="lazy"></div>
    {%- endif -%}
  </div>

  {% capture dynamic_content %}
    {%- for block in section.blocks -%}
      {%- if block.settings.message != blank -%}
        {{ block.settings.message }}|||
        {%- if block.settings.image != blank -%}
          {{ block.settings.image | image_url: width: 400 }}
        {%- else -%}
          false
        {%- endif -%}
        {% if forloop.last == false %}::{% endif %}
      {%- endif -%}
    {% endfor %}
  {% endcapture %}
  {% assign content = dynamic_content | split: '::' %}

  <script type="application/json" class="content">
    {{ content | json }}
  </script>
</customer-testimonial>


<script src="{{ 'customer-testimonial.js' | asset_url }}" defer></script>

{% schema %}
{
  "name": "t:sections.customer-testimonial.name",
  "tag": "section",
  "class": "page-width my-16",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "t:sections.customer-testimonial.settings.title.label",
      "default": "Our customers are delighted"
    },
    {
      "type": "number",
      "id": "duration_image_appearance",
      "label": "t:sections.customer-testimonial.settings.duration_image_appearance.label",
      "default": 5
    }
  ],
  "blocks": [
    {
      "type": "image-text",
      "name": "t:sections.customer-testimonial.blocks.image-text.name",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.customer-testimonial.blocks.image-text.settings.image.label"
        },
        {
          "type": "textarea",
          "id": "message",
          "label": "t:sections.customer-testimonial.blocks.image-text.settings.message.label",
          "default": "Just a little photo to say a big thank you to you 🥰. Elodie G"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.customer-testimonial.name",
      "blocks": [
        {
          "type": "image-text"
        }
      ]
    }
  ]
}
{% endschema %}
