{%- style -%}
#shopify-section-{{ section.id }} {
    text-align: center;
  }

  #shopify-section-{{ section.id }} a {
    background: {{ section.settings.background }};
    position: fixed;
    bottom: 0;
    left: 50%;
    width: 90%;
    max-width: 430px;
    border-radius: {{ section.settings.border_radius }}px;
    padding: 1.2rem 2rem;
    text-align: center;
    color: {{ section.settings.text_color }};
    z-index: 999;
    margin: 0 0 2rem;
    text-decoration: none;
    font-weight: 600;
    visibility: hidden;
    transform: translate(-50%, 100%);
    transition: all 0.3s;
    opacity: 0;
  }

  #shopify-section-{{ section.id }} a.show {
    visibility: visible;
    transform: translate(-50%, 0);
    opacity: 1;
  }
{%- endstyle -%}

<floating-button>
  <a href="{{ section.settings.url }}" class="text__heading">
      {{ section.settings.text }}
  </a>
</floating-button>

<script src="{{ 'section-floating-button.js' | asset_url }}" defer></script>

{% schema %}
{
  "name": "t:sections.floating-button.name",
  "tag": "div",
  "limit": 1,
  "class": "floating-button",
  "settings": [
    {
      "type": "text",
      "id": "text",
      "label": "t:sections.floating-button.settings.text.label",
      "default": "Shop now"
    },
    {
      "type": "url",
      "id": "url",
      "label": "t:sections.floating-button.settings.url.label"
    },
    {
      "type": "color_background",
      "id": "background",
      "label": "Background",
      "default": "#121212"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "t:sections.floating-button.settings.text_color.label",
      "default": "#ffffff"
    },
    {
      "type": "range",
      "id": "border_radius",
      "min": 0,
      "max": 50,
      "step": 2,
      "unit": "px",
      "label": "t:sections.floating-button.settings.border_radius.label",
      "default": 8
    }
  ],
  "presets": [
    {
      "name": "t:sections.floating-button.name"
    }
  ]
}
{% endschema %}
