<script src="{{ 'main-product.js' | asset_url }}" defer="defer"></script>
 
{% liquid
  assign first_3d_model = product.media | where: "media_type", "model" | first | default: product.metafields.files["3d_file_name"].value
  if first_3d_model != blank
    if first_3d_model.url != blank
      assign 3d_model_url = first_3d_model.url
      assign 3d_model_poster = product.media[1]
      assign 3d_model_alt = first_3d_model.alt
    else
      assign 3d_model_url = first_3d_model.sources[0].url
      assign 3d_model_poster = first_3d_model.preview_image
      assign 3d_model_alt = first_3d_model.alt
    endif 
  endif
%}
{% if first_3d_model != blank %}
  <script type="module" src="https://ajax.googleapis.com/ajax/libs/model-viewer/3.3.0/model-viewer.min.js" defer></script>
{% endif %}

{% if template.suffix == 'painting' or template.suffix == 'personalized' %}
  {% liquid
    if template.suffix == 'painting'
      if product.images[1].aspect_ratio < 1
        assign ratio = 'portrait'
        assign price_min = settings.portrait_lowest_price
      elsif product.images[1].aspect_ratio > 1
        assign ratio = 'landscape'
        assign price_min = settings.landscape_lowest_price
      else
        assign ratio = 'square'
        assign price_min = settings.square_lowest_price     
      endif
    else if template.suffix == 'personalized'
      if product.images[1].aspect_ratio < 1
        assign ratio = 'personalized portrait'
        assign price_min = settings.personalized_portrait_lowest_price
      endif
    endif
  %}
{% endif %}

<a class="px-4 py-2 opacity-0 focus-visible:opacity-100 absolute top-6 left-10 z-10 bg-secondary transition-colors duration-500" href="#ProductInfo-{{ section.id }}">
  {{ "tw.main_product.accessibility.skip_to_product_info" | t }}
</a>

<div class="md:flex md:justify-center md:gap-12">
  {% if product.template_suffix == "tapestry" %}
    <div id="croppr-top-container" class="flex-grow">
      <div class="md:sticky md:top-[120px] max-w-[550px] mx-auto relative">
        <img
          srcset="{%- if product.media[1].preview_image.width >= 400 -%}{{ product.media[1].preview_image | image_url: width: 400 }} 400w,{%- endif -%}
                  {%- if product.media[1].preview_image.width >= 550 -%}{{ product.media[1].preview_image | image_url: width: 550 }} 550w,{%- endif -%}
                  {{ product.media[1].preview_image | image_url }} {{ product.media[1].preview_image.width }}w"
          src="{{ product.media[1].preview_image | image_url: width: 550 }}"
          sizes="(min-width: 548px) 550px, 100vw"
          alt="{{ product.media[1].alt | escape }}"
          {% unless loop.first %}
            loading="lazy"
          {% endunless %}
          width="550"
          height="auto"
          data-media-id="{{ product.media[1].id }}"
            id="croppr"
        >
        {% render 'finger-touch' %}
      </div>
    </div>
  {% else %}
    <main-product-carousel>
      <div class="md:sticky md:top-[120px] relative max-w-[550px] mx-auto">
        <div class="carousel flex justify-start items-center transition-transform duration-300 mx-auto my-4 snap-x snap-mandatory overflow-y-hidden overflow-x-auto scrollbar-hidden h-[55vh] xs:h-[65vh] md:h-[55vh] lg:h-[70vh]">
          {% liquid
            for media in product.media
              if media.media_type == 'image' and forloop.index != 3
                assign nbOfMedia = nbOfMedia | default: 0 | plus: 1
                render 'tw-main-product-image', media: media, loop: forloop
              elsif forloop.index == 3 and first_3d_model != blank
                if first_3d_model.url != blank
                  assign nbOfMedia = nbOfMedia | default: 0 | plus: 2
                  render 'tw-main-product-model-3d', url: 3d_model_url, alt: 3d_model_alt, poster: 3d_model_poster
                  render 'tw-main-product-image', media: media, loop: forloop
                else
                  assign nbOfMedia = nbOfMedia | default: 0 | plus: 1
                  render 'tw-main-product-model-3d', url: 3d_model_url, alt: 3d_model_alt, poster: 3d_model_poster
                endif
              else if media.media_type == 'image'
                assign nbOfMedia = nbOfMedia | default: 0 | plus: 1
                render 'tw-main-product-image', media: media, loop: forloop
              endif
            endfor
          %}
        </div>
        {% if product.media.size > 1 %}
          <div class="absolute bg-secondary transition-colors duration-500 rounded-full left-1/2 -translate-x-1/2 bottom-3 border-main border-1 md:hidden flex justify-center items-center h-[47px] overflow-hidden">
            <button class="previous pl-5 pr-3 h-full focus-visible:outline-none focus-visible:bg-main-10 hover:bg-main-10">
              <div class="rotate-90">{% render 'tw-icon-caret', width: '18' %}</div>
            </button>
            <span class="px-3"><span class="image-counter">1</span>/{{ nbOfMedia }}</span>
            <button class="next pr-5 pl-3 h-full focus-visible:outline-none focus-visible:bg-main-10 hover:bg-main-10">
              <div class="-rotate-90">{% render 'tw-icon-caret', width: '18' %}</div>
            </button>
          </div>
        {% endif %}
        <div class="hidden md:flex flex-wrap gap-2">
          {% liquid
              for media in product.media
                if media.media_type == 'image' and forloop.index != 3
                  assign image_number = image_number | default: 0 | plus: 1
                  render 'tw-main-product-thumbnail-image', image: media.preview_image, alt: media.alt, object-fit: 'cover', image_number: image_number
                elsif forloop.index == 3 and first_3d_model != blank
                  if first_3d_model.url != blank
                    assign image_number = image_number | default: 0 | plus: 1
                    render 'tw-main-product-thumbnail-image', image: product.media[1]preview_image, object-fit: 'contain', alt: 3d_model_alt, file: 'glb', image_number: image_number
                    assign image_number = image_number | default: 0 | plus: 1
                    render 'tw-main-product-thumbnail-image', image: media.preview_image, alt: media.alt, object-fit: 'cover', image_number: image_number
                  else
                    assign image_number = image_number | default: 0 | plus: 1
                    render 'tw-main-product-thumbnail-image', image: media.preview_image, alt: media.alt, object-fit: 'cover', file: 'glb', image_number: image_number
                  endif
                else if media.media_type == 'image'
                  assign image_number = image_number | default: 0 | plus: 1
                  render 'tw-main-product-thumbnail-image', image: media.preview_image, alt: media.alt, object-fit: 'cover', image_number: image_number
                endif
              endfor
            %}
        </div>
      </div>

      <div class="popup fixed top-0 left-0 w-full h-dvh overflow-auto scrollbar bg-secondary transition-colors duration-500 z-50 hidden p-0 focus:outline-none" role="dialog" aria-modal="false" aria-label="{{ 'tw.main_product.carousel.popup.title' | t }}" tabindex="0">
        <button class="absolute z-10 top-3 right-3 bg-secondary-50 transition-colors duration-500 rounded-full p-2 focus-visible:outline-main" type="button" aria-label="{{ 'tw.main_product.carousel.popup.close' | t }}" tabindex="-1">
        {% render 'tw-icon-close', width: '22' %}
        </button>
        <template id="main-product-popup">
        {%- for media in product.media -%}
          <popup-image>
            {%- render 'tw-main-product-popup-image', media: media, loop: forloop -%}
          </popup-image>
        {%- endfor -%}
        </template>
      </div>
    </main-product-carousel>
  {% endif %}
  <main-product-blocks class="grow" id="ProductInfo-{{ section.id }}" data-layout="{{ template.suffix }}">
    <div class="max-w-lg px-4 sm:px-0 mx-auto my-4">
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when '@app' -%}
            {% render block %}
          {%- when 'text' -%}
            <div class="flex flex-col gap-4 mb-4 text-lg">{{- block.settings.text -}}</div>
          {%- when 'title' -%}
            <h1 class="text-4xl {{ block.settings.margin_bottom }}">{{ product.title | escape }}</h1>
          {%- when 'price' -%}
            {% if block.settings.style == 'default' %}
              <span id="main-price" class="block text-xl font-bold font-heading mb-4" data-money-symbol="{{ cart.currency.symbol }}">{{ price_min | money_with_currency }}</span>
            {% elsif block.settings.style == 'tapestry' %}
              <div class="flex gap-4 mb-4 py-6 rounded-2xl px-7 min-h-20 mt-5" style="background: {{ block.settings.background }}" data-money-symbol="{{ cart.currency.symbol }}">
                <div id="main-price" class=" flex items-center text-5xl font-bold font-heading border-r-2 border-black/5 pr-7">{{ price_min | money_with_currency }}</div>
                <div class="flex items-center overflow-hidden">
                  <ul class="max-w-full">
                    <li class="flex items-center mb-2 overflow-hidden text-ellipsis whitespace-nowrap">{%  render 'icon-check' %}&nbsp;&nbsp;<span class="overflow-hidden text-ellipsis whitespace-nowrap"><span id="nb-tapestry-strips">3</span> lés</span></li>
                    {% if block.settings.second_key_benefit != blank %}
                      <li class="flex items-center mb-2 overflow-hidden text-ellipsis whitespace-nowrap max-w-full">{%  render 'icon-check' %}&nbsp;&nbsp;<span class="overflow-hidden text-ellipsis whitespace-nowrap">{{ block.settings.second_key_benefit }}</span></li>
                    {% endif %}
                    {% if block.settings.third_key_benefit != blank %}
                      <li class="flex items-center mb-2">{%  render 'icon-check' %}&nbsp;&nbsp;<span class="overflow-hidden text-ellipsis whitespace-nowrap">{{ block.settings.third_key_benefit }}</span></li>
                    {% endif %}
                    {% if block.settings.fourth_key_benefit != blank %}
                      <li class="flex items-center overflow-hidden text-ellipsis whitespace-nowrap">{%  render 'icon-check' %}&nbsp;&nbsp;<span class="overflow-hidden text-ellipsis whitespace-nowrap">{{ block.settings.fourth_key_benefit }}</span></li>
                    {% endif %}
                  </ul>
                </div>
              </div>
            {% endif %}
          {%- when 'variant_picker' -%}
            {% render 'product-variant-picker', product: product, block: block, product_form_id: product_form_id %}
          {%- when 'buy' -%}
            {% style %}
              :root {
                --color-action: {{ block.settings.main_color.red }}, {{ block.settings.main_color.green }}, {{ block.settings.main_color.blue }};
                --color-action-hover: {{ block.settings.hover_color }};
              }
            {% endstyle %}
            <button class="buy-button relative flex w-full items-center gap-x-5 gap-y-2 2xs:gap-4 md:gap-5 py-2 lg:py-3 bg-action text-secondary transition-colors duration-500 shadow-lg rounded-xl px-5 lg:px-6 mb-4 before:w-12 before:h-40 before:bg-white/50 before:absolute before:-top-4 before:right-[-60px] before:rotate-12 after:w-12 after:h-40 after:bg-white/20 after:absolute after:-top-4 after:rotate-12 after:right-[-60px] overflow-hidden" data-variant-id="{{ product.first_available_variant.id }}" data-template="{{ template.suffix }}" data-product-id="{{ product.id }}">
              <svg viewBox="0 0 50 53" class="shrink-0 w-10 lg:w-auto fill-secondary transition-colors duration-500 pointer-events-none" width="55" fill="none" xmlns="http://www.w3.org/2000/svg" role="presentation" aria-hidden="true">
                <path d="M21.4157 2.84998V32.5974H1.89111C2.5125 8.54724 21.4157 2.84998 21.4157 2.84998Z" />
                <path d="M11.7325 28.7466C14.5357 28.7466 16.8082 27.7727 16.8082 26.5713C16.8082 25.3699 14.5357 24.396 11.7325 24.396C8.92922 24.396 6.65674 25.3699 6.65674 26.5713C6.65674 27.7727 8.92922 28.7466 11.7325 28.7466Z" />
                <path d="M21.5747 2.64282H45.1924V34.3403L48.3001 37.8622L46.0212 40.4519L47.7821 43.5594L45.1924 46.3563V49.8782H21.5747V2.64282Z" />
                <path d="M34.9364 19.424C37.9684 19.424 40.4264 18.2182 40.4264 16.7307C40.4264 15.2433 37.9684 14.0375 34.9364 14.0375C31.9043 14.0375 29.4463 15.2433 29.4463 16.7307C29.4463 18.2182 31.9043 19.424 34.9364 19.424Z" />
                <path d="M44.7785 51.0466H22.493C21.5939 51.0466 20.8667 50.3174 20.8667 49.4202V33.354C20.0298 33.354 19.4931 33.354 19.4373 33.354H1.95392C1.57682 33.354 1.25785 33.0826 1.19571 32.7118C0.810324 30.3376 1.1293 28.2617 1.52297 26.1713C3.7086 14.5262 10.5122 6.04655 20.6761 2.28636C21.1547 2.11037 21.6685 2.02124 22.203 2.02124H44.8469C45.5554 2.02124 46.1314 2.59718 46.1294 3.30568L46.0506 34.3858C47.3454 35.1108 49.0608 36.1737 49.0132 37.7834C48.9842 38.782 48.2653 39.7059 46.8254 40.5885C47.6023 41.1043 48.3834 41.8791 48.4683 42.944C48.5635 44.1415 47.7722 45.2726 46.0527 46.3914V46.5882L46.1189 49.6772C46.1355 50.4292 45.5306 51.0466 44.7785 51.0466ZM23.3797 49.5115H43.4899C44.0887 49.5115 44.5735 49.0204 44.5631 48.4217L44.5217 45.8403C44.5195 45.6517 44.6169 45.4757 44.7785 45.3783L44.8883 45.3121C46.2598 44.4833 46.987 43.6858 46.9373 43.0663C46.8856 42.4095 45.9242 41.7341 44.994 41.355L44.8718 41.3053C44.6564 41.2183 44.5175 41.0091 44.5175 40.7771V40.4227C44.5175 40.2032 44.6439 40.0043 44.8406 39.909L44.9526 39.8551C47.2087 38.7737 47.4718 38.0134 47.4801 37.7378C47.5029 36.9443 45.8331 36.0183 45.0313 35.5749L44.8179 35.4568C44.6335 35.3532 44.5175 35.1585 44.5175 34.9471V34.3215L44.5921 4.48242C44.5921 3.97075 44.1798 3.55637 43.668 3.55637H22.203C21.8507 3.55637 21.5152 3.61437 21.2085 3.72621C11.5688 7.2917 5.11331 15.3611 3.03123 26.451C2.74942 27.951 2.51944 29.3556 2.55886 30.8473C2.57329 31.3859 3.01467 31.8169 3.55533 31.8169H19.4331C19.489 31.8169 20.0442 31.8169 20.9081 31.8169H22.4018V48.5336C22.4018 49.0742 22.8389 49.5115 23.3797 49.5115Z" class="fill-action"/>
                <path d="M26.4183 33.6005C25.9978 33.6005 25.5856 33.6005 25.1898 33.6005H21.8688C21.844 33.6005 21.8171 33.6005 21.7922 33.6005L21.5995 33.5964C21.2929 33.5778 20.9987 33.497 20.7936 33.1407L20.5264 32.6807L20.6776 32.4176V3.60819C20.6776 3.10066 21.0877 2.68628 21.5974 2.68628C22.1071 2.68628 22.5193 3.09853 22.5193 3.60819V31.7567C24.4067 31.7567 28.7367 31.7567 31.4008 31.7567C33.6673 31.7547 33.9823 31.4336 33.9905 29.1133C33.9926 28.5415 33.9926 27.7894 33.976 27.0435C33.9636 26.536 34.3675 26.1133 34.8752 26.1009C35.3868 26.0884 35.8054 26.4925 35.8178 27.0001C35.8344 27.7687 35.8344 28.5373 35.8322 29.1194C35.8198 32.4632 34.7011 33.5922 31.403 33.5964C30.0024 33.5964 28.142 33.5985 26.4183 33.5985V33.6005Z" class="fill-action"/>
                <path d="M5.74463 26.3601C8.08567 30.3275 14.6199 30.833 17.4747 26.4243C15.1275 22.7822 9.136 21.9598 5.74463 26.3601ZM10.2444 28.2288C8.79217 27.9326 7.9324 27.4002 7.18034 26.4306C7.93654 25.4631 8.83974 24.9866 10.2693 24.6343C9.31212 25.8899 9.29141 26.9712 10.2444 28.2288ZM11.7009 27.4809C11.1498 27.5162 10.6049 27.0272 10.5841 26.4761C10.5634 25.9313 11.0835 25.3761 11.6283 25.4071C12.2084 25.4382 12.5668 25.7821 12.6683 26.3394C12.7658 26.8635 12.2478 27.4436 11.7009 27.4809ZM13.0972 28.202C13.8678 26.9878 14.0066 25.9355 13.2463 24.827C14.4023 25.0114 15.3243 25.4692 16.0307 26.4057C15.3802 27.4043 14.4666 27.9016 13.0952 28.202H13.0972Z" class="fill-action"/>
                <path d="M28.2568 16.5402C30.9044 21.0275 38.2944 21.5993 41.522 16.6126C38.8682 12.4941 32.0916 11.5639 28.2568 16.5402ZM33.345 18.6533C31.7021 18.3177 30.7304 17.7169 29.879 16.6189C30.7304 15.5229 31.7559 14.9842 33.3719 14.5886C32.2904 16.0077 32.2656 17.2321 33.345 18.6533ZM34.992 17.8081C34.3663 17.8495 33.7531 17.2943 33.7303 16.6728C33.7076 16.0595 34.2959 15.4297 34.9112 15.4629C35.5659 15.498 35.9699 15.8896 36.0879 16.5195C36.1977 17.112 35.6115 17.7666 34.992 17.8081ZM36.5707 18.6264C37.4429 17.2528 37.5983 16.0615 36.7405 14.8061C38.0478 15.0154 39.0899 15.5312 39.8896 16.5941C39.152 17.7211 38.1203 18.2846 36.5707 18.6243V18.6264Z" class="fill-action"/>
              </svg>
              <span class="inline-flex flex-col gap-2 text-left shrink-0 pointer-events-none">
                <span class="font-thin text-base 2xs:text-lg ">{{ block.settings.top_text }}</span>
                <span class="font-bold font-heading text-base 2xs:text-lg xs:text-xl md:text-lg lg:text-xl">{{ block.settings.bottom_text }}</span>
              </span>
              {% render 'tw-icon-loading', color: 'light', hidden: true, size: 2 %}
            </button>
            <template id="float-buy-button">
              <button class="float-buy-button fixed bottom-20 md:bottom-10 left-1/2 -translate-x-1/2 flex items-center gap-3 shadow-lg 2xs:gap-5 md:gap-6 w-[100px] py-3 md:py-4 max-w-[90%] xs:max-w-[450px] md:xs:max-w-[90%] bg-action text-secondary transition-colors duration-500 rounded-xl px-5 md:px-6 mb-4 before:w-12 before:h-40 before:bg-white/50 before:absolute before:-top-4 before:right-[-60px] before:rotate-12 after:w-12 after:h-40 after:bg-white/20 after:absolute after:-top-4 after:rotate-12 after:right-[-60px] overflow-hidden scale-0" data-variant-id="{{ product.first_available_variant.id }}" data-template="{{ template.suffix }}" data-product-id="{{ product.id }}">
                <svg viewBox="0 0 50 53" class="shrink-0 opacity0 scale-0 w-10 md:w-auto fill-secondary transition-colors duration-500 pointer-events-none" width="55" fill="none" xmlns="http://www.w3.org/2000/svg" role="presentation" aria-hidden="true">
                  <path d="M21.4157 2.84998V32.5974H1.89111C2.5125 8.54724 21.4157 2.84998 21.4157 2.84998Z" />
                  <path d="M11.7325 28.7466C14.5357 28.7466 16.8082 27.7727 16.8082 26.5713C16.8082 25.3699 14.5357 24.396 11.7325 24.396C8.92922 24.396 6.65674 25.3699 6.65674 26.5713C6.65674 27.7727 8.92922 28.7466 11.7325 28.7466Z" />
                  <path d="M21.5747 2.64282H45.1924V34.3403L48.3001 37.8622L46.0212 40.4519L47.7821 43.5594L45.1924 46.3563V49.8782H21.5747V2.64282Z" />
                  <path d="M34.9364 19.424C37.9684 19.424 40.4264 18.2182 40.4264 16.7307C40.4264 15.2433 37.9684 14.0375 34.9364 14.0375C31.9043 14.0375 29.4463 15.2433 29.4463 16.7307C29.4463 18.2182 31.9043 19.424 34.9364 19.424Z" />
                  <path d="M44.7785 51.0466H22.493C21.5939 51.0466 20.8667 50.3174 20.8667 49.4202V33.354C20.0298 33.354 19.4931 33.354 19.4373 33.354H1.95392C1.57682 33.354 1.25785 33.0826 1.19571 32.7118C0.810324 30.3376 1.1293 28.2617 1.52297 26.1713C3.7086 14.5262 10.5122 6.04655 20.6761 2.28636C21.1547 2.11037 21.6685 2.02124 22.203 2.02124H44.8469C45.5554 2.02124 46.1314 2.59718 46.1294 3.30568L46.0506 34.3858C47.3454 35.1108 49.0608 36.1737 49.0132 37.7834C48.9842 38.782 48.2653 39.7059 46.8254 40.5885C47.6023 41.1043 48.3834 41.8791 48.4683 42.944C48.5635 44.1415 47.7722 45.2726 46.0527 46.3914V46.5882L46.1189 49.6772C46.1355 50.4292 45.5306 51.0466 44.7785 51.0466ZM23.3797 49.5115H43.4899C44.0887 49.5115 44.5735 49.0204 44.5631 48.4217L44.5217 45.8403C44.5195 45.6517 44.6169 45.4757 44.7785 45.3783L44.8883 45.3121C46.2598 44.4833 46.987 43.6858 46.9373 43.0663C46.8856 42.4095 45.9242 41.7341 44.994 41.355L44.8718 41.3053C44.6564 41.2183 44.5175 41.0091 44.5175 40.7771V40.4227C44.5175 40.2032 44.6439 40.0043 44.8406 39.909L44.9526 39.8551C47.2087 38.7737 47.4718 38.0134 47.4801 37.7378C47.5029 36.9443 45.8331 36.0183 45.0313 35.5749L44.8179 35.4568C44.6335 35.3532 44.5175 35.1585 44.5175 34.9471V34.3215L44.5921 4.48242C44.5921 3.97075 44.1798 3.55637 43.668 3.55637H22.203C21.8507 3.55637 21.5152 3.61437 21.2085 3.72621C11.5688 7.2917 5.11331 15.3611 3.03123 26.451C2.74942 27.951 2.51944 29.3556 2.55886 30.8473C2.57329 31.3859 3.01467 31.8169 3.55533 31.8169H19.4331C19.489 31.8169 20.0442 31.8169 20.9081 31.8169H22.4018V48.5336C22.4018 49.0742 22.8389 49.5115 23.3797 49.5115Z" class="fill-action"/>
                  <path d="M26.4183 33.6005C25.9978 33.6005 25.5856 33.6005 25.1898 33.6005H21.8688C21.844 33.6005 21.8171 33.6005 21.7922 33.6005L21.5995 33.5964C21.2929 33.5778 20.9987 33.497 20.7936 33.1407L20.5264 32.6807L20.6776 32.4176V3.60819C20.6776 3.10066 21.0877 2.68628 21.5974 2.68628C22.1071 2.68628 22.5193 3.09853 22.5193 3.60819V31.7567C24.4067 31.7567 28.7367 31.7567 31.4008 31.7567C33.6673 31.7547 33.9823 31.4336 33.9905 29.1133C33.9926 28.5415 33.9926 27.7894 33.976 27.0435C33.9636 26.536 34.3675 26.1133 34.8752 26.1009C35.3868 26.0884 35.8054 26.4925 35.8178 27.0001C35.8344 27.7687 35.8344 28.5373 35.8322 29.1194C35.8198 32.4632 34.7011 33.5922 31.403 33.5964C30.0024 33.5964 28.142 33.5985 26.4183 33.5985V33.6005Z" class="fill-action"/>
                  <path d="M5.74463 26.3601C8.08567 30.3275 14.6199 30.833 17.4747 26.4243C15.1275 22.7822 9.136 21.9598 5.74463 26.3601ZM10.2444 28.2288C8.79217 27.9326 7.9324 27.4002 7.18034 26.4306C7.93654 25.4631 8.83974 24.9866 10.2693 24.6343C9.31212 25.8899 9.29141 26.9712 10.2444 28.2288ZM11.7009 27.4809C11.1498 27.5162 10.6049 27.0272 10.5841 26.4761C10.5634 25.9313 11.0835 25.3761 11.6283 25.4071C12.2084 25.4382 12.5668 25.7821 12.6683 26.3394C12.7658 26.8635 12.2478 27.4436 11.7009 27.4809ZM13.0972 28.202C13.8678 26.9878 14.0066 25.9355 13.2463 24.827C14.4023 25.0114 15.3243 25.4692 16.0307 26.4057C15.3802 27.4043 14.4666 27.9016 13.0952 28.202H13.0972Z" class="fill-action"/>
                  <path d="M28.2568 16.5402C30.9044 21.0275 38.2944 21.5993 41.522 16.6126C38.8682 12.4941 32.0916 11.5639 28.2568 16.5402ZM33.345 18.6533C31.7021 18.3177 30.7304 17.7169 29.879 16.6189C30.7304 15.5229 31.7559 14.9842 33.3719 14.5886C32.2904 16.0077 32.2656 17.2321 33.345 18.6533ZM34.992 17.8081C34.3663 17.8495 33.7531 17.2943 33.7303 16.6728C33.7076 16.0595 34.2959 15.4297 34.9112 15.4629C35.5659 15.498 35.9699 15.8896 36.0879 16.5195C36.1977 17.112 35.6115 17.7666 34.992 17.8081ZM36.5707 18.6264C37.4429 17.2528 37.5983 16.0615 36.7405 14.8061C38.0478 15.0154 39.0899 15.5312 39.8896 16.5941C39.152 17.7211 38.1203 18.2846 36.5707 18.6243V18.6264Z" class="fill-action"/>
                </svg>
                <span class="inline-flex flex-col gap-2 text-left shrink-0 pointer-events-none">
                  <span class="top-text font-thin text-base 2xs:text-lg md:text-xl opacity-0 translate-x-[10%]">{{ block.settings.top_text }}</span>
                  <span class="bottom-text font-bold font-heading text-base 2xs:text-lg xs:text-xl md:text-2xl opacity-0 translate-x-1/3">
                    {{ block.settings.bottom_text }}
                  </span>
                </span>
                {% render 'tw-icon-loading', color: 'light', hidden: true, size: 2 %}
              </button>
            </template>
            {% if template.suffix == 'painting' or template.suffix == 'personalized' %}
              {% render 'painting-addons-drawer' %}     
            {% endif %}
          {%- when 'description' -%}
            {%- if product.description != blank -%}
              <div class="product-description dropdown-button-target description flex flex-col gap-5 text-lg leading-relaxed h-56 overflow-hidden relative">
                {{ product.description }}
              </div>
              <dropdown-button>
                <button class="group mt-6 mb-5">{{ 'tw.main_collection_banner.learn_more' | t }} &nbsp; {%- render 'tw-icon-arrow' -%}</button>
                <button class="group  mt-6 hidden mb-5">{{ 'tw.main_collection_banner.fewer_details' | t }} &nbsp; {%- render 'tw-icon-arrow' -%}</button>
              </dropdown-button>
            {%- endif -%}
          {%- when 'collapsible_tab' -%}
            <details class="accordion group border-t border-main-10 first-of-type:mt-5 last-of-type:border-b last-of-type:border-b-main-10 last-of-type:mb-5">
              <summary class="list-none flex justify-between py-3 select-none cursor-pointer">
                <div class="flex gap-3">
                  {% render 'icon-accordion', icon: block.settings.icon, color: block.settings.icon_color %}
                  <h4 class="h4 text-lg max-w-[90%]">
                    {{ block.settings.heading | default: block.settings.page.title }}
                  </h4>
                </div>
                <span class="group-open:rotate-180 transition-transform duration-200 mr-5 flex items-center">
                  {% render 'tw-icon-caret', width: "10" %}
                </span>
              </summary>
              <div class="py-3 text-lg flex flex-col gap-3">
                {{ block.settings.content }}
                {{ block.settings.page.content }}
              </div>
            </details>
          {%- when 'likes' -%}
            {% if product.metafields.likes.number > 0 %}
              <div class="inline-block py-2 px-5 bg-main-5 rounded likes-count-container {{ block.settings.margin_bottom }}">
                <svg width="24" height="24" viewBox="0 0 21 17" fill="none" xmlns="http://www.w3.org/2000/svg" class="inline-block fill-like" role="img" aria-labelledby="title-heart" focusable="false"><title id="title-heart">{{ "tw.header.svg.heart.title" | t }}</title><path d="M10.5 3L6.5 1L1.5 5L3 9.5L10.5 16L18 9.5L19.5 5L15 1L10.5 3Z" fill="transparent" class="in fill-like"/><path d="M14.6016 0.296875C12.9536 0.296875 11.4909 0.947383 10.5 2.06547C9.50906 0.947383 8.04645 0.296875 6.39844 0.296875C4.96307 0.298612 3.58699 0.869578 2.57204 1.88454C1.55708 2.89949 0.986112 4.27557 0.984375 5.71094C0.984375 11.6451 9.6641 16.3865 10.0332 16.5858C10.1767 16.6631 10.3371 16.7035 10.5 16.7035C10.6629 16.7035 10.8233 16.6631 10.9668 16.5858C11.3359 16.3865 20.0156 11.6451 20.0156 5.71094C20.0139 4.27557 19.4429 2.89949 18.428 1.88454C17.413 0.869578 16.0369 0.298612 14.6016 0.296875ZM14.1512 11.9748C13.0087 12.9443 11.7874 13.8169 10.5 14.5834C9.21256 13.8169 7.99126 12.9443 6.84879 11.9748C5.07117 10.4499 2.95312 8.1243 2.95312 5.71094C2.95312 4.79718 3.31611 3.92085 3.96223 3.27473C4.60835 2.62861 5.48468 2.26562 6.39844 2.26562C7.85859 2.26562 9.08086 3.03672 9.58863 4.27867C9.66254 4.45972 9.78869 4.61465 9.95101 4.72372C10.1133 4.83278 10.3044 4.89102 10.5 4.89102C10.6956 4.89102 10.8867 4.83278 11.049 4.72372C11.2113 4.61465 11.3375 4.45972 11.4114 4.27867C11.9191 3.03672 13.1414 2.26562 14.6016 2.26562C15.5153 2.26562 16.3916 2.62861 17.0378 3.27473C17.6839 3.92085 18.0469 4.79718 18.0469 5.71094C18.0469 8.1243 15.9288 10.4499 14.1512 11.9748Z" fill="fill-like"/></svg>&nbsp;
                <span class="font-semibold font-heading text-sm"><span class="total-users-likes-count">{{ product.metafields.likes.number }}</span>
                <svg class="animate-spin h-5 w-5 text-main inline-block hidden" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
                </svg> {{ 'snippet.card-product.likes' | t }}</span>
              </div>
            {% endif %}
          {%- when 'tapestry_options' -%}
            {% if template.suffix == 'tapestry' %}
              {% liquid
                if product.images[1].aspect_ratio < 1
                  assign tapestry_width = block.settings.tapestry_default_width_portrait
                  assign texture_img = block.settings.tapestry_texture_portrait
                elsif product.images[1].aspect_ratio > 1
                  assign tapestry_width = block.settings.tapestry_default_width_landscape
                  assign texture_img = block.settings.tapestry_texture_landscape
                else
                  assign tapestry_width = block.settings.tapestry_default_width_square
                  assign texture_img = block.settings.tapestry_texture_square
                endif
              %}
              {{ 'croppr.min.css' | asset_url | stylesheet_tag }}
              <script src="{{ 'croppr.min.js' | asset_url }}" defer="defer"></script>
            {% endif %}
            {% if texture_img %}
              <template id="tapestry-texture">
                <img src="{{ texture_img | image_url: width: 600}}"
                  srcset="{%- if texture_img.width >= 400 -%}{{ texture_img | image_url: width: 400 }} 400w,{%- endif -%}
                  {%- if texture_img.width >= 500 -%}{{ texture_img | image_url: width: 500 }} 500w,{%- endif -%}
                  {%- if texture_img.width >= 600 -%}{{ texture_img | image_url: width: 600 }} 600w,{%- endif -%}"
                  width="620"
                  height="1200"
                  loading="lazy"
                  alt="{{ tapestry_width.alt }}"
                  class="absolute w-full h-full top-0 left-0 object-cover opacity-30 pointer-events-none"
                  sizes="(max-width: 400px) 400px, (max-width: 500px) 500px, (max-width: 767px) 767px, (max-width: 850px) 400px, (max-width: 1040px) 500px, 600px"
                >
              </template>
            {% endif %}
            <div class="my-5 product-properties">
              <label class="block text-xl mt-5 ml-1" for="tapestry-width">Largeur :</label>
              <div class="relative flex mt-1">
                <tapestry-select data-money-symbol="{{ cart.currency.symbol }}" data-orientation="width" data-tapestry-strips-width="{{ block.settings.tapestry_strips_width }}" data-texture-img-src="{{ texture_img }}">
                  <select 
                    class="min-w-32 rounded-l-lg p-3"
                    type="number"
                    id="tapestry-width"
                    name="tapestry-width"
                  >
                    {% for i in (block.settings.tapestry_min_width..block.settings.tapestry_max_width) %}
                      {% liquid
                        assign modulo_result = i | modulo: 10
                        if modulo_result != 0
                          continue
                        endif
                      %}
                      <option value="{{ i }}" {% if i == tapestry_width %}selected{% endif %}>{{ i }}</option>
                    {% endfor %}
                  </select>
                </tapestry-select>
                <div class="pl-5 bg-white rounded-r-lg text-gray-600 text-lg flex justify-center items-center">
                  <span class="px-5 border-l-1 border-gray-300 ">cm</span>
                </div>
              </div>
              <label class="block text-xl mt-5 ml-1" for="tapestry-height">Hauteur :</label>
              <div class="relative flex mt-1 mb-6">
                <tapestry-select data-money-symbol="{{ cart.currency.symbol }}" data-orientation="height" data-tapestry-strips-width="{{ block.settings.tapestry_strips_width }}">
                  <select 
                    class="min-w-32 rounded-l-lg p-3"
                    type="number"
                    id="tapestry-height"
                    name="tapestry-height"
                  >
                    {% for i in (block.settings.tapestry_min_height..block.settings.tapestry_max_height) %}
                      {% liquid
                        assign modulo_result = i | modulo: 10
                        if modulo_result != 0
                          continue
                        endif
                      %}
                      <option value="{{ i }}" {% if i == block.settings.tapestry_default_height %}selected{% endif %}>{{ i }}</option>
                    {% endfor %}
                  </select>  
                </tapestry-select>
                <div class="pl-5 bg-white rounded-r-lg text-gray-600 text-lg flex justify-center items-center">
                  <span class="px-5 border-l-1 border-gray-300 ">cm</span>
                </div>
                <input type="hidden" name="tapestry-ratio">
                <input type="hidden" name="tapestry-x-position">
                <input type="hidden" name="tapestry-y-position">
                <input type="hidden" name="tapestry-cm2">
              </div>
            </div>
          {%- when 'trustpilot_review' -%}
            <div class="{{ block.settings.margin_bottom }}">
              <p class="flex items-center mb-1">
                <a href="{{ block.settings.link }}" target="_blank" class="underline">Trustpilot</a>
                <span class="!inline-block w-[5px] h-[5px] rounded-full bg-main mx-2"></span>
                {{ 'tw.main_product.trustpilot.excellent' | t }}
              </p>
              <div class="flex gap-1">
                {% for i in (1..5) %}
                  {% liquid
                    assign current = i | times: 10
                    if current <= block.settings.trustpilot_score
                      assign green_width = 'w-full'
                    else
                      assign percent = block.settings.trustpilot_score | plus: 10 | minus: current | times: 10
                      assign green_width = 'w-[' | append: percent | append: '%]'
                      if percent < 50 and percent > 25
                        assign green_width = 'w-1/2'
                      else
                        assign green_width = 'w-[25%]'
                      endif
                    endif
                  %}
                  <div class="relative flex justify-center items-center bg-gray-300 h-10 w-10 before:absolute before:top-0 before:bottom-0 before:left-0 before:{{ green_width }} before:bg-[#00B67A]" style="">
                    <svg class="z-10" width="26" height="25" viewBox="0 0 26 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M18.6626 17.6149L21.0351 25L13.0043 19.0981L18.6626 17.6149ZM26 9.55286H16.0713L13.0054 0L9.92875 9.55505L0 9.54191L8.0405 15.4537L4.96383 24.9989L13.0043 19.0981L17.9693 15.4537L26 9.55286Z" fill="white"/>
                    </svg>
                  </div>
                {% endfor %}
                <p class="flex items-center ml-2">{{ 'tw.main_product.trustpilot.score' | t }}:  {{ block.settings.trustpilot_score |  divided_by: 10.0 }}</p>
              </div>
            </div>
            {% capture reviews_structured_data %}
              "aggregateRating": {
                "@type": "AggregateRating",
                "ratingValue": "{{ block.settings.trustpilot_score | divided_by: 10.0 }}",
                "ratingCount": "30",
                "worstRating": "1",
                "bestRating": "5"
              }
            {% endcapture %}

        {%- endcase -%}
      {%- endfor -%}
    </div>
  </main-product-blocks>
</div>

{% if template.suffix == 'painting' or template.suffix == 'personalized' %}
  {% render 'paintings-data-script', product: product, ratio: ratio, reviews_structured_data: reviews_structured_data %}
{% else %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org/",
      "@type": "Product",
      "@id": "{{ request.origin | append: product.url }}",
      "name": {{ product.title | json }},
      "logo": "https://cdn.shopify.com/s/files/1/0623/2388/4287/files/logo-myselfmonart.svg?v=1727019678",
      "url": {{ request.origin | append: product.url | json }},
      {% if product.metafields.link.mother_collection.value.title != blank %}
        "category": "{{ product.metafields.link.mother_collection.value.title }}",
      {% endif %}
        "image": [
          {{ product.featured_media | image_url: width: product.featured_media.preview_image.width | prepend: "https:" | json }}
        ],
      "description": {{ product.description | strip_html | json }},
      {% if product.selected_or_first_available_variant.sku != blank -%}
        "sku": {{ product.selected_or_first_available_variant.sku | json }},
      {%- endif %}
      "brand": {
        "@type": "Brand",
        "name": {{ product.vendor | json }}
      },
      "offers": [
        {%- for variant in product.variants -%}
          {
            "@type" : "Offer",
            {%- if variant.sku != blank -%}
              "sku": {{ variant.sku | json }},
            {%- endif -%}
            {%- if variant.barcode.size == 12 -%}
              "gtin12": {{ variant.barcode }},
            {%- endif -%}
            {%- if variant.barcode.size == 13 -%}
              "gtin13": {{ variant.barcode }},
            {%- endif -%}
            {%- if variant.barcode.size == 14 -%}
              "gtin14": {{ variant.barcode }},
            {%- endif -%}
            "availability" : "http://schema.org/{% if variant.available %}InStock{% else %}OutOfStock{% endif %}",
            "price" : {{ variant.price | divided_by: 100.00 | json }},
            "priceCurrency" : {{ cart.currency.iso_code | json }},
            "url" : {{ request.origin | append: variant.url | json }},
            "seller": {
              "@type": "Organization",
              "name": "{{ product.vendor }}"
            }
            {%- if reviews_structured_data != blank -%}
              ,{{ reviews_structured_data }}
            {%- endif -%}
          }{% unless forloop.last %},{% endunless %}
        {%- endfor -%}
      ]
    }
  </script>
{% endif %}

{% schema %}
{
  "name": "t:sections.main-product.name",
  "class": "page-width relative",
  "tag": "section",
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "text",
      "name": "t:sections.main-product.blocks.text.name",
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Text block</p>",
          "label": "t:sections.main-product.blocks.text.settings.text.label"
        }
      ]
    },
    {
      "type": "title",
      "name": "t:sections.main-product.blocks.title.name",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "margin_bottom",
          "label": "t:sections.collections-pages-grid.settings.padding_bottom.label",
          "options": [
            {
              "value": "mb-0",
              "label": "t:sections.collections-pages-grid.settings.padding_top.options.none.label"
            },
            {
              "value": "mb-2",
              "label": "t:sections.collections-pages-grid.settings.padding_top.options.small.label"
            },
            {
              "value": "mb-4",
              "label": "t:sections.collections-pages-grid.settings.padding_top.options.medium.label"
            },
            {
              "value": "mb-8",
              "label": "t:sections.collections-pages-grid.settings.padding_top.options.large.label"
            }
          ],
          "default": "mb-8"
        }
      ]
    },
    {
      "type": "price",
      "name": "t:sections.main-product.blocks.price.name",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "style",
          "label": "t:sections.main-product.blocks.price.settings.style.label",
          "options": [
            {
              "value": "default",
              "label": "t:sections.main-product.blocks.price.settings.style.default.label"
            },
            {
              "value": "tapestry",
              "label": "t:sections.main-product.blocks.price.settings.style.tapestry.label"
            }
          ],
          "default": "default"
        },
        {
          "type": "header",
          "content": "t:sections.main-product.blocks.price.headings.tapestry_info.content",
          "info": "t:sections.main-product.blocks.price.headings.tapestry_info.info"
        },
        {
          "type": "color_background",
          "id": "background",
          "label": "t:sections.main-product.blocks.price.settings.background.label",
          "default": "linear-gradient(135deg, rgba(255,247,220,1) 0%, rgba(254,206,218,1) 61%, rgba(214,208,253,1) 100%)"
        },
        {
          "type": "text",
          "id": "second_key_benefit",
          "label": "t:sections.main-product.blocks.price.settings.second_key_benefit.label",
          "default": "t:sections.main-product.blocks.price.settings.second_key_benefit.default"
        },
        {
          "type": "text",
          "id": "third_key_benefit",
          "label": "t:sections.main-product.blocks.price.settings.third_key_benefit.label",
          "default": "t:sections.main-product.blocks.price.settings.third_key_benefit.default"
        },
        {
          "type": "text",
          "id": "fourth_key_benefit",
          "label": "t:sections.main-product.blocks.price.settings.fourth_key_benefit.label",
          "default": "t:sections.main-product.blocks.price.settings.fourth_key_benefit.default"
        }
      ]
    },
    {
      "type": "variant_picker",
      "name": "t:sections.main-product.blocks.variant_picker.name",
      "limit": 1
    },
    {
      "type": "description",
      "name": "t:sections.main-product.blocks.description.name",
      "limit": 1
    },
    {
      "type": "collapsible_tab",
      "name": "t:sections.main-product.blocks.collapsible_tab.name",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Collapsible row",
          "info": "t:sections.main-product.blocks.collapsible_tab.settings.heading.info",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.heading.label"
        },
        {
          "type": "select",
          "id": "icon",
          "options": [
            {
              "value": "none",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__1.label"
            },
            {
              "value": "apple",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__2.label"
            },
            {
              "value": "banana",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__3.label"
            },
            {
              "value": "bottle",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__4.label"
            },
            {
              "value": "box",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__5.label"
            },
            {
              "value": "carrot",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__6.label"
            },
            {
              "value": "chat_bubble",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__7.label"
            },
            {
              "value": "check_mark",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__8.label"
            },
            {
              "value": "clipboard",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__9.label"
            },
            {
              "value": "dairy",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__10.label"
            },
            {
              "value": "dairy_free",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__11.label"
            },
            {
              "value": "dryer",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__12.label"
            },
            {
              "value": "eye",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__13.label"
            },
            {
              "value": "fire",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__14.label"
            },
            {
              "value": "gluten_free",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__15.label"
            },
            {
              "value": "heart",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__16.label"
            },
            {
              "value": "iron",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__17.label"
            },
            {
              "value": "leaf",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__18.label"
            },
            {
              "value": "leather",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__19.label"
            },
            {
              "value": "lightning_bolt",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__20.label"
            },
            {
              "value": "lipstick",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__21.label"
            },
            {
              "value": "lock",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__22.label"
            },
            {
              "value": "map_pin",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__23.label"
            },
            {
              "value": "nut_free",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__24.label"
            },
            {
              "value": "pants",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__25.label"
            },
            {
              "value": "paw_print",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__26.label"
            },
            {
              "value": "pepper",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__27.label"
            },
            {
              "value": "perfume",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__28.label"
            },
            {
              "value": "plane",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__29.label"
            },
            {
              "value": "plant",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__30.label"
            },
            {
              "value": "price_tag",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__31.label"
            },
            {
              "value": "question_mark",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__32.label"
            },
            {
              "value": "recycle",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__33.label"
            },
            {
              "value": "return",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__34.label"
            },
            {
              "value": "ruler",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__35.label"
            },
            {
              "value": "serving_dish",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__36.label"
            },
            {
              "value": "shirt",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__37.label"
            },
            {
              "value": "shoe",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__38.label"
            },
            {
              "value": "silhouette",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__39.label"
            },
            {
              "value": "snowflake",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__40.label"
            },
            {
              "value": "star",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__41.label"
            },
            {
              "value": "stopwatch",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__42.label"
            },
            {
              "value": "truck",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__43.label"
            },
            {
              "value": "washing",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__44.label"
            }
          ],
          "default": "check_mark",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.label"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.content.label"
        },
        {
          "type": "page",
          "id": "page",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.page.label"
        }
      ]
    },
    {
      "type": "buy",
      "name": "t:sections.main-product.blocks.buy.name",
      "settings": [
        {
          "type": "text",
          "id": "top_text",
          "default": "Choisir mes options",
          "label": "t:sections.main-product.blocks.buy.settings.top_text.label"
        },
        {
          "type": "text",
          "id": "bottom_text",
          "default": "Je personnaliser mon tableau",
          "label": "t:sections.main-product.blocks.buy.settings.bottom_text.label"
        },
        {
          "type": "color",
          "id": "main_color",
          "label": "t:sections.main-product.blocks.buy.settings.main_color.label",
          "default": "#04A777"
        }
      ]
    },
    {
      "type": "likes",
      "name": "t:sections.main-product.blocks.likes.name",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "margin_bottom",
          "label": "t:sections.collections-pages-grid.settings.padding_bottom.label",
          "options": [
            {
              "value": "mb-2",
              "label": "t:sections.collections-pages-grid.settings.padding_top.options.small.label"
            },
            {
              "value": "mb-4",
              "label": "t:sections.collections-pages-grid.settings.padding_top.options.medium.label"
            },
            {
              "value": "mb-8",
              "label": "t:sections.collections-pages-grid.settings.padding_top.options.large.label"
            }
          ],
          "default": "mb-8"
        }
      ]
    },
    {
      "type": "tapestry_options",
      "name": "t:sections.main-product.blocks.tapestry_options.name",
      "limit": 1,
      "settings": [
        {
          "type": "header",
          "content": "t:sections.main-product.blocks.tapestry_options.headings.style.content"
        },
        {
          "type": "image_picker",
          "id": "tapestry_texture_landscape",
          "label": "t:sections.main-product.blocks.tapestry_options.settings.tapestry_texture_landscape.label"
        },
        {
          "type": "image_picker",
          "id": "tapestry_texture_portrait",
          "label": "t:sections.main-product.blocks.tapestry_options.settings.tapestry_texture_portrait.label"
        },
        {
          "type": "image_picker",
          "id": "tapestry_texture_square",
          "label": "t:sections.main-product.blocks.tapestry_options.settings.tapestry_texture_square.label"
        },        
        {
          "type": "header",
          "content": "t:sections.main-product.blocks.tapestry_options.headings.default_width.content"
        },
        {
          "type": "number",
          "id": "tapestry_default_width_landscape",
          "label": "t:sections.main-product.blocks.tapestry_options.settings.tapestry_default_width_landscape.label",
          "info": "t:sections.main-product.blocks.tapestry_options.settings.tapestry_default_width_landscape.info",
          "default": 250
        },
        {
          "type": "number",
          "id": "tapestry_default_width_portrait",
          "label": "t:sections.main-product.blocks.tapestry_options.settings.tapestry_default_width_portrait.label",
          "info": "t:sections.main-product.blocks.tapestry_options.settings.tapestry_default_width_portrait.info",
          "default": 150
        },
        {
          "type": "number",
          "id": "tapestry_default_width_square",
          "label": "t:sections.main-product.blocks.tapestry_options.settings.tapestry_default_width_square.label",
          "info": "t:sections.main-product.blocks.tapestry_options.settings.tapestry_default_width_square.info",
          "default": 200
        },
        {
          "type": "header",
          "content": "t:sections.main-product.blocks.tapestry_options.headings.default_height.content"
        },
        {
          "type": "number",
          "id": "tapestry_default_height",
          "label": "t:sections.main-product.blocks.tapestry_options.settings.tapestry_default_height.label",
          "info": "t:sections.main-product.blocks.tapestry_options.settings.tapestry_default_height.info",
          "default": 250
        },
        {
          "type": "header",
          "content": "t:sections.main-product.blocks.tapestry_options.headings.tapestry_strips.content"
        },
        {
          "type": "number",
          "id": "tapestry_strips_width",
          "label": "t:sections.main-product.blocks.tapestry_options.settings.tapestry_strips_width.label",
          "info": "t:sections.main-product.blocks.tapestry_options.settings.tapestry_strips_width.info",
          "default": 50
        },
        {
          "type": "header",
          "content": "t:sections.main-product.blocks.tapestry_options.headings.limitations.content"
        },
        {
          "type": "number",
          "id": "tapestry_min_width",
          "label": "t:sections.main-product.blocks.tapestry_options.settings.tapestry_min_width.label",
          "info": "t:sections.main-product.blocks.tapestry_options.settings.tapestry_min_width.info",
          "default": 50
        },
        {
          "type": "number",
          "id": "tapestry_max_width",
          "label": "t:sections.main-product.blocks.tapestry_options.settings.tapestry_max_width.label",
          "info": "t:sections.main-product.blocks.tapestry_options.settings.tapestry_max_width.info",
          "default": 300
        },
        {
          "type": "number",
          "id": "tapestry_min_height",
          "label": "t:sections.main-product.blocks.tapestry_options.settings.tapestry_min_height.label",
          "info": "t:sections.main-product.blocks.tapestry_options.settings.tapestry_min_height.info",
          "default": 50
        },
        {
          "type": "number",
          "id": "tapestry_max_height",
          "label": "t:sections.main-product.blocks.tapestry_options.settings.tapestry_max_height.label",
          "info": "t:sections.main-product.blocks.tapestry_options.settings.tapestry_max_height.info",
          "default": 300
        }
      ]
    },
    {
      "type": "trustpilot_review",
      "name": "t:sections.main-product.blocks.trustpilot_review.name",
      "settings": [
        {
          "type": "number",
          "id": "trustpilot_score",
          "label": "t:sections.main-product.blocks.trustpilot_review.settings.trustpilot_score.label",
          "info": "t:sections.main-product.blocks.trustpilot_review.settings.trustpilot_score.info",
          "default": 43
        },
        {
          "type": "url",
          "id": "link",
          "label": "t:sections.main-product.blocks.trustpilot_review.settings.link.label"
        },
        {
          "type": "select",
          "id": "margin_bottom",
          "label": "t:sections.collections-pages-grid.settings.padding_bottom.label",
          "options": [
            {
              "value": "mb-2",
              "label": "t:sections.collections-pages-grid.settings.padding_top.options.small.label"
            },
            {
              "value": "mb-4",
              "label": "t:sections.collections-pages-grid.settings.padding_top.options.medium.label"
            },
            {
              "value": "mb-8",
              "label": "t:sections.collections-pages-grid.settings.padding_top.options.large.label"
            }
          ],
          "default": "mb-2"
        }
      ]
    }
  ]
}
{% endschema %}