<script src="{{ 'main-product-carousel.js' | asset_url }}" defer="defer"></script>
 
{% liquid
  assign first_3d_model = product.media | where: "media_type", "model" | first | default: product.metafields.files["3d_file_name"].value
  if first_3d_model != blank
    if first_3d_model.url != blank
      assign 3d_model_url = first_3d_model.url
      assign 3d_model_poster = product.media[1]
      assign 3d_model_alt = first_3d_model.alt
    else
      assign 3d_model_url = first_3d_model.sources[0].url
      assign 3d_model_poster = first_3d_model.preview_image
      assign 3d_model_alt = first_3d_model.alt
    endif 
  endif
%}
{% if first_3d_model != blank %}
  <script type="module" src="https://ajax.googleapis.com/ajax/libs/model-viewer/3.3.0/model-viewer.min.js" defer></script>
{% endif %}

<a class="px-4 py-2 opacity-0 focus-visible:opacity-100 absolute top-6 left-10 z-10 bg-secondary" href="#ProductInfo-{{ section.id }}">
  {{ "tw.main_product.accessibility.skip_to_product_info" | t }}
</a>

<div class="md:flex md:justify-center md:gap-12">
  <main-product-carousel>
    <div class="md:sticky md:top-[120px] relative max-w-[550px] mx-auto">
      <div class="carousel flex justify-start items-center transition-transform duration-300 mx-auto my-4 snap-x snap-mandatory overflow-y-hidden overflow-x-auto scrollbar-hidden h-[55vh] xs:h-[65vh] md:h-[55vh] lg:h-[70vh]">
        {% liquid
          for media in product.media
            if media.media_type == 'image' and forloop.index != 3
              assign nbOfMedia = nbOfMedia | default: 0 | plus: 1
              render 'tw-main-product-image', media: media, loop: forloop
            elsif forloop.index == 3 and first_3d_model != blank
              if first_3d_model.url != blank
                assign nbOfMedia = nbOfMedia | default: 0 | plus: 2
                render 'tw-main-product-model-3d', url: 3d_model_url, alt: 3d_model_alt, poster: 3d_model_poster
                render 'tw-main-product-image', media: media, loop: forloop
              else
                assign nbOfMedia = nbOfMedia | default: 0 | plus: 1
                render 'tw-main-product-model-3d', url: 3d_model_url, alt: 3d_model_alt, poster: 3d_model_poster
              endif
            endif
          endfor
        %}
      </div>
      <div class="absolute bg-secondary rounded-full left-1/2 -translate-x-1/2 bottom-3 border-main border-1 md:hidden flex justify-center items-center h-[47px] overflow-hidden">
          <button class="previous pl-5 pr-3 h-full focus-visible:outline-none focus-visible:bg-main/10 hover:bg-main/10">
            <div class="rotate-90">{% render 'tw-icon-caret', width: '18' %}</div>
          </button>
          <span class="px-3"><span class="image-counter">1</span>/{{ nbOfMedia }}</span>
          <button class="next pr-5 pl-3 h-full focus-visible:outline-none focus-visible:bg-main/10 hover:bg-main/10">
            <div class="-rotate-90">{% render 'tw-icon-caret', width: '18' %}</div>
          </button>
        </div>
      <div class="hidden md:flex flex-wrap gap-2">
        {% liquid
            for media in product.media
              if media.media_type == 'image' and forloop.index != 3
                assign image_number = image_number | default: 0 | plus: 1
                render 'tw-main-product-thumbnail-image', image: media.preview_image, alt: media.alt, object-fit: 'cover', image_number: image_number
              elsif forloop.index == 3 and first_3d_model != blank
                if first_3d_model.url != blank
                  assign image_number = image_number | default: 0 | plus: 1
                  render 'tw-main-product-thumbnail-image', image: product.media[1].preview_image, object-fit: 'contain', alt: 3d_model_alt, file: 'glb', image_number: image_number
                  assign image_number = image_number | default: 0 | plus: 1
                  render 'tw-main-product-thumbnail-image', image: media.preview_image, alt: media.alt, object-fit: 'cover', image_number: image_number
                else
                  assign image_number = image_number | default: 0 | plus: 1
                  render 'tw-main-product-thumbnail-image', image: media.preview_image, alt: media.alt, object-fit: 'cover', file: 'glb', image_number: image_number
                endif
              endif
            endfor
          %}
      </div>
    </div>
  
    <div class="popup fixed top-0 left-0 w-full h-dvh overflow-auto scrollbar bg-secondary z-50 hidden p-0 focus:outline-none" role="dialog" aria-modal="false" aria-label="{{ 'tw.main_product.carousel.popup.title' | t }}" tabindex="0">
      <button class="absolute z-10 top-3 right-3 bg-secondary/50 rounded-full p-2 focus-visible:outline-main" type="button" aria-label="{{ 'tw.main_product.carousel.popup.close' | t }}" tabindex="-1">
      {% render 'tw-icon-close', width: '22' %}
      </button>
      <template id="main-product-popup">
      {%- for media in product.media -%}
        <popup-image>
          {%- render 'tw-main-product-popup-image', media: media, loop: forloop -%}
        </popup-image>
      {%- endfor -%}
      </template>
    </div>
  </main-product-carousel>
  
  <main-product-blocks class="grow" id="ProductInfo-{{ section.id }}">
    <div class="max-w-lg px-4 sm:px-0 mx-auto my-4">
      {% comment %} {%- assign product_form_id = 'product-form-' | append: section.id -%} {% endcomment %}
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when '@app' -%}
            {% render block %}
          {%- when 'text' -%}
            <div class="flex flex-col gap-4 mb-4 text-lg">{{- block.settings.text -}}</div>
          {%- when 'title' -%}
            <div class="text-xs mb-5">
              <h1 class="text-4xl my-8">{{ product.title | escape }}</h1>
            </div>
          {%- when 'price' -%}
            <span class="block text-xl font-bold font-heading mb-4">{{ product.selected_or_first_available_variant.price | money_with_currency }}</span>
          {%- when 'buy' -%}
            <button class="buy-button relative flex w-full items-center gap-x-5 gap-y-2 2xs:gap-4 md:gap-5 py-2 lg:py-3 bg-action text-secondary shadow-lg rounded-xl px-5 lg:px-6 mb-4 before:w-12 before:h-40 before:bg-white/50 before:absolute before:-top-4 before:right-[-60px] before:rotate-12 after:w-12 after:h-40 after:bg-white/20 after:absolute after:-top-4 after:rotate-12 after:right-[-60px] overflow-hidden">
              <svg viewBox="0 0 50 53" class="shrink-0 w-10 lg:w-auto fill-secondary" width="55" fill="none" xmlns="http://www.w3.org/2000/svg" role="presentation" aria-hidden="true">
                <path d="M21.4157 2.84998V32.5974H1.89111C2.5125 8.54724 21.4157 2.84998 21.4157 2.84998Z" />
                <path d="M11.7325 28.7466C14.5357 28.7466 16.8082 27.7727 16.8082 26.5713C16.8082 25.3699 14.5357 24.396 11.7325 24.396C8.92922 24.396 6.65674 25.3699 6.65674 26.5713C6.65674 27.7727 8.92922 28.7466 11.7325 28.7466Z" />
                <path d="M21.5747 2.64282H45.1924V34.3403L48.3001 37.8622L46.0212 40.4519L47.7821 43.5594L45.1924 46.3563V49.8782H21.5747V2.64282Z" />
                <path d="M34.9364 19.424C37.9684 19.424 40.4264 18.2182 40.4264 16.7307C40.4264 15.2433 37.9684 14.0375 34.9364 14.0375C31.9043 14.0375 29.4463 15.2433 29.4463 16.7307C29.4463 18.2182 31.9043 19.424 34.9364 19.424Z" />
                <path d="M44.7785 51.0466H22.493C21.5939 51.0466 20.8667 50.3174 20.8667 49.4202V33.354C20.0298 33.354 19.4931 33.354 19.4373 33.354H1.95392C1.57682 33.354 1.25785 33.0826 1.19571 32.7118C0.810324 30.3376 1.1293 28.2617 1.52297 26.1713C3.7086 14.5262 10.5122 6.04655 20.6761 2.28636C21.1547 2.11037 21.6685 2.02124 22.203 2.02124H44.8469C45.5554 2.02124 46.1314 2.59718 46.1294 3.30568L46.0506 34.3858C47.3454 35.1108 49.0608 36.1737 49.0132 37.7834C48.9842 38.782 48.2653 39.7059 46.8254 40.5885C47.6023 41.1043 48.3834 41.8791 48.4683 42.944C48.5635 44.1415 47.7722 45.2726 46.0527 46.3914V46.5882L46.1189 49.6772C46.1355 50.4292 45.5306 51.0466 44.7785 51.0466ZM23.3797 49.5115H43.4899C44.0887 49.5115 44.5735 49.0204 44.5631 48.4217L44.5217 45.8403C44.5195 45.6517 44.6169 45.4757 44.7785 45.3783L44.8883 45.3121C46.2598 44.4833 46.987 43.6858 46.9373 43.0663C46.8856 42.4095 45.9242 41.7341 44.994 41.355L44.8718 41.3053C44.6564 41.2183 44.5175 41.0091 44.5175 40.7771V40.4227C44.5175 40.2032 44.6439 40.0043 44.8406 39.909L44.9526 39.8551C47.2087 38.7737 47.4718 38.0134 47.4801 37.7378C47.5029 36.9443 45.8331 36.0183 45.0313 35.5749L44.8179 35.4568C44.6335 35.3532 44.5175 35.1585 44.5175 34.9471V34.3215L44.5921 4.48242C44.5921 3.97075 44.1798 3.55637 43.668 3.55637H22.203C21.8507 3.55637 21.5152 3.61437 21.2085 3.72621C11.5688 7.2917 5.11331 15.3611 3.03123 26.451C2.74942 27.951 2.51944 29.3556 2.55886 30.8473C2.57329 31.3859 3.01467 31.8169 3.55533 31.8169H19.4331C19.489 31.8169 20.0442 31.8169 20.9081 31.8169H22.4018V48.5336C22.4018 49.0742 22.8389 49.5115 23.3797 49.5115Z" class="fill-action"/>
                <path d="M26.4183 33.6005C25.9978 33.6005 25.5856 33.6005 25.1898 33.6005H21.8688C21.844 33.6005 21.8171 33.6005 21.7922 33.6005L21.5995 33.5964C21.2929 33.5778 20.9987 33.497 20.7936 33.1407L20.5264 32.6807L20.6776 32.4176V3.60819C20.6776 3.10066 21.0877 2.68628 21.5974 2.68628C22.1071 2.68628 22.5193 3.09853 22.5193 3.60819V31.7567C24.4067 31.7567 28.7367 31.7567 31.4008 31.7567C33.6673 31.7547 33.9823 31.4336 33.9905 29.1133C33.9926 28.5415 33.9926 27.7894 33.976 27.0435C33.9636 26.536 34.3675 26.1133 34.8752 26.1009C35.3868 26.0884 35.8054 26.4925 35.8178 27.0001C35.8344 27.7687 35.8344 28.5373 35.8322 29.1194C35.8198 32.4632 34.7011 33.5922 31.403 33.5964C30.0024 33.5964 28.142 33.5985 26.4183 33.5985V33.6005Z" class="fill-action"/>
                <path d="M5.74463 26.3601C8.08567 30.3275 14.6199 30.833 17.4747 26.4243C15.1275 22.7822 9.136 21.9598 5.74463 26.3601ZM10.2444 28.2288C8.79217 27.9326 7.9324 27.4002 7.18034 26.4306C7.93654 25.4631 8.83974 24.9866 10.2693 24.6343C9.31212 25.8899 9.29141 26.9712 10.2444 28.2288ZM11.7009 27.4809C11.1498 27.5162 10.6049 27.0272 10.5841 26.4761C10.5634 25.9313 11.0835 25.3761 11.6283 25.4071C12.2084 25.4382 12.5668 25.7821 12.6683 26.3394C12.7658 26.8635 12.2478 27.4436 11.7009 27.4809ZM13.0972 28.202C13.8678 26.9878 14.0066 25.9355 13.2463 24.827C14.4023 25.0114 15.3243 25.4692 16.0307 26.4057C15.3802 27.4043 14.4666 27.9016 13.0952 28.202H13.0972Z" class="fill-action"/>
                <path d="M28.2568 16.5402C30.9044 21.0275 38.2944 21.5993 41.522 16.6126C38.8682 12.4941 32.0916 11.5639 28.2568 16.5402ZM33.345 18.6533C31.7021 18.3177 30.7304 17.7169 29.879 16.6189C30.7304 15.5229 31.7559 14.9842 33.3719 14.5886C32.2904 16.0077 32.2656 17.2321 33.345 18.6533ZM34.992 17.8081C34.3663 17.8495 33.7531 17.2943 33.7303 16.6728C33.7076 16.0595 34.2959 15.4297 34.9112 15.4629C35.5659 15.498 35.9699 15.8896 36.0879 16.5195C36.1977 17.112 35.6115 17.7666 34.992 17.8081ZM36.5707 18.6264C37.4429 17.2528 37.5983 16.0615 36.7405 14.8061C38.0478 15.0154 39.0899 15.5312 39.8896 16.5941C39.152 17.7211 38.1203 18.2846 36.5707 18.6243V18.6264Z" class="fill-action"/>
              </svg>
              <span class="inline-flex flex-col gap-2 text-left shrink-0">
                <span class="font-thin text-base 2xs:text-lg ">{{ block.settings.top_text }}</span>
                <span class="font-bold font-heading text-base 2xs:text-lg xs:text-xl md:text-lg lg:text-xl">{{ block.settings.bottom_text }}</span>
              </span>
            </button>
            <template id="float-buy-button">
              <button class="float-buy-button fixed bottom-20 md:bottom-10 left-1/2 -translate-x-1/2 flex items-center gap-3 shadow-lg 2xs:gap-5 md:gap-6 w-[100px] py-3 md:py-4 max-w-[90%] xs:max-w-[450px] md:xs:max-w-[90%] bg-action text-secondary rounded-xl px-5 md:px-6 mb-4 before:w-12 before:h-40 before:bg-white/50 before:absolute before:-top-4 before:right-[-60px] before:rotate-12 after:w-12 after:h-40 after:bg-white/20 after:absolute after:-top-4 after:rotate-12 after:right-[-60px] overflow-hidden scale-0">
              <svg viewBox="0 0 50 53" class="shrink-0 opacity0 scale-0 w-10 md:w-auto fill-secondary" width="55" fill="none" xmlns="http://www.w3.org/2000/svg" role="presentation" aria-hidden="true">
                <path d="M21.4157 2.84998V32.5974H1.89111C2.5125 8.54724 21.4157 2.84998 21.4157 2.84998Z" />
                <path d="M11.7325 28.7466C14.5357 28.7466 16.8082 27.7727 16.8082 26.5713C16.8082 25.3699 14.5357 24.396 11.7325 24.396C8.92922 24.396 6.65674 25.3699 6.65674 26.5713C6.65674 27.7727 8.92922 28.7466 11.7325 28.7466Z" />
                <path d="M21.5747 2.64282H45.1924V34.3403L48.3001 37.8622L46.0212 40.4519L47.7821 43.5594L45.1924 46.3563V49.8782H21.5747V2.64282Z" />
                <path d="M34.9364 19.424C37.9684 19.424 40.4264 18.2182 40.4264 16.7307C40.4264 15.2433 37.9684 14.0375 34.9364 14.0375C31.9043 14.0375 29.4463 15.2433 29.4463 16.7307C29.4463 18.2182 31.9043 19.424 34.9364 19.424Z" />
                <path d="M44.7785 51.0466H22.493C21.5939 51.0466 20.8667 50.3174 20.8667 49.4202V33.354C20.0298 33.354 19.4931 33.354 19.4373 33.354H1.95392C1.57682 33.354 1.25785 33.0826 1.19571 32.7118C0.810324 30.3376 1.1293 28.2617 1.52297 26.1713C3.7086 14.5262 10.5122 6.04655 20.6761 2.28636C21.1547 2.11037 21.6685 2.02124 22.203 2.02124H44.8469C45.5554 2.02124 46.1314 2.59718 46.1294 3.30568L46.0506 34.3858C47.3454 35.1108 49.0608 36.1737 49.0132 37.7834C48.9842 38.782 48.2653 39.7059 46.8254 40.5885C47.6023 41.1043 48.3834 41.8791 48.4683 42.944C48.5635 44.1415 47.7722 45.2726 46.0527 46.3914V46.5882L46.1189 49.6772C46.1355 50.4292 45.5306 51.0466 44.7785 51.0466ZM23.3797 49.5115H43.4899C44.0887 49.5115 44.5735 49.0204 44.5631 48.4217L44.5217 45.8403C44.5195 45.6517 44.6169 45.4757 44.7785 45.3783L44.8883 45.3121C46.2598 44.4833 46.987 43.6858 46.9373 43.0663C46.8856 42.4095 45.9242 41.7341 44.994 41.355L44.8718 41.3053C44.6564 41.2183 44.5175 41.0091 44.5175 40.7771V40.4227C44.5175 40.2032 44.6439 40.0043 44.8406 39.909L44.9526 39.8551C47.2087 38.7737 47.4718 38.0134 47.4801 37.7378C47.5029 36.9443 45.8331 36.0183 45.0313 35.5749L44.8179 35.4568C44.6335 35.3532 44.5175 35.1585 44.5175 34.9471V34.3215L44.5921 4.48242C44.5921 3.97075 44.1798 3.55637 43.668 3.55637H22.203C21.8507 3.55637 21.5152 3.61437 21.2085 3.72621C11.5688 7.2917 5.11331 15.3611 3.03123 26.451C2.74942 27.951 2.51944 29.3556 2.55886 30.8473C2.57329 31.3859 3.01467 31.8169 3.55533 31.8169H19.4331C19.489 31.8169 20.0442 31.8169 20.9081 31.8169H22.4018V48.5336C22.4018 49.0742 22.8389 49.5115 23.3797 49.5115Z" class="fill-action"/>
                <path d="M26.4183 33.6005C25.9978 33.6005 25.5856 33.6005 25.1898 33.6005H21.8688C21.844 33.6005 21.8171 33.6005 21.7922 33.6005L21.5995 33.5964C21.2929 33.5778 20.9987 33.497 20.7936 33.1407L20.5264 32.6807L20.6776 32.4176V3.60819C20.6776 3.10066 21.0877 2.68628 21.5974 2.68628C22.1071 2.68628 22.5193 3.09853 22.5193 3.60819V31.7567C24.4067 31.7567 28.7367 31.7567 31.4008 31.7567C33.6673 31.7547 33.9823 31.4336 33.9905 29.1133C33.9926 28.5415 33.9926 27.7894 33.976 27.0435C33.9636 26.536 34.3675 26.1133 34.8752 26.1009C35.3868 26.0884 35.8054 26.4925 35.8178 27.0001C35.8344 27.7687 35.8344 28.5373 35.8322 29.1194C35.8198 32.4632 34.7011 33.5922 31.403 33.5964C30.0024 33.5964 28.142 33.5985 26.4183 33.5985V33.6005Z" class="fill-action"/>
                <path d="M5.74463 26.3601C8.08567 30.3275 14.6199 30.833 17.4747 26.4243C15.1275 22.7822 9.136 21.9598 5.74463 26.3601ZM10.2444 28.2288C8.79217 27.9326 7.9324 27.4002 7.18034 26.4306C7.93654 25.4631 8.83974 24.9866 10.2693 24.6343C9.31212 25.8899 9.29141 26.9712 10.2444 28.2288ZM11.7009 27.4809C11.1498 27.5162 10.6049 27.0272 10.5841 26.4761C10.5634 25.9313 11.0835 25.3761 11.6283 25.4071C12.2084 25.4382 12.5668 25.7821 12.6683 26.3394C12.7658 26.8635 12.2478 27.4436 11.7009 27.4809ZM13.0972 28.202C13.8678 26.9878 14.0066 25.9355 13.2463 24.827C14.4023 25.0114 15.3243 25.4692 16.0307 26.4057C15.3802 27.4043 14.4666 27.9016 13.0952 28.202H13.0972Z" class="fill-action"/>
                <path d="M28.2568 16.5402C30.9044 21.0275 38.2944 21.5993 41.522 16.6126C38.8682 12.4941 32.0916 11.5639 28.2568 16.5402ZM33.345 18.6533C31.7021 18.3177 30.7304 17.7169 29.879 16.6189C30.7304 15.5229 31.7559 14.9842 33.3719 14.5886C32.2904 16.0077 32.2656 17.2321 33.345 18.6533ZM34.992 17.8081C34.3663 17.8495 33.7531 17.2943 33.7303 16.6728C33.7076 16.0595 34.2959 15.4297 34.9112 15.4629C35.5659 15.498 35.9699 15.8896 36.0879 16.5195C36.1977 17.112 35.6115 17.7666 34.992 17.8081ZM36.5707 18.6264C37.4429 17.2528 37.5983 16.0615 36.7405 14.8061C38.0478 15.0154 39.0899 15.5312 39.8896 16.5941C39.152 17.7211 38.1203 18.2846 36.5707 18.6243V18.6264Z" class="fill-action"/>
              </svg>
              
                <span class="inline-flex flex-col gap-2 text-left shrink-0">
                  <span class="top-text font-thin text-base 2xs:text-lg md:text-xl opacity-0 translate-x-[10%]">{{ block.settings.top_text }}</span>
                  <span class="bottom-text font-bold font-heading text-base 2xs:text-lg xs:text-xl md:text-2xl opacity-0 translate-x-1/3">
                    {{ block.settings.bottom_text }}
                  </span>
                </span>
              </button>
            </template>
            <div aria-modal="true" role="dialog" aria-hidden="true" id="addonsDrawer" class="fixed top-0 left-0 w-screen h-dvh bg-secondary z-50 transition-transform translate-x-full duration-300">
              <div class="w-full h-full flex justify-center items-center">
                {% render 'tw-loading-hand' %}
              </div>
            </div>
            {%- liquid
              render 'vite-tag' with 'index.jsx'
            -%}
          {%- when 'description' -%}
            {%- if product.description != blank -%}
              <div class="description flex flex-col gap-5 text-lg leading-relaxed mb-5">
                {{ product.description }}
              </div>
            {%- endif -%}
          {%- when 'collapsible_tab' -%}
            <details class="accordion group border-t border-main/10 first-of-type:mt-5 last-of-type:border-b last-of-type:border-b-main/10 last-of-type:mb-5">
              <summary class="list-none flex justify-between py-3 select-none cursor-pointer">
                <div class="flex gap-3">
                  {% render 'icon-accordion', icon: block.settings.icon, color: block.settings.icon_color %}
                  <h4 class="h4 text-lg max-w-[90%]">
                    {{ block.settings.heading | default: block.settings.page.title }}
                  </h4>
                </div>
                <span class="group-open:rotate-180 transition-transform duration-200 mr-5 flex items-center">
                  {% render 'tw-icon-caret', width: "10" %}
                </span>
              </summary>
              <div class="py-3 text-lg flex flex-col gap-3">
                {{ block.settings.content }}
                {{ block.settings.page.content }}
              </div>
            </details>
        {%- endcase -%}
      {%- endfor -%}
    </div>
  </main-product-blocks>
</div>

{%- liquid
  if product.images[1]
    assign seo_media = product.images[1]
  elsif product.selected_or_first_available_variant.featured_media
    assign seo_media = product.selected_or_first_available_variant.featured_media
  else
    assign seo_media = product.featured_media
  endif
-%}

<script type="application/ld+json">
  {
    "@context": "http://schema.org/",
    "@type": "Product",
    "name": {{ product.title | json }},
    "url": {{ request.origin | append: product.url | json }},
    {% if seo_media -%}
      "image": [
        {{ seo_media | image_url: width: seo_media.preview_image.width | prepend: "https:" | json }}
      ],
    {%- endif %}
    "description": {{ product.description | strip_html | json }},
    {% if product.selected_or_first_available_variant.sku != blank -%}
      "sku": {{ product.selected_or_first_available_variant.sku | json }},
    {%- endif %}
    "brand": {
      "@type": "Brand",
      "name": {{ product.vendor | json }}
    },
    "offers": [
      {%- for variant in product.variants -%}
        {
          "@type" : "Offer",
          {%- if variant.sku != blank -%}
            "sku": {{ variant.sku | json }},
          {%- endif -%}
          {%- if variant.barcode.size == 12 -%}
            "gtin12": {{ variant.barcode }},
          {%- endif -%}
          {%- if variant.barcode.size == 13 -%}
            "gtin13": {{ variant.barcode }},
          {%- endif -%}
          {%- if variant.barcode.size == 14 -%}
            "gtin14": {{ variant.barcode }},
          {%- endif -%}
          "availability" : "http://schema.org/{% if variant.available %}InStock{% else %}OutOfStock{% endif %}",
          "price" : {{ variant.price | divided_by: 100.00 | json }},
          "priceCurrency" : {{ cart.currency.iso_code | json }},
          "url" : {{ request.origin | append: variant.url | json }}
        }{% unless forloop.last %},{% endunless %}
      {%- endfor -%}
    ]
  }
</script>

<script id="product-data">
  window.productRatio = "{% if template.suffix != 'carre' %}{{ template.suffix }}{% else %}square{% endif %}";
  window.productImageSRC = "{{ product.images[1] | image_url | prepend: 'https:' }}";
  window.productImageAlt = "{{ product.images[1].alt }}";
  window.canvasTexture = "{{ 'tw.main_product.painting.canvas_texture' | t }}";
  window.productId = "{{ product.id }}";
  window.productAll = {{ product | json }};
</script>


{% if template.suffix == 'portrait' %} 
  <script id="variants-available">
    window.variants = [{"name":"{{ 'localeImported.30x40_cm' | t }}","price":59.5,"technicalType":"size","technicalName":"30x40","children":[{"name":"{{ 'localeImported.toile' | t }}","price":0,"technicalType":"matter","technicalName":"canvas","children":[[{"name":"{{ 'localeImported.sans_fixation' | t }}","price":0,"technicalType":"fixation","technicalName":"null"},{"name":"{{ 'localeImported.set_de_fixation' | t }}","price":6,"technicalType":"fixation","technicalName":"set"}],[{"name":"{{ 'localeImported.chassis_de_2cm' | t }}","price":0,"technicalType":"chassis","technicalName":2},{"name":"{{ 'localeImported.chassis_de_4cm' | t }}","price":15,"technicalType":"chassis","technicalName":4}],[{"name":"{{ 'localeImported.bordure_blanche' | t }}","price":0,"technicalType":"border","technicalName":"white"},{"name":"{{ 'localeImported.bordure_noire' | t }}","price":2,"technicalType":"border","technicalName":"black"},{"name":"{{ 'localeImported.bordure_tire' | t }}","price":4,"technicalType":"border","technicalName":"stretched"},{"name":"{{ 'localeImported.bordure_miroir' | t }}","price":6,"technicalType":"border","technicalName":"mirror"},{"name":"{{ 'localeImported.bordure_plie' | t }}","price":8,"technicalType":"border","technicalName":"folded"}],[{"name":"{{ 'localeImported.sans_cadre' | t }}","price":0,"technicalType":"frame","technicalName":"null"},{"name":"{{ 'localeImported.cadre_blanc' | t }}","price":25,"technicalType":"frame","technicalName":"white"},{"name":"{{ 'localeImported.cadre_noir_mat' | t }}","price":25,"technicalType":"frame","technicalName":"black-mat"},{"name":"{{ 'localeImported.cadre_argent_ancien' | t }}","price":30,"technicalType":"frame","technicalName":"silver-old"},{"name":"{{ 'localeImported.cadre_chne_clair' | t }}","price":30,"technicalType":"frame","technicalName":"oak-light"},{"name":"{{ 'localeImported.cadre_noyer' | t }}","price":30,"technicalType":"frame","technicalName":"walnut"}]]},{"name":"{{ 'localeImported.aluminium' | t }}","price":22.05,"technicalType":"matter","technicalName":"aluminium","children":[[{"name":"{{ 'localeImported.sans_fixation' | t }}","price":0,"technicalType":"fixation","technicalName":"null"},{"name":"{{ 'localeImported.crochet' | t }}","price":8,"technicalType":"fixation","technicalName":"hook"}],[{"name":"{{ 'localeImported.mat' | t }}","price":0,"technicalType":"shine","technicalName":"mat"},{"name":"{{ 'localeImported.brillant' | t }}","price":4.9,"technicalType":"shine","technicalName":"shine"}]]},{"name":"{{ 'localeImported.aluminium__plexiglas' | t }}","price":53.5,"technicalType":"matter","technicalName":"aluminium-plexi","children":[[{"name":"{{ 'localeImported.sans_fixation' | t }}","price":0,"technicalType":"fixation","technicalName":"null"},{"name":"{{ 'localeImported.crochet' | t }}","price":8,"technicalType":"fixation","technicalName":"hook"}]]}]},{"name":"{{ 'localeImported.60x80_cm' | t }}","price":93.99,"technicalType":"size","technicalName":"60x80","children":[{"name":"{{ 'localeImported.toile' | t }}","price":0,"technicalType":"matter","technicalName":"canvas","children":[[{"name":"{{ 'localeImported.sans_fixation' | t }}","price":0,"technicalType":"fixation","technicalName":"null"},{"name":"{{ 'localeImported.set_de_fixation' | t }}","price":6,"technicalType":"fixation","technicalName":"set"}],[{"name":"{{ 'localeImported.chassis_de_2cm' | t }}","price":0,"technicalType":"chassis","technicalName":2},{"name":"{{ 'localeImported.chassis_de_4cm' | t }}","price":15,"technicalType":"chassis","technicalName":4}],[{"name":"{{ 'localeImported.bordure_blanche' | t }}","price":0,"technicalType":"border","technicalName":"white"},{"name":"{{ 'localeImported.bordure_noire' | t }}","price":2,"technicalType":"border","technicalName":"black"},{"name":"{{ 'localeImported.bordure_tire' | t }}","price":4,"technicalType":"border","technicalName":"stretched"},{"name":"{{ 'localeImported.bordure_miroir' | t }}","price":6,"technicalType":"border","technicalName":"mirror"},{"name":"{{ 'localeImported.bordure_plie' | t }}","price":8,"technicalType":"border","technicalName":"folded"}]]},{"name":"{{ 'localeImported.aluminium' | t }}","price":33.51,"technicalType":"matter","technicalName":"aluminium","children":[[{"name":"{{ 'localeImported.sans_fixation' | t }}","price":0,"technicalType":"fixation","technicalName":"null"},{"name":"{{ 'localeImported.crochet' | t }}","price":8,"technicalType":"fixation","technicalName":"hook"},{"name":"{{ 'localeImported.rails' | t }}","price":15,"technicalType":"fixation","technicalName":"rail"}],[{"name":"{{ 'localeImported.mat' | t }}","price":0,"technicalType":"shine","technicalName":"mat"},{"name":"{{ 'localeImported.brillant' | t }}","price":4.9,"technicalType":"shine","technicalName":"shine"}]]},{"name":"{{ 'localeImported.aluminium__plexiglas' | t }}","price":95.37,"technicalType":"matter","technicalName":"aluminium-plexi","children":[[{"name":"{{ 'localeImported.sans_fixation' | t }}","price":0,"technicalType":"fixation","technicalName":"null"},{"name":"{{ 'localeImported.crochet' | t }}","price":8,"technicalType":"fixation","technicalName":"hook"},{"name":"{{ 'localeImported.rails' | t }}","price":15,"technicalType":"fixation","technicalName":"rail"}]]}]},{"name":"{{ 'localeImported.75x100_cm' | t }}","price":114,"technicalType":"size","technicalName":"75x100","children":[{"name":"{{ 'localeImported.toile' | t }}","price":0,"technicalType":"matter","technicalName":"canvas","children":[[{"name":"{{ 'localeImported.sans_fixation' | t }}","price":0,"technicalType":"fixation","technicalName":"null"},{"name":"{{ 'localeImported.set_de_fixation' | t }}","price":6,"technicalType":"fixation","technicalName":"set"}],[{"name":"{{ 'localeImported.chassis_de_2cm' | t }}","price":0,"technicalType":"chassis","technicalName":2},{"name":"{{ 'localeImported.chassis_de_4cm' | t }}","price":15,"technicalType":"chassis","technicalName":4}],[{"name":"{{ 'localeImported.bordure_blanche' | t }}","price":0,"technicalType":"border","technicalName":"white"},{"name":"{{ 'localeImported.bordure_noire' | t }}","price":2,"technicalType":"border","technicalName":"black"},{"name":"{{ 'localeImported.bordure_tire' | t }}","price":4,"technicalType":"border","technicalName":"stretched"},{"name":"{{ 'localeImported.bordure_miroir' | t }}","price":6,"technicalType":"border","technicalName":"mirror"},{"name":"{{ 'localeImported.bordure_plie' | t }}","price":8,"technicalType":"border","technicalName":"folded"}]]},{"name":"{{ 'localeImported.aluminium' | t }}","price":70.6,"technicalType":"matter","technicalName":"aluminium","children":[[{"name":"{{ 'localeImported.sans_fixation' | t }}","price":0,"technicalType":"fixation","technicalName":"null"},{"name":"{{ 'localeImported.rails' | t }}","price":15,"technicalType":"fixation","technicalName":"rail"}],[{"name":"{{ 'localeImported.mat' | t }}","price":0,"technicalType":"shine","technicalName":"mat"},{"name":"{{ 'localeImported.brillant' | t }}","price":4.9,"technicalType":"shine","technicalName":"shine"}]]},{"name":"{{ 'localeImported.aluminium__plexiglas' | t }}","price":113,"technicalType":"matter","technicalName":"aluminium-plexi","children":[[{"name":"{{ 'localeImported.sans_fixation' | t }}","price":0,"technicalType":"fixation","technicalName":"null"},{"name":"{{ 'localeImported.rails' | t }}","price":15,"technicalType":"fixation","technicalName":"rail"}]]}]},{"name":"{{ 'localeImported.90x120_cm' | t }}","price":215.98,"technicalType":"size","technicalName":"90x120","children":[{"name":"{{ 'localeImported.toile' | t }}","price":0,"technicalType":"matter","technicalName":"canvas","children":[]},{"name":"{{ 'localeImported.aluminium' | t }}","price":45.02,"technicalType":"matter","technicalName":"aluminium","children":[[{"name":"{{ 'localeImported.sans_fixation' | t }}","price":0,"technicalType":"fixation","technicalName":"null"},{"name":"{{ 'localeImported.rails' | t }}","price":15,"technicalType":"fixation","technicalName":"rail"}],[{"name":"{{ 'localeImported.mat' | t }}","price":0,"technicalType":"shine","technicalName":"mat"},{"name":"{{ 'localeImported.brillant' | t }}","price":4.9,"technicalType":"shine","technicalName":"shine"}]]},{"name":"{{ 'localeImported.aluminium__plexiglas' | t }}","price":87.02,"technicalType":"matter","technicalName":"aluminium-plexi","children":[[{"name":"{{ 'localeImported.sans_fixation' | t }}","price":0,"technicalType":"fixation","technicalName":"null"},{"name":"{{ 'localeImported.rails' | t }}","price":15,"technicalType":"fixation","technicalName":"rail"}]]}]},{"name":"{{ 'localeImported.120x160_cm' | t }}","price":250,"technicalType":"size","technicalName":"120x160","children":[{"name":"{{ 'localeImported.toile' | t }}","price":0,"technicalType":"matter","technicalName":"canvas","children":[]},{"name":"{{ 'localeImported.aluminium' | t }}","price":55,"technicalType":"matter","technicalName":"aluminium","children":[[{"name":"{{ 'localeImported.sans_fixation' | t }}","price":0,"technicalType":"fixation","technicalName":"null"},{"name":"{{ 'localeImported.rails' | t }}","price":15,"technicalType":"fixation","technicalName":"rail"}],[{"name":"{{ 'localeImported.mat' | t }}","price":0,"technicalType":"shine","technicalName":"mat"},{"name":"{{ 'localeImported.brillant' | t }}","price":4.9,"technicalType":"shine","technicalName":"shine"}]]},{"name":"{{ 'localeImported.aluminium__plexiglas' | t }}","price":95,"technicalType":"matter","technicalName":"aluminium-plexi","children":[[{"name":"{{ 'localeImported.sans_fixation' | t }}","price":0,"technicalType":"fixation","technicalName":"null"},{"name":"{{ 'localeImported.rails' | t }}","price":15,"technicalType":"fixation","technicalName":"rail"}]]}]}];
    window.moneySymbol = "{{ localization.country.currency.symbol }}";
  </script>
{% elsif template.suffix == 'carre' %}   
  <script id="variants-available">
    window.variants = [{"name":"{{ 'localeImported.40x40_cm' | t }}","price":59.5,"technicalType":"size","technicalName":"40x40","children":[{"name":"{{ 'localeImported.toile' | t }}","price":0,"technicalType":"matter","technicalName":"canvas","children":[[{"name":"{{ 'localeImported.sans_fixation' | t }}","price":0,"technicalType":"fixation","technicalName":"null"},{"name":"{{ 'localeImported.set_de_fixation' | t }}","price":6,"technicalType":"fixation","technicalName":"set"}],[{"name":"{{ 'localeImported.chassis_de_2cm' | t }}","price":0,"technicalType":"chassis","technicalName":2},{"name":"{{ 'localeImported.chassis_de_4cm' | t }}","price":15,"technicalType":"chassis","technicalName":4}],[{"name":"{{ 'localeImported.bordure_blanche' | t }}","price":0,"technicalType":"border","technicalName":"white"},{"name":"{{ 'localeImported.bordure_noire' | t }}","price":2,"technicalType":"border","technicalName":"black"},{"name":"{{ 'localeImported.bordure_tire' | t }}","price":4,"technicalType":"border","technicalName":"stretched"},{"name":"{{ 'localeImported.bordure_miroir' | t }}","price":6,"technicalType":"border","technicalName":"mirror"},{"name":"{{ 'localeImported.bordure_plie' | t }}","price":8,"technicalType":"border","technicalName":"folded"}],[{"name":"{{ 'localeImported.sans_cadre' | t }}","price":0,"technicalType":"frame","technicalName":"null"},{"name":"{{ 'localeImported.cadre_blanc' | t }}","price":25,"technicalType":"frame","technicalName":"white"},{"name":"{{ 'localeImported.cadre_noir_mat' | t }}","price":25,"technicalType":"frame","technicalName":"black-mat"},{"name":"{{ 'localeImported.cadre_argent_ancien' | t }}","price":30,"technicalType":"frame","technicalName":"silver-old"},{"name":"{{ 'localeImported.cadre_chne_clair' | t }}","price":30,"technicalType":"frame","technicalName":"oak-light"},{"name":"{{ 'localeImported.cadre_noyer' | t }}","price":30,"technicalType":"frame","technicalName":"walnut"}]]},{"name":"{{ 'localeImported.aluminium' | t }}","price":22.05,"technicalType":"matter","technicalName":"aluminium","children":[[{"name":"{{ 'localeImported.sans_fixation' | t }}","price":0,"technicalType":"fixation","technicalName":"null"},{"name":"{{ 'localeImported.crochet' | t }}","price":8,"technicalType":"fixation","technicalName":"hook"}],[{"name":"{{ 'localeImported.mat' | t }}","price":0,"technicalType":"shine","technicalName":"mat"},{"name":"{{ 'localeImported.brillant' | t }}","price":4.9,"technicalType":"shine","technicalName":"shine"}]]},{"name":"{{ 'localeImported.aluminium__plexiglas' | t }}","price":53.5,"technicalType":"matter","technicalName":"aluminium-plexi","children":[[{"name":"{{ 'localeImported.sans_fixation' | t }}","price":0,"technicalType":"fixation","technicalName":"null"},{"name":"{{ 'localeImported.crochet' | t }}","price":8,"technicalType":"fixation","technicalName":"hook"}]]}]},{"name":"{{ 'localeImported.60x60_cm' | t }}","price":93.99,"technicalType":"size","technicalName":"60x60","children":[{"name":"{{ 'localeImported.toile' | t }}","price":0,"technicalType":"matter","technicalName":"canvas","children":[[{"name":"{{ 'localeImported.sans_fixation' | t }}","price":0,"technicalType":"fixation","technicalName":"null"},{"name":"{{ 'localeImported.set_de_fixation' | t }}","price":6,"technicalType":"fixation","technicalName":"set"}],[{"name":"{{ 'localeImported.chassis_de_2cm' | t }}","price":0,"technicalType":"chassis","technicalName":2},{"name":"{{ 'localeImported.chassis_de_4cm' | t }}","price":15,"technicalType":"chassis","technicalName":4}],[{"name":"{{ 'localeImported.bordure_blanche' | t }}","price":0,"technicalType":"border","technicalName":"white"},{"name":"{{ 'localeImported.bordure_noire' | t }}","price":2,"technicalType":"border","technicalName":"black"},{"name":"{{ 'localeImported.bordure_tire' | t }}","price":4,"technicalType":"border","technicalName":"stretched"},{"name":"{{ 'localeImported.bordure_miroir' | t }}","price":6,"technicalType":"border","technicalName":"mirror"},{"name":"{{ 'localeImported.bordure_plie' | t }}","price":8,"technicalType":"border","technicalName":"folded"}]]},{"name":"{{ 'localeImported.aluminium' | t }}","price":33.51,"technicalType":"matter","technicalName":"aluminium","children":[[{"name":"{{ 'localeImported.sans_fixation' | t }}","price":0,"technicalType":"fixation","technicalName":"null"},{"name":"{{ 'localeImported.crochet' | t }}","price":8,"technicalType":"fixation","technicalName":"hook"},{"name":"{{ 'localeImported.rails' | t }}","price":15,"technicalType":"fixation","technicalName":"rail"}],[{"name":"{{ 'localeImported.mat' | t }}","price":0,"technicalType":"shine","technicalName":"mat"},{"name":"{{ 'localeImported.brillant' | t }}","price":4.9,"technicalType":"shine","technicalName":"shine"}]]},{"name":"{{ 'localeImported.aluminium__plexiglas' | t }}","price":95.37,"technicalType":"matter","technicalName":"aluminium-plexi","children":[[{"name":"{{ 'localeImported.sans_fixation' | t }}","price":0,"technicalType":"fixation","technicalName":"null"},{"name":"{{ 'localeImported.crochet' | t }}","price":8,"technicalType":"fixation","technicalName":"hook"},{"name":"{{ 'localeImported.rails' | t }}","price":15,"technicalType":"fixation","technicalName":"rail"}]]}]},{"name":"{{ 'localeImported.80x80_cm' | t }}","price":114,"technicalType":"size","technicalName":"80x80","children":[{"name":"{{ 'localeImported.toile' | t }}","price":0,"technicalType":"matter","technicalName":"canvas","children":[[{"name":"{{ 'localeImported.sans_fixation' | t }}","price":0,"technicalType":"fixation","technicalName":"null"},{"name":"{{ 'localeImported.set_de_fixation' | t }}","price":6,"technicalType":"fixation","technicalName":"set"}],[{"name":"{{ 'localeImported.chassis_de_2cm' | t }}","price":0,"technicalType":"chassis","technicalName":2},{"name":"{{ 'localeImported.chassis_de_4cm' | t }}","price":15,"technicalType":"chassis","technicalName":4}],[{"name":"{{ 'localeImported.bordure_blanche' | t }}","price":0,"technicalType":"border","technicalName":"white"},{"name":"{{ 'localeImported.bordure_noire' | t }}","price":2,"technicalType":"border","technicalName":"black"},{"name":"{{ 'localeImported.bordure_tire' | t }}","price":4,"technicalType":"border","technicalName":"stretched"},{"name":"{{ 'localeImported.bordure_miroir' | t }}","price":6,"technicalType":"border","technicalName":"mirror"},{"name":"{{ 'localeImported.bordure_plie' | t }}","price":8,"technicalType":"border","technicalName":"folded"}]]},{"name":"{{ 'localeImported.aluminium' | t }}","price":70.6,"technicalType":"matter","technicalName":"aluminium","children":[[{"name":"{{ 'localeImported.sans_fixation' | t }}","price":0,"technicalType":"fixation","technicalName":"null"},{"name":"{{ 'localeImported.rails' | t }}","price":15,"technicalType":"fixation","technicalName":"rail"}],[{"name":"{{ 'localeImported.mat' | t }}","price":0,"technicalType":"shine","technicalName":"mat"},{"name":"{{ 'localeImported.brillant' | t }}","price":4.9,"technicalType":"shine","technicalName":"shine"}]]},{"name":"{{ 'localeImported.aluminium__plexiglas' | t }}","price":113,"technicalType":"matter","technicalName":"aluminium-plexi","children":[[{"name":"{{ 'localeImported.sans_fixation' | t }}","price":0,"technicalType":"fixation","technicalName":"null"},{"name":"{{ 'localeImported.rails' | t }}","price":15,"technicalType":"fixation","technicalName":"rail"}]]}]},{"name":"{{ 'localeImported.100x100_cm' | t }}","price":215.98,"technicalType":"size","technicalName":"100x100","children":[{"name":"{{ 'localeImported.toile' | t }}","price":0,"technicalType":"matter","technicalName":"canvas","children":[]},{"name":"{{ 'localeImported.aluminium' | t }}","price":45.02,"technicalType":"matter","technicalName":"aluminium","children":[[{"name":"{{ 'localeImported.sans_fixation' | t }}","price":0,"technicalType":"fixation","technicalName":"null"},{"name":"{{ 'localeImported.rails' | t }}","price":15,"technicalType":"fixation","technicalName":"rail"}],[{"name":"{{ 'localeImported.mat' | t }}","price":0,"technicalType":"shine","technicalName":"mat"},{"name":"{{ 'localeImported.brillant' | t }}","price":4.9,"technicalType":"shine","technicalName":"shine"}]]},{"name":"{{ 'localeImported.aluminium__plexiglas' | t }}","price":87.02,"technicalType":"matter","technicalName":"aluminium-plexi","children":[[{"name":"{{ 'localeImported.sans_fixation' | t }}","price":0,"technicalType":"fixation","technicalName":"null"},{"name":"{{ 'localeImported.rails' | t }}","price":15,"technicalType":"fixation","technicalName":"rail"}]]}]},{"name":"{{ 'localeImported.120x120_cm' | t }}","price":250,"technicalType":"size","technicalName":"120x120","children":[{"name":"{{ 'localeImported.toile' | t }}","price":0,"technicalType":"matter","technicalName":"canvas","children":[]},{"name":"{{ 'localeImported.aluminium' | t }}","price":70,"technicalType":"matter","technicalName":"aluminium","children":[[{"name":"{{ 'localeImported.sans_fixation' | t }}","price":0,"technicalType":"fixation","technicalName":"null"},{"name":"{{ 'localeImported.rails' | t }}","price":15,"technicalType":"fixation","technicalName":"rail"}],[{"name":"{{ 'localeImported.mat' | t }}","price":0,"technicalType":"shine","technicalName":"mat"},{"name":"{{ 'localeImported.brillant' | t }}","price":4.9,"technicalType":"shine","technicalName":"shine"}]]},{"name":"{{ 'localeImported.aluminium__plexiglas' | t }}","price":105,"technicalType":"matter","technicalName":"aluminium-plexi","children":[[{"name":"{{ 'localeImported.sans_fixation' | t }}","price":0,"technicalType":"fixation","technicalName":"null"},{"name":"{{ 'localeImported.rails' | t }}","price":15,"technicalType":0,"technicalName":0}]]}]}];
    window.moneySymbol = "{{ localization.country.currency.symbol }}";
  </script>
{% elsif template.suffix == 'landscape' %}
  <script id="variants-available">
    window.variants = [{"name":"{{ 'localeImported.40x30_cm' | t }}","price":59.5,"technicalType":"size","technicalName":"40x30","children":[{"name":"{{ 'localeImported.toile' | t }}","price":0,"technicalType":"matter","technicalName":"canvas","children":[[{"name":"{{ 'localeImported.sans_fixation' | t }}","price":0,"technicalType":"fixation","technicalName":"null"},{"name":"{{ 'localeImported.set_de_fixation' | t }}","price":6,"technicalType":"fixation","technicalName":"set"}],[{"name":"{{ 'localeImported.chassis_de_2cm' | t }}","price":0,"technicalType":"chassis","technicalName":2},{"name":"{{ 'localeImported.chassis_de_4cm' | t }}","price":15,"technicalType":"chassis","technicalName":4}],[{"name":"{{ 'localeImported.bordure_blanche' | t }}","price":0,"technicalType":"border","technicalName":"white"},{"name":"{{ 'localeImported.bordure_noire' | t }}","price":2,"technicalType":"border","technicalName":"black"},{"name":"{{ 'localeImported.bordure_tire' | t }}","price":4,"technicalType":"border","technicalName":"stretched"},{"name":"{{ 'localeImported.bordure_miroir' | t }}","price":6,"technicalType":"border","technicalName":"mirror"},{"name":"{{ 'localeImported.bordure_plie' | t }}","price":8,"technicalType":"border","technicalName":"folded"}],[{"name":"{{ 'localeImported.sans_cadre' | t }}","price":0,"technicalType":"frame","technicalName":"null"},{"name":"{{ 'localeImported.cadre_blanc' | t }}","price":25,"technicalType":"frame","technicalName":"white"},{"name":"{{ 'localeImported.cadre_noir_mat' | t }}","price":25,"technicalType":"frame","technicalName":"black-mat"},{"name":"{{ 'localeImported.cadre_argent_ancien' | t }}","price":30,"technicalType":"frame","technicalName":"silver-old"},{"name":"{{ 'localeImported.cadre_chne_clair' | t }}","price":30,"technicalType":"frame","technicalName":"oak-light"},{"name":"{{ 'localeImported.cadre_noyer' | t }}","price":30,"technicalType":"frame","technicalName":"walnut"}]]},{"name":"{{ 'localeImported.aluminium' | t }}","price":22.05,"technicalType":"matter","technicalName":"aluminium","children":[[{"name":"{{ 'localeImported.sans_fixation' | t }}","price":0,"technicalType":"fixation","technicalName":"null"},{"name":"{{ 'localeImported.crochet' | t }}","price":8,"technicalType":"fixation","technicalName":"hook"}],[{"name":"{{ 'localeImported.mat' | t }}","price":0,"technicalType":"shine","technicalName":"mat"},{"name":"{{ 'localeImported.brillant' | t }}","price":4.9,"technicalType":"shine","technicalName":"shine"}]]},{"name":"{{ 'localeImported.aluminium__plexiglas' | t }}","price":53.5,"technicalType":"matter","technicalName":"aluminium-plexi","children":[[{"name":"{{ 'localeImported.sans_systme_de_fixation' | t }}","price":0,"technicalType":"fixation","technicalName":"null"},{"name":"{{ 'localeImported.crochet' | t }}","price":8,"technicalType":"fixation","technicalName":"hook"}]]}]},{"name":"{{ 'localeImported.80x60_cm' | t }}","price":93.99,"technicalType":"size","technicalName":"80x60","children":[{"name":"{{ 'localeImported.toile' | t }}","price":0,"technicalType":"matter","technicalName":"canvas","children":[[{"name":"{{ 'localeImported.sans_fixation' | t }}","price":0,"technicalType":"fixation","technicalName":"null"},{"name":"{{ 'localeImported.set_de_fixation' | t }}","price":6,"technicalType":"fixation","technicalName":"set"}],[{"name":"{{ 'localeImported.chassis_de_2cm' | t }}","price":0,"technicalType":"chassis","technicalName":2},{"name":"{{ 'localeImported.chassis_de_4cm' | t }}","price":15,"technicalType":"chassis","technicalName":4}],[{"name":"{{ 'localeImported.bordure_blanche' | t }}","price":0,"technicalType":"border","technicalName":"white"},{"name":"{{ 'localeImported.bordure_noire' | t }}","price":2,"technicalType":"border","technicalName":"black"},{"name":"{{ 'localeImported.bordure_tire' | t }}","price":4,"technicalType":"border","technicalName":"stretched"},{"name":"{{ 'localeImported.bordure_miroir' | t }}","price":6,"technicalType":"border","technicalName":"mirror"},{"name":"{{ 'localeImported.bordure_plie' | t }}","price":8,"technicalType":"border","technicalName":"folded"}]]},{"name":"{{ 'localeImported.aluminium' | t }}","price":33.51,"technicalType":"matter","technicalName":"aluminium","children":[[{"name":"{{ 'localeImported.sans_fixation' | t }}","price":0,"technicalType":"fixation","technicalName":"null"},{"name":"{{ 'localeImported.crochet' | t }}","price":8,"technicalType":"fixation","technicalName":"hook"},{"name":"{{ 'localeImported.rails' | t }}","price":15,"technicalType":"fixation","technicalName":"rail"}],[{"name":"{{ 'localeImported.mat' | t }}","price":0,"technicalType":"shine","technicalName":"mat"},{"name":"{{ 'localeImported.brillant' | t }}","price":4.9,"technicalType":"shine","technicalName":"shine"}]]},{"name":"{{ 'localeImported.aluminium__plexiglas' | t }}","price":95.37,"technicalType":"matter","technicalName":"aluminium-plexi","children":[[{"name":"{{ 'localeImported.sans_fixation' | t }}","price":0,"technicalType":"fixation","technicalName":"null"},{"name":"{{ 'localeImported.crochet' | t }}","price":8,"technicalType":"fixation","technicalName":"hook"},{"name":"{{ 'localeImported.rails' | t }}","price":15,"technicalType":"fixation","technicalName":"rail"}]]}]},{"name":"{{ 'localeImported.100x75_cm' | t }}","price":114,"technicalType":"size","technicalName":"100x75","children":[{"name":"{{ 'localeImported.toile' | t }}","price":0,"technicalType":"matter","technicalName":"canvas","children":[[{"name":"{{ 'localeImported.sans_fixation' | t }}","price":0,"technicalType":"fixation","technicalName":"null"},{"name":"{{ 'localeImported.set_de_fixation' | t }}","price":6,"technicalType":"fixation","technicalName":"set"}],[{"name":"{{ 'localeImported.chassis_de_2cm' | t }}","price":0,"technicalType":"chassis","technicalName":2},{"name":"{{ 'localeImported.chassis_de_4cm' | t }}","price":15,"technicalType":"chassis","technicalName":4}],[{"name":"{{ 'localeImported.bordure_blanche' | t }}","price":0,"technicalType":"border","technicalName":"white"},{"name":"{{ 'localeImported.bordure_noire' | t }}","price":2,"technicalType":"border","technicalName":"black"},{"name":"{{ 'localeImported.bordure_tire' | t }}","price":4,"technicalType":"border","technicalName":"stretched"},{"name":"{{ 'localeImported.bordure_miroir' | t }}","price":6,"technicalType":"border","technicalName":"mirror"},{"name":"{{ 'localeImported.bordure_plie' | t }}","price":8,"technicalType":"border","technicalName":"folded"}]]},{"name":"{{ 'localeImported.aluminium' | t }}","price":70.6,"technicalType":"matter","technicalName":"aluminium","children":[[{"name":"{{ 'localeImported.sans_fixation' | t }}","price":0,"technicalType":"fixation","technicalName":"null"},{"name":"{{ 'localeImported.rails' | t }}","price":15,"technicalType":"fixation","technicalName":"rail"}],[{"name":"{{ 'localeImported.mat' | t }}","price":0,"technicalType":"shine","technicalName":"mat"},{"name":"{{ 'localeImported.brillant' | t }}","price":4.9,"technicalType":"shine","technicalName":"shine"}]]},{"name":"{{ 'localeImported.aluminium__plexiglas' | t }}","price":113,"technicalType":"matter","technicalName":"aluminium-plexi","children":[[{"name":"{{ 'localeImported.sans_fixation' | t }}","price":0,"technicalType":"fixation","technicalName":"null"},{"name":"{{ 'localeImported.rails' | t }}","price":15,"technicalType":"fixation","technicalName":"rail"}]]}]},{"name":"{{ 'localeImported.120x90_cm' | t }}","price":215.98,"technicalType":"size","technicalName":"120x90","children":[{"name":"{{ 'localeImported.toile' | t }}","price":0,"technicalType":"matter","technicalName":"canvas","children":[]},{"name":"{{ 'localeImported.aluminium' | t }}","price":45.02,"technicalType":"matter","technicalName":"aluminium","children":[[{"name":"{{ 'localeImported.sans_fixation' | t }}","price":0,"technicalType":"fixation","technicalName":"null"},{"name":"{{ 'localeImported.rails' | t }}","price":15,"technicalType":"fixation","technicalName":"rail"}],[{"name":"{{ 'localeImported.mat' | t }}","price":0,"technicalType":"shine","technicalName":"mat"},{"name":"{{ 'localeImported.brillant' | t }}","price":4.9,"technicalType":"shine","technicalName":"shine"}]]},{"name":"{{ 'localeImported.aluminium__plexiglas' | t }}","price":87.02,"technicalType":"matter","technicalName":"aluminium-plexi","children":[[{"name":"{{ 'localeImported.sans_fixation' | t }}","price":0,"technicalType":"fixation","technicalName":"null"},{"name":"{{ 'localeImported.rails' | t }}","price":15,"technicalType":"fixation","technicalName":"rail"}]]}]},{"name":"{{ 'localeImported.160x120_cm' | t }}","price":250,"technicalType":"size","technicalName":"160x120","children":[{"name":"{{ 'localeImported.toile' | t }}","price":0,"technicalType":"matter","technicalName":"canvas","children":[]},{"name":"{{ 'localeImported.aluminium' | t }}","price":55,"technicalType":"matter","technicalName":"aluminium","children":[[{"name":"{{ 'localeImported.sans_fixation' | t }}","price":0,"technicalType":"fixation","technicalName":"null"},{"name":"{{ 'localeImported.rails' | t }}","price":15,"technicalType":"fixation","technicalName":"rail"}],[{"name":"{{ 'localeImported.mat' | t }}","price":0,"technicalType":"shine","technicalName":"mat"},{"name":"{{ 'localeImported.brillant' | t }}","price":4.9,"technicalType":"shine","technicalName":"shine"}]]},{"name":"{{ 'localeImported.aluminium__plexiglas' | t }}","price":95,"technicalType":"matter","technicalName":"aluminium-plexi","children":[[{"name":"{{ 'localeImported.sans_fixation' | t }}","price":0,"technicalType":"fixation","technicalName":"null"},{"name":"{{ 'localeImported.rails' | t }}","price":15,"technicalType":"fixation","technicalName":"rail"}]]}]}];
    window.moneySymbol = "{{ localization.country.currency.symbol }}";
  </script>
{% endif %}

{% schema %}
{
  "name": "t:sections.main-product.name",
  "class": "page-width relative",
  "tag": "section",
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "text",
      "name": "t:sections.main-product.blocks.text.name",
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Text block</p>",
          "label": "t:sections.main-product.blocks.text.settings.text.label"
        }
      ]
    },
    {
      "type": "title",
      "name": "t:sections.main-product.blocks.title.name",
      "limit": 1
    },
    {
      "type": "price",
      "name": "t:sections.main-product.blocks.price.name",
      "limit": 1
    },
    {
      "type": "description",
      "name": "t:sections.main-product.blocks.description.name",
      "limit": 1
    },
    {
      "type": "collapsible_tab",
      "name": "t:sections.main-product.blocks.collapsible_tab.name",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Collapsible row",
          "info": "t:sections.main-product.blocks.collapsible_tab.settings.heading.info",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.heading.label"
        },
        {
          "type": "select",
          "id": "icon",
          "options": [
            {
              "value": "none",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__1.label"
            },
            {
              "value": "apple",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__2.label"
            },
            {
              "value": "banana",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__3.label"
            },
            {
              "value": "bottle",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__4.label"
            },
            {
              "value": "box",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__5.label"
            },
            {
              "value": "carrot",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__6.label"
            },
            {
              "value": "chat_bubble",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__7.label"
            },
            {
              "value": "check_mark",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__8.label"
            },
            {
              "value": "clipboard",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__9.label"
            },
            {
              "value": "dairy",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__10.label"
            },
            {
              "value": "dairy_free",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__11.label"
            },
            {
              "value": "dryer",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__12.label"
            },
            {
              "value": "eye",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__13.label"
            },
            {
              "value": "fire",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__14.label"
            },
            {
              "value": "gluten_free",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__15.label"
            },
            {
              "value": "heart",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__16.label"
            },
            {
              "value": "iron",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__17.label"
            },
            {
              "value": "leaf",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__18.label"
            },
            {
              "value": "leather",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__19.label"
            },
            {
              "value": "lightning_bolt",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__20.label"
            },
            {
              "value": "lipstick",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__21.label"
            },
            {
              "value": "lock",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__22.label"
            },
            {
              "value": "map_pin",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__23.label"
            },
            {
              "value": "nut_free",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__24.label"
            },
            {
              "value": "pants",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__25.label"
            },
            {
              "value": "paw_print",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__26.label"
            },
            {
              "value": "pepper",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__27.label"
            },
            {
              "value": "perfume",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__28.label"
            },
            {
              "value": "plane",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__29.label"
            },
            {
              "value": "plant",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__30.label"
            },
            {
              "value": "price_tag",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__31.label"
            },
            {
              "value": "question_mark",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__32.label"
            },
            {
              "value": "recycle",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__33.label"
            },
            {
              "value": "return",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__34.label"
            },
            {
              "value": "ruler",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__35.label"
            },
            {
              "value": "serving_dish",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__36.label"
            },
            {
              "value": "shirt",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__37.label"
            },
            {
              "value": "shoe",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__38.label"
            },
            {
              "value": "silhouette",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__39.label"
            },
            {
              "value": "snowflake",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__40.label"
            },
            {
              "value": "star",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__41.label"
            },
            {
              "value": "stopwatch",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__42.label"
            },
            {
              "value": "truck",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__43.label"
            },
            {
              "value": "washing",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__44.label"
            }
          ],
          "default": "check_mark",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.label"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.content.label"
        },
        {
          "type": "page",
          "id": "page",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.page.label"
        }
      ]
    },
    {
      "type": "buy",
      "name": "t:sections.main-product.blocks.buy.name",
      "settings": [
        {
          "type": "text",
          "id": "top_text",
          "default": "Choix des options",
          "label": "t:sections.main-product.blocks.buy.settings.top_text.label"
        },
        {
          "type": "text",
          "id": "bottom_text",
          "default": "Personnaliser le tableau",
          "label": "t:sections.main-product.blocks.buy.settings.bottom_text.label"
        }
      ]
    }
  ]
}
{% endschema %}