{%- paginate collection.products by 24 -%}
  {%- if collection.products.size == 0 -%}
    <h2 class="my-40 text-center">
      {{ 'sections.main_collection_product_grid.empty' | t }}
    </h2>
  {%- else -%}
    <div>
      {%- if paginate.pages > 1 -%}
        <infinite-scroll
          id="infinite-scroll-{{ collection.id }}-{{ paginate.current_page }}"
          data-pages="{{ paginate.pages }}"
          data-page="{{ paginate.current_page }}"
          data-section-id="{{ section.id }}"
          data-paginate-previous-url="{{ paginate.previous.url }}"
          data-paginate-next-url="{{ paginate.next.url }}">
          <ul data-id="{{ section.id }}" class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 sm:gap-8 md:gap-10 pb-3">
            {%- for product in collection.products -%}
              {% liquid
                assign lazy_load = false
                if forloop.index > 2
                  assign lazy_load = true
                endif
              %}
              <anime-product-card>
                <li id="{{ product.id }}" class="relative group h-full">
                  {% render 'card-product'
                    , product: product
                    , show_secondary_image: section.settings.show_secondary_image
                    , lazy_load: lazy_load
                    , section_id: section.id
                  %}
                </li>
              </anime-product-card>
            {%- endfor -%}
          </ul>
        </infinite-scroll>
        {% render 'pagination'
          , paginate: paginate
          , anchor: '' %}
      {%- else -%}
        <ul
          id="product-grid"
          data-id="{{ section.id }}"
          class="grid sm:grid-cols-2 gap-3 lg:grid-cols-3 pb-3 mb-14">
          {%- for product in collection.products -%}
            {% assign lazy_load = false %}
            {%- if forloop.index > 2 -%}
              {%- assign lazy_load = true -%}
            {%- endif -%}
            <li id="{{ product.id }}" class="relative group border-main border-1 h-full">
              {% render 'card-product'
                , product: product
                , show_secondary_image: section.settings.show_secondary_image
                , lazy_load: lazy_load
                , section_id: section.id
              %}
            </li>
          {%- endfor -%}
        </ul>
      {%- endif -%}
    </div>
  {%- endif -%}
{%- endpaginate -%}

<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "ItemList",
    "name": "{{ collection.title }}",
    "url": "{{ shop.url }} {{ collection.url }}",
    "itemListElement": [
      {%- for product in collection.products -%}
        {
          "@type": "ListItem",
          "position": {{ forloop.index }},
          "url": "{{ shop.url }} {{ product.url }}",
          "item": {
            "@type": "Product",
            "name": {{ product.title | strip_html | json }},
            {%- liquid
              if product.template_suffix == "painting"
                assign product_image = product.images[1] | image_url: width: product.images[1].preview_image.width | prepend: "https:"
              else if template.suffix == 'personalized'
                assign product_image = product.images[1] | image_url: width: product.images[1].preview_image.width | prepend: "https:"
              else
                assign product_image = product.featured_image | image_url: width: product.featured_image.preview_image.width | prepend: "https:"
              endif -%} "image": "{{ product_image }}",
            "description": {{ product.description | strip_html | json }},
            "brand": {
              "@type": "Brand",
              "name": "{{ shop.name }}"
            },
            "offers": {
              "@type": "Offer",
              "priceCurrency": "{{ shop.currency }}",
              "price": "{{ product.price_min |  divided_by: 100.00 }}",
              "availability": "https://schema.org/InStock",
              "url": "{{ shop.url }}{{ product.url }}"
            }
          }
        }{% unless forloop.last %},{% endunless %}
      {%- endfor -%}
    ]
  }
</script>

{% schema %}
  {
    "name": "t:sections.main-collection-product-grid.name",
    "class": "main-collection-product-grid page-width px-4",
    "tag": "section",
    "enabled_on": {
      "templates": ["collection"]
    },
    "settings": [
      {
        "type": "checkbox",
        "id": "show_secondary_image",
        "default": true,
        "label": "t:sections.main-collection-product-grid.settings.show_secondary_image.label"
      }
    ]
  }
{% endschema %}