{%- liquid
  assign sort_by = search.sort_by | default: search.default_sort_by
  assign terms = search.terms | escape
  assign search_url = '?q=' | append: terms | append: '&options%5Bprefix%5D=last&sort_by=' | append: sort_by
-%}

{%- if search.performed -%}
  <h1 class="text-center mt-14 mb-4 text-3xl">{{ 'general.search.search_performed' | t }}</h1>
{%- else -%}
  <h1 class="text-center mt-14 mb-4 text-3xl">{{ 'general.search.search' | t }}</h1>
{%- endif -%}

<div class="relative h-24">
  {% render 'tw-predictive-search', in_header %}
</div>

{%- if search.performed -%}
  {%- if search.results_count > 0 -%}
    <p class="text-center text-main/70 mb-8" role="status">
      {{ 'templates.search.results_with_count_and_term' | t: terms: search.terms, count: search.results_count }}
    </p>
  {%- endif -%}
  {%- if search.results_count == 0 and search.filters == empty -%}
    <p class="text-center text-main/70 mb-8" role="status">
      {{ 'templates.search.no_results' | t: terms: search.terms }}
    </p>
  {%- endif -%}

  {% paginate search.results by 24 %}
    <ul data-id="{{ section.id }}" class="grid sm:grid-cols-2 gap-3 lg:grid-cols-3 pb-3">
      {%- for product in search.results -%}
        {% assign lazy_load = false %}
        {%- if forloop.index > 2 -%}
          {%- assign lazy_load = true -%}
        {%- endif -%}
        <li id="{{ product.id }}" class="relative group border-main border-1 h-full">
          {% render 'card-product',
            product: product,
            show_secondary_image: section.settings.show_secondary_image,
            lazy_load: lazy_load,
            section_id: section.id,
          %}
        </li>
      {%- endfor -%}
        </ul>
    {%- if paginate.pages > 1 -%}
      {% render 'pagination', paginate: paginate %}
    {%- endif -%}
  {% endpaginate %}
{%- endif -%}

{% schema %}
{
  "name": "t:sections.main-search.name",
  "tag": "section",
  "class": "page-width px-4",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.main-search.settings.header__1.content"
    },
    {
      "type": "checkbox",
      "id": "show_secondary_image",
      "default": true,
      "label": "t:sections.main-search.settings.show_secondary_image.label"
    }
  ]
}
{% endschema %}
