
{% liquid
  assign first_product = collections.all.products.first
%}

<my-likes data-price-format="{{ first_product.price | money }}">
  <template>
    <ul data-id="{{ section.id }}" class="product-grid">
      <anime-product-card>
        <li id="{{ first_product.id }}" class="relative group h-full">
          {% render 'card-product'
            , product: first_product
            , show_secondary_image: false
            , lazy_load: false
            , section_id: section.id
          %}
        </li>
      </anime-product-card>
    </ul>
  </template>
</my-likes>
<div class="flex justify-center my-40">
  {% render 'tw-loading-hand' %}
</div>

<div>
  <svg
    aria-hidden="true"
    width="60"
    focusable="false"
    role="presentation"
    viewBox="0 0 66 66"
    xmlns="http://www.w3.org/2000/svg"
    opacity="0.3">
    <circle
      fill="none"
      stroke-width="6"
      cx="33"
      cy="33"
      r="30"></circle>
  </svg>
</div>

{% if section.settings.empty_text != blank %}
  <div class="hidden empty-message flex flex-col md:flex-row gap-6 justify-center items-center text-main-80">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="200"
      height="200"
      viewBox="0 0 256 256"
      class="floating"><path class="fill-like" d="M232 94c0 66-104 122-104 122S24 160 24 94a54 54 0 0 1 92.18-38.18L128 67.63l11.82-11.81A54 54 0 0 1 232 94Z" /><path
        class="fill-main"
        fill="currentColor"
        d="M178 32a61.6 61.6 0 0 0-43.84 18.16L128 56.32l-6.16-6.16A62 62 0 0 0 16 94c0 70 103.79 126.67 108.21 129a8 8 0 0 0 7.58 0C136.21 220.67 240 164 240 94a62.07 62.07 0 0 0-62-62Zm-50 174.8C109.74 196.16 32 147.69 32 94a46 46 0 0 1 78.53-32.53l6.16 6.16L106.34 78a8 8 0 0 0 0 11.31l24.53 24.53l-16.53 16.52a8 8 0 0 0 11.32 11.32l22.18-22.19a8 8 0 0 0 0-11.31l-24.53-24.55l22.16-22.16A46 46 0 0 1 224 94c0 53.61-77.76 102.15-96 112.8Z" /></svg>
    <div>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="32"
        height="32"
        viewBox="0 0 24 24"
        class="text-main"><path fill="currentColor" d="m21.95 8.721l-.025-.168l-.026.006A4.5 4.5 0 1 0 17.5 14c.223 0 .437-.034.65-.065c-.069.232-.14.468-.254.68c-.114.308-.292.575-.469.844c-.148.291-.409.488-.601.737c-.201.242-.475.403-.692.604c-.213.21-.492.315-.714.463c-.232.133-.434.28-.65.35l-.539.222l-.474.197l.484 1.939l.597-.144c.191-.048.424-.104.689-.171c.271-.05.56-.187.882-.312c.317-.143.686-.238 1.028-.467c.344-.218.741-.4 1.091-.692c.339-.301.748-.562 1.05-.944c.33-.358.656-.734.909-1.162c.293-.408.492-.856.702-1.299c.19-.443.343-.896.468-1.336c.237-.882.343-1.72.384-2.437c.034-.718.014-1.315-.028-1.747a7.028 7.028 0 0 0-.063-.539zm-11 0l-.025-.168l-.026.006A4.5 4.5 0 1 0 6.5 14c.223 0 .437-.034.65-.065c-.069.232-.14.468-.254.68c-.114.308-.292.575-.469.844c-.148.291-.409.488-.601.737c-.201.242-.475.403-.692.604c-.213.21-.492.315-.714.463c-.232.133-.434.28-.65.35l-.539.222c-.301.123-.473.195-.473.195l.484 1.939l.597-.144c.191-.048.424-.104.689-.171c.271-.05.56-.187.882-.312c.317-.143.686-.238 1.028-.467c.344-.218.741-.4 1.091-.692c.339-.301.748-.562 1.05-.944c.33-.358.656-.734.909-1.162c.293-.408.492-.856.702-1.299c.19-.443.343-.896.468-1.336c.237-.882.343-1.72.384-2.437c.034-.718.014-1.315-.028-1.747a7.571 7.571 0 0 0-.064-.537z" /></svg>
      <div class="text-2xl my-4 px-5 leading-relaxed">
        {% if section.settings.empty_text != blank %}
          {{ section.settings.empty_text }}
        {% else %}
          {{ 'sections.my_likes.empty_text' | t }}
        {% endif %}
      </div>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="32"
        height="32"
        viewBox="0 0 24 24"
        class="ml-auto"><path fill="currentColor" d="m21.95 8.721l-.025-.168l-.026.006A4.5 4.5 0 1 0 17.5 14c.223 0 .437-.034.65-.065c-.069.232-.14.468-.254.68c-.114.308-.292.575-.469.844c-.148.291-.409.488-.601.737c-.201.242-.475.403-.692.604c-.213.21-.492.315-.714.463c-.232.133-.434.28-.65.35l-.539.222l-.474.197l.484 1.939l.597-.144c.191-.048.424-.104.689-.171c.271-.05.56-.187.882-.312c.317-.143.686-.238 1.028-.467c.344-.218.741-.4 1.091-.692c.339-.301.748-.562 1.05-.944c.33-.358.656-.734.909-1.162c.293-.408.492-.856.702-1.299c.19-.443.343-.896.468-1.336c.237-.882.343-1.72.384-2.437c.034-.718.014-1.315-.028-1.747a7.028 7.028 0 0 0-.063-.539zm-11 0l-.025-.168l-.026.006A4.5 4.5 0 1 0 6.5 14c.223 0 .437-.034.65-.065c-.069.232-.14.468-.254.68c-.114.308-.292.575-.469.844c-.148.291-.409.488-.601.737c-.201.242-.475.403-.692.604c-.213.21-.492.315-.714.463c-.232.133-.434.28-.65.35l-.539.222c-.301.123-.473.195-.473.195l.484 1.939l.597-.144c.191-.048.424-.104.689-.171c.271-.05.56-.187.882-.312c.317-.143.686-.238 1.028-.467c.344-.218.741-.4 1.091-.692c.339-.301.748-.562 1.05-.944c.33-.358.656-.734.909-1.162c.293-.408.492-.856.702-1.299c.19-.443.343-.896.468-1.336c.237-.882.343-1.72.384-2.437c.034-.718.014-1.315-.028-1.747a7.571 7.571 0 0 0-.064-.537z" /></svg>
    </div>
  </div>
{% endif %}

<script src="{{ "my-likes.js" | asset_url }}" defer="defer"></script>
<script src="{{ "my-like-button.js" | asset_url }}" defer="defer"></script>

{% schema %}
  {
    "name": "t:sections.my-likes.name",
    "class": "page-width px-4 my-16",
    "enabled_on": {
      "templates": ["page"]
    },
    "limit": 1,
    "settings": [
      {
        "type": "header",
        "content": "t:sections.my-likes.headings.full.content"
      },
      {
        "type": "header",
        "content": "t:sections.my-likes.headings.empty.content"
      },
      {
        "type": "richtext",
        "id": "empty_text",
        "label": "t:sections.my-likes.settings.empty_text.label",
        "info": "t:sections.my-likes.settings.empty_text.info"
      }
    ],
    "presets": [
      {
        "name": "t:sections.my-likes.name"
      }
    ]
  }
{% endschema %}