{% style %}
  :root  {
    --color-action-rgb: {{ section.settings.buy_button_color.red }}, 
    {{ section.settings.buy_button_color.green }}, 
    {{ section.settings.buy_button_color.blue }};
  }
{% endstyle %}

{% unless cart.empty? %}
  {% if cart.discount_applications.size > 0 %}
    <div class="flex justify-end px-8">
      <ul>
        {% for discount_application in cart.discount_applications %}
          <li class="text-sm text-main-80 mb-1 px-3 py-1 bg-action rounded">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              viewBox="0 0 24 24"
              class="inline-block"><path fill="currentColor" d="M12.79 21L3 11.21v2c0 .53.21 1.04.59 1.41l7.79 7.79c.78.78 2.05.78 2.83 0l6.21-6.21c.78-.78.78-2.05 0-2.83z" /><path fill="currentColor" d="M11.38 17.41c.39.39.9.59 1.41.59c.51 0 1.02-.2 1.41-.59l6.21-6.21c.78-.78.78-2.05 0-2.83L12.62.58C12.25.21 11.74 0 11.21 0H5C3.9 0 3 .9 3 2v6.21c0 .53.21 1.04.59 1.41zM5 2h6.21L19 9.79L12.79 16L5 8.21z" /><circle
                cx="7.25"
                cy="4.25"
                r="1.25"
                fill="currentColor" /></svg>
            {{ discount_application.title }}
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
  {% if cart.original_total_price != cart.total_price %}
    <p class="text-right px-8 text-lg text-main-80 mb-1">
      <span class="font-heading font-bold">{{ 'sections.page_cart_subtotal.before_promo' | t }}&nbsp;&nbsp;</span>
      <s class="text-red-600 font-bold">{{ cart.original_total_price | money }}</s>
    </p>
  {% endif %}
  <p class="text-right pr-8 text-lg font-bold">
    <span class="font-semibold font-heading">{{ 'sections.page_cart_subtotal.subtotal' | t }}&nbsp;&nbsp;&nbsp;</span>
    <span class="text-main-80">{{ cart.total_price | money_with_currency }}</span>
  </p>
  <div class="ml-auto py-3 max-w-xl">
    <div class="mb-3 px-4">
      <klarna-placement
        id="cart-drawer-klarna-placement"
        data-key="credit-promotion-badge"
        data-locale=""
        data-purchase-amount={{ cart.total_price }}></klarna-placement>
    </div>
    <div class="gap-3 px-4 text-lg">
      <button
        type="submit"
        name="checkout"
        form="cart-form"
        class="relative glass-anim flex w-full items-center justify-center gap-3 bg-action text-main border-main transition-colors duration-500 rounded-lg py-4 font-bold border-neu shadow-neu-lg hover:shadow-neu-md mb-4 outline-none focus-visible:outline focus-visible:outline-orange-500"
        tabindex="-1">
        {% render 'icon-padlock' %}
        <span class="pt-1">{{ 'sections.tw_cart_drawer.checkout' | t | upcase }}</span>
      </button>
    </div>
    <div class="px-7 flex justify-center items-center gap-2">
      {% render 'icon-pay-mastercard' %}
      {% render 'icon-pay-visa' %}
      {% render 'icon-pay-paypal' %}
      {% render 'icon-pay-amex' %}
      {% render 'icon-pay-klarna' %}
    </div>
  </div>
{% endunless %}

{% javascript %}
  document.addEventListener('DOMContentLoaded', function() {
    const klarnaPlacement = this.querySelector('klarna-placement');
    if (! klarnaPlacement) return;
    
    const locale = getLocale();
    klarnaPlacement.setAttribute('data-locale', locale);
  });
{% endjavascript %}

{% schema %}
  {
    "name": "t:sections.page_cart_subtotal.name",
    "class": "page-width mt-10",
    "tag": "section",
    "limit": 1,
    "enabled_on": {
      "templates": ["cart"]
    },
    "settings": [
      {
        "type": "color",
        "id": "buy_button_color",
        "label": "t:sections.page_cart_subtotal.settings.buy_button_color.label",
        "default": "#04A777"
      }
    ]
  }
{% endschema %}