<product-recommendations data-url="{{ routes.product_recommendations_url }}?section_id={{ section.id }}&product_id={{ product.id }}&limit={{ section.settings.number_products_to_display  }}&intent=related">
  <div class="product-recommendations px-4" style="display:block">
    {%- if recommendations.performed? and recommendations.products_count > 0 -%}
      <h2 class="mb-2">
        {{ section.settings.heading | escape }}
      </h2>
      <snap-carrousel>
        <ul class="component-carroussel flex gap-4 overflow-x-auto snap-mandatory snap-x scroll-smooth scrollbar py-6">
          {%- for recommendation in recommendations.products -%}
            {%- unless recommendation.metafields.recommandation.hide == true -%}
              {%- assign first_image = recommendation.featured_image -%}
              <li class="carrousel-item relative w-[250px] shrink-0 text-center snap-start pb-2 flex flex-col">
                <div class="relative cursor-pointer h-max grow">
                    <img
                        src="{{ first_image | image_url: width: 250 }}"
                        alt="{% if recommendation.metafields.meta_object.media.value.alts.value[0] %}{{ recommendation.metafields.meta_object.media.value.alts.value[0] | escape }}{% else %}{{ first_image.alt | escape }}{% endif %}"
                        width="250"
                        height="auto"
                        loading="lazy"
                        class="skeleton w-full h-full object-contain"
                    >
                </div>
                <h3 class="text-base font-normal block truncate w-full py-6 grow-0">
                  <a href="{{ recommendation.url }}" class="before:absolute before:inset-0">{{ recommendation.metafields.title.short | default: recommendation.title }}</a>
                </h3>
              </li>
            {%- endunless -%}
          {%- endfor -%}
        </ul>
      </snap-carrousel>
    {%- endif -%}
  </div>
</product-recommendations>

<script src="{{ 'product-recommendations.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'component-carrousel.js' | asset_url }}" defer="defer"></script>

{% schema %}
{
  "name": "t:sections.product-recommendations.name",
  "tag": "section",
  "class": "page-width mt-20",
  "limit": 1,
  "enabled_on": {
    "templates": ["product"]
  },
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "default": "You may also like",
      "label": "t:sections.product-recommendations.settings.heading.label"
    },
    {
      "type": "number",
      "id": "number_products_to_display",
      "label": "t:sections.product-recommendations.settings.number_products_to_display.label",
      "default": 4
    }
  ],
  "presets": [
    {
      "name": "t:sections.product-recommendations.name"
    }
  ]
}
{% endschema %}