<div class="{% if section.settings.title == blank %}{{ section.settings.padding_top }}{% endif %} {% if section.settings.title == blank %}{{ section.settings.padding_bottom }}{% endif %}">
  {%- for block in section.blocks -%}
    {%- case block.type -%}
      {%- when 'heading' -%}
        <{{ block.settings.markup }} class="my-6 {{ block.settings.heading_size }} {{ section.settings.content_alignment }}">
          {{ block.settings.heading | escape }}
        </{{ block.settings.markup }}>
      {%- when 'text' -%}
      <div class="description {{ block.settings.text_size }} my-4 {{ section.settings.content_alignment }}{% if block.settings.is_lighten %} text-main-80{% endif %}">
          {{ block.settings.text }}
        </div>
      {%- when 'button' -%}
        <div>
          {%- if block.settings.button_label != blank -%}
            {% if block.settings.to_obfuscate %}
              <button data-url64="{{ block.settings.button_link | base64_encode }}" class="obfuscate w-full xs:w-auto bg-main-5 text-center py-3 px-14 rounded my-4 border-main border-2 hover:bg-main-10 transition-all duration-100">{{ block.settings.button_label | escape }}</button>
            {% else %}
              <a{% if block.settings.button_link == blank %} role="link" aria-disabled="true"{% else %} href="{{ block.settings.button_link }}"{% endif %} class="inline-block w-full xs:w-auto bg-main-5 text-center py-3 px-14 rounded my-4 border-2 border-main hover:bg-main-10 transition-all duration-100">
                {{ block.settings.button_label | escape }}
              </a>
            {% endif %}
          {%- endif -%}
          {%- if block.settings.button_label_2 != blank -%}
            {% if block.settings.to_obfuscate %}
              <button data-url64="{{ block.settings.button_link_2 | base64_encode }}" class="obfuscate w-full xs:w-auto bg-main-5 text-center py-3 px-14 rounded border-main border-2 xs:ml-3 hover:bg-main-10 transition-all duration-100">{{ block.settings.button_label_2 | escape }}</button>
            {% else %}
              <a{% if block.settings.button_link_2 == blank %} role="link" aria-disabled="true"{% else %} href="{{ block.settings.button_link_2 }}"{% endif %} class="inline-block w-full xs:w-auto bg-main-5 text-center py-3 px-14 rounded border-main border-2 xs:ml-3 hover:bg-main-10 transition-all duration-100">
                {{ block.settings.button_label_2 | escape }}
              </a>
            {%- endif -%}
          {%- endif -%}
        </div>
    {%- endcase -%}
  {%- endfor -%}
</div>


{% schema %}
{
  "name": "t:sections.rich-text.name",
  "tag": "section",
  "class": "page-width rich-text",
  "settings": [
    {
      "type": "select",
      "id": "content_alignment",
      "options": [
        {
          "value": "text-left",
          "label": "t:sections.rich-text.settings.content_alignment.options__1.label"
        },
        {
          "value": "text-center",
          "label": "t:sections.rich-text.settings.content_alignment.options__2.label"
        },
        {
          "value": "text-right",
          "label": "t:sections.rich-text.settings.content_alignment.options__3.label"
        }
      ],
      "default": "text-left",
      "label": "t:sections.rich-text.settings.content_alignment.label"
    },
    {
      "type": "select",
      "id": "padding_top",
      "label": "t:sections.collections-grid.settings.padding_top.label",
      "options": [
        {
          "value": "pt-0",
          "label": "t:sections.collections-grid.settings.padding_top.options.none.label"
        },
        {
          "value": "pt-8",
          "label": "t:sections.collections-grid.settings.padding_top.options.small.label"
        },
        {
          "value": "pt-16",
          "label": "t:sections.collections-grid.settings.padding_top.options.medium.label"
        },
        {
          "value": "pt-24",
          "label": "t:sections.collections-grid.settings.padding_top.options.large.label"
        }
      ],
      "default": "pt-0"
    },
    {
      "type": "select",
      "id": "padding_bottom",
      "label": "t:sections.collections-grid.settings.padding_bottom.label",
      "options": [
        {
          "value": "pb-0",
          "label": "t:sections.collections-grid.settings.padding_top.options.none.label"
        },
        {
          "value": "pb-8",
          "label": "t:sections.collections-grid.settings.padding_top.options.small.label"
        },
        {
          "value": "pb-16",
          "label": "t:sections.collections-grid.settings.padding_top.options.medium.label"
        },
        {
          "value": "pb-24",
          "label": "t:sections.collections-grid.settings.padding_top.options.large.label"
        }
      ],
      "default": "pb-0"
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "t:sections.rich-text.blocks.heading.name",
      "limit": 3,
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "t:sections.rich-text.blocks.heading.settings.heading.label",
          "default": "Talk about your brand"
        },
        {
          "type": "select",
          "id": "markup",
          "label": "t:sections.rich-text.blocks.heading.settings.markup.label",
          "options": [
            {
              "value": "h1",
              "label": "H1"
            },
            {
              "value": "h2",
              "label": "H2"
            },
            {
              "value": "h3",
              "label": "H3"
            },
            {
              "value": "h4",
              "label": "H4"
            },
            {
              "value": "h5",
              "label": "H5"
            },
            {
              "value": "h6",
              "label": "H6"
            }
          ],
          "default": "h2"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "text-lg",
              "label": "LG"
            },
            {
              "value": "text-xl",
              "label": "XL"
            },
            {
              "value": "text-2xl",
              "label": "2 XL"
            },
            {
              "value": "text-3xl",
              "label": "3 XL"
            },
            {
              "value": "text-4xl",
              "label": "4 XL"
            },
            {
              "value": "text-5xl",
              "label": "5 XL"
            }
          ],
          "default": "text-3xl",
          "label": "t:sections.rich-text.blocks.heading.settings.heading_size.label"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.rich-text.blocks.text.name",
      "limit": 3,
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Share information about your brand with your customers. Describe a product, make announcements, or welcome customers to your store.</p>",
          "label": "t:sections.rich-text.blocks.text.settings.text.label"
        },
        {
          "type": "select",
          "id": "text_size",
          "options": [
            {
              "value": "text-lg",
              "label": "t:sections.rich-text.blocks.text.settings.text_size.small.label"
            },
            {
              "value": "text-xl",
              "label": "t:sections.rich-text.blocks.text.settings.text_size.middle.label"
            },
            {
              "value": "text-2xl",
              "label": "t:sections.rich-text.blocks.text.settings.text_size.large.label"
            }
          ],
          "default": "text-xl",
          "label": "t:sections.rich-text.blocks.text.settings.text_size.name"
        },
        {
          "type": "checkbox",
          "id": "is_lighten",
          "label": "t:sections.rich-text.blocks.text.settings.is_lighten.label",
          "default": false
        }
      ]
    },
    {
      "type": "button",
      "name": "t:sections.rich-text.blocks.buttons.name",
      "limit": 2,
      "settings": [
        {
          "type": "text",
          "id": "button_label",
          "default": "Button label",
          "label": "t:sections.rich-text.blocks.buttons.settings.button_label_1.label",
          "info": "t:sections.rich-text.blocks.buttons.settings.button_label_1.info"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "t:sections.rich-text.blocks.buttons.settings.button_link_1.label"
        },
        {
          "type": "text",
          "id": "button_label_2",
          "label": "t:sections.rich-text.blocks.buttons.settings.button_label_2.label",
          "info": "t:sections.rich-text.blocks.buttons.settings.button_label_2.info"
        },
        {
          "type": "url",
          "id": "button_link_2",
          "label": "t:sections.rich-text.blocks.buttons.settings.button_link_2.label"
        },
        {
          "type": "header",
          "content": "SEO"
        },
        {
          "type": "checkbox",
          "id": "to_obfuscate",
          "label": "t:sections.footer.settings.to_obfuscate.label",
          "default": false
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.rich-text.presets.name",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "text"
        }
      ]
    }
  ]
}
{% endschema %}
