{%- style -%}
.sibling-blog-links  {
        --to-display: block;
        margin-bottom: 4rem;
        display: var(--to-display);
    }

    .sibling-blog-links a {
        color: rgba(var(--color-foreground));
        text-underline-offset: 0.2rem;
    }
{%- endstyle -%}

{%- liquid
    assign first_handle = article.handle | split: '/' | first
    assign same_articles = blogs[first_handle].articles
    assign parent_article = article.metafields.firstBlogLink.blogParent
-%}

{%- assign is_empty = true -%}
<h3 class="h2">{{ 'sections.sibling-blog-links.complementary_blog_posts' | t }} :</h3>
<ul>
    {% for same_article in same_articles %}
      {%- if same_article.metafields.firstBlogLink.parentCollection == blank and article.handle != same_article.handle and same_article.metafields.firstBlogLink.blogParent == parent_article -%}
        {%- assign is_empty = false -%}
          <li>
            <a href="{{ same_article.url }}">{{ same_article.title }}</a>
          </li>      
      {%- elsif article.metafields.firstBlogLink.parentCollection != blank and article.handle != same_article.handle and article.metafields.firstBlogLink.parentCollection.value.id == same_article.metafields.firstBlogLink.parentCollection.value.id -%}
        {%- assign is_empty = false -%}
          <li>
            <a href="{{ same_article.url }}">{{ same_article.title }}</a>
          </li> 
      {%- endif -%}
    {% endfor %}
</ul>

{%- if is_empty -%}
  {%- style -%}
    .sibling-blog-links  {
      --to-display: none;
    }
  {%- endstyle -%}
{%- endif -%}

{% schema %}
{
  "name": "t:sections.sibling-blog-links.name",
  "class": "section sibling-blog-links page-width",
  "tag": "div",
  "limit": 1,
  "templates": [
    "article"
  ],
  "presets": [
    {
      "name": "t:sections.sibling-blog-links.name"
    }
  ]
}
{% endschema %}
