{{ 'section-image-banner.css' | asset_url | stylesheet_tag }}

{% style %}
  #shopify-section-{{ section.id }} {
    background-image: url({{ section.settings.svg_url }});
    background-repeat: no-repeat;
    background-size: {{ section.settings.svg_fit }};

    --image-desktop-height: {{ section.settings.image_desktop_height }}vh;
    --image-mobile-height: {{ section.settings.image_mobile_height }}vh;
    --image-desktop-fit: {{ section.settings.image_desktop_fit }};
    --image-mobile-fit: {{ section.settings.image_mobile_fit }};
    --overlay-opacity: calc({{ section.settings.overlay_opacity }} / 100);
    --content-alignment-desktop: {{ section.settings.content_alignment_desktop }};
    --content-alignment-mobile: {{ section.settings.content_alignment_mobile }};
    --content-width-desktop: {{ section.settings.content_width_desktop }}%;
    --content-width-mobile: {{ section.settings.content_width_mobile }}%;
    --content-text-color: {{ section.settings.body_text }};
    --object-position-desktop: {{ section.settings.image_desktop_horizontal_position }} {{ section.settings.image_desktop_vertical_position }};
    --object-position-mobile: {{ section.settings.image_mobile_horizontal_position }} {{ section.settings.image_mobile_vertical_position }};
  }

  @media (orientation: landscape) {
    #shopify-section-{{ section.id }} {
        background-position: {{ section.settings.desktop_svg_vertical_position }} {{ section.settings.desktop_svg_horizontal_position }};
    }
}

    @media (orientation: portrait) {
    #shopify-section-{{ section.id }} {
        background-position: {{ section.settings.mobile_svg_vertical_position }} {{ section.settings.mobile_svg_horizontal_position }};
    }
}


#shopify-section-{{ section.id }} .banner-content {
  {%- if section.settings.content_horizontal_position_desktop < 60 -%}
    left: {{ section.settings.content_horizontal_position_desktop }}%;
    {%- if section.settings.content_vertical_position_desktop < 60 -%}
      top: {{ section.settings.content_vertical_position_desktop }}%;
      transform: translate(-{{ section.settings.content_horizontal_position_desktop }}%, -{{ section.settings.content_vertical_position_desktop }}%);
    {%- else -%}
      bottom: {{ 100 | minus: section.settings.content_vertical_position_desktop }}%;
      transform: translate(-{{ section.settings.content_horizontal_position_desktop }}%, {{ 100 | minus: section.settings.content_vertical_position_desktop }}%);
    {%- endif -%}
  {%- else -%}
    right: {{ 100 | minus: section.settings.content_horizontal_position_desktop }}%;
    {%- if section.settings.content_vertical_position_desktop < 60 -%}
      top: {{ section.settings.content_vertical_position_desktop }}%;
      transform: translate({{ 100 | minus: section.settings.content_horizontal_position_desktop }}%, -{{ section.settings.content_vertical_position_desktop }}%);
    {%- else -%}
      bottom: {{ 100 | minus: section.settings.content_vertical_position_desktop }}%;
      transform: translate({{ 100 | minus: section.settings.content_horizontal_position_desktop }}%, {{ 100 | minus: section.settings.content_vertical_position_desktop }}%);
    {%- endif -%}     
  {%- endif -%}
}

@media (orientation: portrait) {
  #shopify-section-{{ section.id }} .banner-content {
    {%- if section.settings.content_horizontal_position_mobile < 60 -%}
      left: {{ section.settings.content_horizontal_position_mobile }}%;
      {%- if section.settings.content_vertical_position_mobile < 60 -%}
        top: {{ section.settings.content_vertical_position_mobile }}%;
        transform: translate(-{{ section.settings.content_horizontal_position_mobile }}%, -{{ section.settings.content_vertical_position_mobile }}%);
      {%- else -%}
        bottom: {{ 100 | minus: section.settings.content_vertical_position_mobile }}%;
        transform: translate(-{{ section.settings.content_horizontal_position_mobile }}%, {{ 100 | minus: section.settings.content_vertical_position_mobile }}%);
      {%- endif -%}
    {%- else -%}
      right: {{ 100 | minus: section.settings.content_horizontal_position_mobile }}%;
      {%- if section.settings.content_vertical_position_mobile < 60 -%}
        top: {{ section.settings.content_vertical_position_mobile }}%;
        transform: translate({{ 100 | minus: section.settings.content_horizontal_position_mobile }}%, -{{ section.settings.content_vertical_position_mobile }}%);
      {%- else -%}
        bottom: {{ 100 | minus: section.settings.content_vertical_position_mobile }}%;
        transform: translate({{ 100 | minus: section.settings.content_horizontal_position_mobile }}%, {{ 100 | minus: section.settings.content_vertical_position_mobile }}%);
      {%- endif -%}     
    {%- endif -%}
  }
}
{% endstyle %}



<div class="banner-content">
  {%- for block in section.blocks -%}
    {%- if  block.type == 'heading' and block.settings.heading != blank -%}
      {% style %}
        #shopify-section-{{ section.id }} {
          --heading-size-desktop: {{ block.settings.heading_size_desktop }}rem;
          --heading-size-mobile: {{ block.settings.heading_size_mobile }}rem;
        }
      {% endstyle %}
      <h1 class="banner-title">
        {{ block.settings.heading | remove_first: '<p>' | remove_first: '</p>' }}
      </h1>
    {%- elsif block.type == 'text' and block.settings.text != blank -%}
      {% style %}
        #shopify-section-{{ section.id }} {
          --text-size-desktop: {{ block.settings.text_size_desktop }}rem;
          --text-size-mobile: {{ block.settings.text_size_mobile }}rem;
        }
      {% endstyle %}
      {{ block.settings.text }}
    {%- elsif block.type == 'buttons' and block.settings.button_text != blank -%}
      {% style %}
        #shopify-section-{{ section.id }} {
          --button-color: {{ block.settings.button_text_color }};
          --button-background: {{ block.settings.button_background_color }};
          --button-size: {{ block.settings.button_size }}rem;
          --button-radius: {{ block.settings.button_radius }}px;
          --button-font-weight: {% if block.settings.button_bold %}bold{% else %}normal{% endif %};
        }
      {% endstyle %}
     <a 
      href="{{ block.settings.button_link }}"
      class="banner-button"
      >
      {{ block.settings.button_text }}
     </a>
        
    {%- endif -%}
  {%- endfor -%}
</div>

{% schema %}
{
  "name": "t:sections.svg-banner.name",
  "class": "image-banner",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.svg-banner.headings.svg.content"
    },
    {
      "type": "url",
      "id": "svg_url",
      "label": "t:sections.svg-banner.settings.svg_url.label",
      "info": "t:sections.svg-banner.settings.svg_url.info"
    },
    {
      "type": "select",
      "id": "svg_fit",
      "options": [
        {
          "value": "cover",
          "label": "t:sections.svg-banner.settings.svg_fit.options__1.label"
        },
        {
          "value": "contain",
          "label": "t:sections.svg-banner.settings.svg_fit.options__2.label"
        }
      ],
      "default": "cover",
      "label": "t:sections.svg-banner.settings.svg_fit.label"
    },
    {
      "type": "header",
      "content": "t:sections.svg-banner.headings.svg_desktop.content"
    },
    {
      "type": "select",
      "id": "desktop_svg_horizontal_position",
      "options": [
        {
          "value": "left",
          "label": "t:sections.svg-banner.settings.desktop_svg_horizontal_position.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.svg-banner.settings.desktop_svg_horizontal_position.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.svg-banner.settings.desktop_svg_horizontal_position.options__3.label"
        }
      ],
      "default": "center",
      "label": "t:sections.svg-banner.settings.desktop_svg_horizontal_position.label",
      "info": "t:sections.svg-banner.settings.desktop_svg_horizontal_position.info"
    },
    {
      "type": "select",
      "id": "desktop_svg_vertical_position",
      "options": [
        {
          "value": "top",
          "label": "t:sections.svg-banner.settings.desktop_svg_vertical_position.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.svg-banner.settings.desktop_svg_vertical_position.options__2.label"
        },
        {
          "value": "bottom",
          "label": "t:sections.svg-banner.settings.desktop_svg_vertical_position.options__3.label"
        }
      ],
      "default": "center",
      "label": "t:sections.svg-banner.settings.desktop_svg_vertical_position.label",
      "info": "t:sections.svg-banner.settings.desktop_svg_vertical_position.info"
    },
    {
      "type": "range",
      "id": "image_desktop_height",
      "min": 40,
      "max": 100,
      "step": 5,
      "unit": "%",
      "label": "t:sections.image-banner.settings.image_height.label",
      "default": 80
    },
    {
      "type": "header",
      "content": "t:sections.svg-banner.headings.svg_mobile.content"
    },
    {
      "type": "select",
      "id": "mobile_svg_horizontal_position",
      "options": [
        {
          "value": "left",
          "label": "t:sections.svg-banner.settings.desktop_svg_horizontal_position.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.svg-banner.settings.desktop_svg_horizontal_position.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.svg-banner.settings.desktop_svg_horizontal_position.options__3.label"
        }
      ],
      "default": "center",
      "label": "t:sections.svg-banner.settings.desktop_svg_horizontal_position.label",
      "info": "t:sections.svg-banner.settings.desktop_svg_horizontal_position.info"
    },
    {
      "type": "select",
      "id": "mobile_svg_vertical_position",
      "options": [
        {
          "value": "top",
          "label": "t:sections.svg-banner.settings.desktop_svg_vertical_position.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.svg-banner.settings.desktop_svg_vertical_position.options__2.label"
        },
        {
          "value": "bottom",
          "label": "t:sections.svg-banner.settings.desktop_svg_vertical_position.options__3.label"
        }
      ],
      "default": "center",
      "label": "t:sections.svg-banner.settings.desktop_svg_vertical_position.label",
      "info": "t:sections.svg-banner.settings.desktop_svg_vertical_position.info"
    },
    {
      "type": "range",
      "id": "image_mobile_height",
      "min": 40,
      "max": 100,
      "step": 5,
      "unit": "%",
      "label": "t:sections.image-banner.settings.image_height.label",
      "default": 80
    },
    {
      "type": "header",
      "content": "t:sections.image-banner.headings.content_desktop.header"
    },
    {
      "type": "range",
      "id": "content_width_desktop",
      "min": 40,
      "max": 100,
      "step": 5,
      "unit": "%",
      "label": "t:sections.image-banner.settings.content_width.label",
      "default": 60
    },
    {
      "type": "range",
      "id": "content_horizontal_position_desktop",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "t:sections.image-banner.settings.content_left_offset.label",
      "info": "t:sections.image-banner.settings.content_left_offset.info",
      "default": 50
    },
    {
      "type": "range",
      "id": "content_vertical_position_desktop",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "%",
      "label": "t:sections.image-banner.settings.content_top_offset.label",
      "default": 50
    },
    {
      "type": "select",
      "id": "content_alignment_desktop",
      "options": [
        {
          "value": "left",
          "label": "t:sections.image-banner.settings.content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.image-banner.settings.content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.image-banner.settings.content_alignment.options__3.label"
        }
      ],
      "default": "left",
      "label": "t:sections.image-banner.settings.content_alignment.desktop.label"
    },
    {
      "type": "header",
      "content": "t:sections.image-banner.headings.content_mobile.header"
    },
    {
      "type": "range",
      "id": "content_width_mobile",
      "min": 50,
      "max": 100,
      "step": 5,
      "unit": "%",
      "label": "t:sections.image-banner.settings.content_width.label",
      "default": 85
    },
    {
      "type": "range",
      "id": "content_horizontal_position_mobile",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "t:sections.image-banner.settings.content_left_offset.label",
      "info": "t:sections.image-banner.settings.content_left_offset.info",
      "default": 50
    },
    {
      "type": "range",
      "id": "content_vertical_position_mobile",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "%",
      "label": "t:sections.image-banner.settings.content_top_offset.label",
      "default": 80
    },
    {
      "type": "select",
      "id": "content_alignment_mobile",
      "options": [
        {
          "value": "left",
          "label": "t:sections.image-banner.settings.content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.image-banner.settings.content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.image-banner.settings.content_alignment.options__3.label"
        }
      ],
      "default": "right",
      "label": "t:sections.image-banner.settings.content_alignment.mobile.label"
    },
    {
      "type": "header",
      "content": "t:sections.image-banner.headings.desktop_and_mobile.header"
    },
    {
      "type": "range",
      "id": "overlay_opacity",
      "min": 0,
      "max": 90,
      "step": 10,
      "unit": "%",
      "label": "t:sections.image-banner.settings.overlay_opacity.label",
      "info": "t:sections.image-banner.settings.overlay_opacity.info",
      "default": 20
    },
    {
      "type": "color",
      "id": "body_text",
      "label": "t:sections.all.colors.text_color.label",
      "default": "#ffffff"
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "t:sections.image-banner.blocks.heading.name",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "heading",
          "default": "<p><em>Banner</em> <strong>title</strong></p>",
          "label": "t:sections.image-banner.blocks.heading.name"
        },
        {
          "type": "range",
          "id": "heading_size_desktop",
          "min": 3,
          "max": 8,
          "step": 0.5,
          "unit": "rem",
          "label": "t:sections.image-banner.blocks.heading.settings.size_desktop.label",
          "default": 5
        },
        {
          "type": "range",
          "id": "heading_size_mobile",
          "min": 3,
          "max": 6,
          "step": 1,
          "unit": "rem",
          "label": "t:sections.image-banner.blocks.heading.settings.size_mobile.label",
          "default": 4
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.image-banner.blocks.text.name",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Give <strong>customers</strong> details about the banner image or <u>content</u> on the <em>template</em>.</p>",
          "label": "t:sections.image-banner.blocks.text.settings.description.label"
        },
        {
          "type": "range",
          "id": "text_size_desktop",
          "min": 2,
          "max": 4,
          "step": 0.2,
          "unit": "rem",
          "label": "t:sections.image-banner.blocks.text.settings.size_desktop.label",
          "default": 2.6
        },
        {
          "type": "range",
          "id": "text_size_mobile",
          "min": 1.4,
          "max": 3,
          "step": 0.1,
          "unit": "rem",
          "label": "t:sections.image-banner.blocks.text.settings.size_mobile.label",
          "default": 1.5
        }
      ]
    },
    {
      "type": "buttons",
      "name": "t:sections.image-banner.blocks.button.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "button_text",
          "default": "Shop now",
          "label": "t:sections.image-banner.blocks.button.settings.text.label",
          "info": "t:sections.image-banner.blocks.button.settings.text.info"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "t:sections.image-banner.blocks.button.settings.link.label"
        },
        {
          "type": "color",
          "id": "button_text_color",
          "label": "t:sections.image-banner.blocks.button.settings.text_color.label",
          "default": "#121212"
        },
        {
          "type": "color_background",
          "id": "button_background_color",
          "label": "Background",
          "default": "#ffffff"
        },
        {
          "type": "range",
          "id": "button_size",
          "min": 2,
          "max": 3.2,
          "step": 0.2,
          "unit": "rem",
          "label": "t:sections.image-banner.blocks.button.settings.size.label",
          "default": 2.4
        },
        {
          "type": "range",
          "id": "button_radius",
          "min": 0,
          "max": 40,
          "step": 2,
          "unit": "px",
          "label": "t:sections.image-banner.blocks.button.settings.border_radius.label",
          "default": 0
        },
        {
          "type": "checkbox",
          "id": "button_bold",
          "label": "t:sections.image-banner.blocks.button.settings.bold.label",
          "default": false
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.svg-banner.name",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "text"
        },
        {
          "type": "buttons"
        }
      ]
    }
  ]
}
{% endschema %}



