<cart-drawer role="dialog" aria-modal="true" aria-label="{{ 'tw.cart_drawer.title' | t }}" tabindex="-1" aria-expanded="false">
    {%- if cart == empty and false -%}
      <button type="button" class="close absolute top-3 right-4 border border-main p-1 rounded hover:shadow-button transition-shadow duration-100" aria-label="{{ 'tw.cart_drawer.close' | t }}" tabindex="-1">
        {% render 'tw-icon-close' %}
      </button>
      <div class="absolute top-1/2 -translate-y-1/2 w-full text-center">
        <p class="heading font-bold text-2xl mb-5">{{ 'tw.cart_drawer.empty_message' | t }}</p>
        <button data-url64="{% if section.settings.keep_shopping_url != blank %}{{ section.settings.keep_shopping_url | base64_encode }}{% else %}{{ routes.all_products_collection_url | base64_encode }}{% endif %}" class="obfuscate border rounded-md border-main py-2 px-4 hover:shadow-button transition-shadow duration-100" tabindex="-1">
          {{ 'tw.cart_drawer.continue_shopping' | t }}
        </button>
      </div>
      <div class="loading-wrapper h-full flex justify-center items-center hidden">
        <p>{{ "tw.cart_drawer.loading" | t }}&nbsp;&nbsp;</p>
        {% render 'tw-icon-loading' %}
      </div>
    {%- else -%}
      <div class="flex justify-between items-center px-4 py-2 border-b border-main">
        <p class="text-base font-bold heading">{{ 'tw.cart_drawer.title' | t }}({{ cart.item_count }})</p>
        <button class="close" type="button" aria-label="{{ 'tw.cart_drawer.close' | t }}" tabindex="-1">
          {% render 'tw-icon-close', width: "23" %}
        </button>
      </div>
      <div class="flex justify-between items-center px-4 py-3 border-b border-main">
        <p class="text-[0.8rem] font-bold heading">{{ 'tw.cart_drawer.subtotal' | t }}</p>
        <p class="text-[0.8rem]">{{ cart.total_price | money }}</p>
        <span class="hidden">
          {% render 'tw-icon-loading' %}
        </span>
      </div>
      <div class="flex justify-around items-center py-2 gap-3 px-4 border-b border-main">
        <a href="{{ collections.all }}" class="border border-main rounded py-2 text-xs hover:shadow-button w-full text-center" tabindex="-1">
          {{ "tw.cart_drawer.keep_shopping" | t }}
        </a>
        <button type="submit" id="CartDrawer-Checkout" name="checkout" form="CartDrawer-Form" class="border bg-main text-secondary rounded py-2 w-full text-xs hover:shadow-button outline-none focus-visible:outline focus-visible:outline-main" tabindex="-1">
          {{ 'sections.cart.checkout' | t }}
        </button>
      </div>

      <form action="{{ routes.cart_url }}" id="CartDrawer-Form" method="post">
        <ul class="border-b border-main">
          {% for i in (1..2) %}
            {% liquid
              if forloop.first
                assign item = all_products['tableau-bouddha']
              else
                assign item = all_products['tableau-rencontre-amoureuse']
              endif
            %}
          <li class="bg-white py-2 px-2 grid grid-rows-2 grid-cols-[auto_1fr_auto] gap-y-2 gap-x-4{% unless forloop.last %} border-b-[1.5px] border-dotted border-main{% endunless %}">
              <a href="{{ item.url }}" tabindex="-1" aria-hidden="true" class="border border-main rounded-lg row-span-2 overflow-hidden w-20">
                <img class="w-full h-full object-cover"
                  src="{{ item.featured_image | image_url: width: 160 }}"
                  loading="lazy"
                  width="160"
                  height="auto"
                >
              </a>
              <div class="pt-2">
                <h3 class="leading-3 text-[0.67rem] mb-1">
                  <a href="{{ item.url }}" tabindex="-1">{{ item.title | escape }}</a>
                </h3>
                <p class="text-[0.6rem]">
                  {%- if item.product.has_only_default_variant == false or item.properties.size != 0 -%}
                    {%- for option in item.options_with_values -%}
                      {{ option.value }}{% unless forloop.last %}, {% endunless %}
                    {%- endfor -%}
                  {%- endif -%}
                </p>
                <ul role="list" aria-label="{{ 'customer.order.discount' | t }}">
                  {%- for discount in item.discount_allocations -%}
                    <li class="text-[0.5rem] flex items-center gap-1">
                      {%- render 'tw-icon-discount' -%}
                      {{ discount.title }}
                    </li>
                  {%- endfor -%}
                </ul>
              </div>

              {% comment %}
                ============================
              {% endcomment %}
              <div>
                <div class="">
                  {%- if item.variant.compare_at_price != blank and item.variant.compare_at_price != item.final_line_price -%}
                  <s>
                    {{ item.variant.compare_at_price | money }}
                  </s>
                  {%- endif -%}
                  <span>
                    {{ item.original_line_price | money }}
                  </span>

                  {%- if item.variant.available and item.unit_price_measurement -%}
                    <div>
                      <span class="visually-hidden">{{ 'products.product.price.unit_price' | t }}</span>
                      {{ item.variant.unit_price | money }}
                      <span aria-hidden="true">/</span>
                      <span class="visually-hidden">&nbsp;{{ 'accessibility.unit_price_separator' | t }}&nbsp;</span>
                      {%- if item.variant.unit_price_measurement.reference_value != 1 -%}
                        {{- item.variant.unit_price_measurement.reference_value -}}
                      {%- endif -%}
                      {{ item.variant.unit_price_measurement.reference_unit }}
                    </div>
                  {%- endif -%}
                </div>

                <span class="hidden">
                  {% render 'tw-icon-loading' %}
                </span>
              </div>
              {% comment %}
                ============================
              {% endcomment %}
              <div class="flex items-start gap-1" headers="CartDrawer-ColumnQuantity">
                <quantity-input class="inline-flex text-xs rounded-md border border-main">
                  <button name="minus" type="button" aria-label="{{ "tw.cart_drawer.minus" | t: article: item.title }}" class="w-8 h-8 flex justify-center items-center peer/minus" tabindex="-1">
                    {% render 'tw-icon-minus' %}
                  </button>
                  <input 
                    class="focus:outline-none text-center w-8 peer-hover/minus:shadow-[-0.5px_0_0_0_#000] !shadow-main transition-ashadow duration-100"
                    readonly
                    type="text"
                    name="updates[]"
                    value="{{ item.quantity | default: 4 }}"
                    aria-label="{{ 'products.product.quantity.input_label' | t: product: item.product.title | escape }}"
                    id="Drawer-quantity-{{ item.index | plus: 1 }}"
                    data-index="{{ item.index | plus: 1 }}"
                    tabindex="-1"
                  >
                  <button name="plus" type="button" aria-label="{{ "tw.cart_drawer.plus" | t: article: item.title }}" class="w-8 h-8 flex justify-center items-center hover:shadow-[-0.5px_0_0_0_#000] !shadow-main transition-shadow duration-100" tabindex="-1">
                    {% render 'tw-icon-plus' %}
                  </button>
                </quantity-input>

                <cart-remove-button id="CartDrawer-Remove-{{ item.index | plus: 1 }}" data-index="{{ item.index | plus: 1 }}">
                  <button class="w-8 h-8 inline-flex justify-center items-center rounded-md border border-transparent hover:border-main transition-all duration-100" aria-label="{{ 'tw.cart_drawer.remove' | t: article: item.title }}" tabindex="-1">
                    {% render 'tw-icon-remove' %}
                  </button>
                </cart-remove-button>

                <div id="CartDrawer-LineItemError-{{ item.index | plus: 1 }}" role="alert" class="hidden">
                  <small></small>
                  <svg aria-hidden="true" focusable="false" role="presentation" viewBox="0 0 13 13" width="20">
                    <circle cx="6.5" cy="6.50049" r="5.5" stroke="white" stroke-width="2"/>
                    <circle cx="6.5" cy="6.5" r="5.5" fill="#EB001B" stroke="#EB001B" stroke-width="0.7"/>
                    <path d="M5.87413 3.52832L5.97439 7.57216H7.02713L7.12739 3.52832H5.87413ZM6.50076 9.66091C6.88091 9.66091 7.18169 9.37267 7.18169 9.00504C7.18169 8.63742 6.88091 8.34917 6.50076 8.34917C6.12061 8.34917 5.81982 8.63742 5.81982 9.00504C5.81982 9.37267 6.12061 9.66091 6.50076 9.66091Z" fill="white"/>
                    <path d="M5.87413 3.17832H5.51535L5.52424 3.537L5.6245 7.58083L5.63296 7.92216H5.97439H7.02713H7.36856L7.37702 7.58083L7.47728 3.537L7.48617 3.17832H7.12739H5.87413ZM6.50076 10.0109C7.06121 10.0109 7.5317 9.57872 7.5317 9.00504C7.5317 8.43137 7.06121 7.99918 6.50076 7.99918C5.94031 7.99918 5.46982 8.43137 5.46982 9.00504C5.46982 9.57872 5.94031 10.0109 6.50076 10.0109Z" fill="white" stroke="#EB001B" stroke-width="0.7">
                  </svg>
                </div>
              </div>
            </li>
          {% endfor %}
        </ul>
      </form>

          {% comment %}
          <form action="{{ routes.cart_url }}" id="CartDrawer-Form" method="post">
            <div id="CartDrawer-CartItems">
              {%- if cart != empty -%}
                <div>
                  <table role="table">
                    <tbody role="rowgroup">
                      {%- for item in cart.items -%}
                        <tr id="CartDrawer-Item-{{ item.index | plus: 1 }}" role="row">
                          <td role="cell" headers="CartDrawer-ColumnProductImage">
                            {% if item.image %}
                              <a href="{{ item.url }}" tabindex="-1" aria-hidden="true"> </a>
                                {%-liquid
                                  for property in item.properties
                                    if property.first == "_client_photo"
                                      assign url_to_custom_img = property.last
                                    endif
                                  endfor
                                -%}
                                {%- if url_to_custom_img != blank -%}
                                  <img class="skeleton"
                                    src="{{ url_to_custom_img }}"
                                    loading="lazy"
                                    width="150"
                                    height="{{ 150 | divided_by: item.image.aspect_ratio | ceil }}"
                                  >
                                {%- else -%}
                                  <img class="skeleton"
                                    src="{{ item.image | image_url: width: 300 }}"
                                    alt="{{ item.image.alt | escape }}"
                                    loading="lazy"
                                    width="150"
                                    height="{{ 150 | divided_by: item.image.aspect_ratio | ceil }}"
                                  >
                                {%- endif -%}
                            {% endif %}
                          </td>
    
                          <td role="cell" headers="CartDrawer-ColumnProduct">
                            <a href="{{ item.url }}">{{ item.product.title | escape }}</a>
    
                            {%- if item.product.has_only_default_variant == false or item.properties.size != 0 or item.selling_plan_allocation != nil -%}
                              <p>
                                {%- if item.product.has_only_default_variant == false -%}
                                  {%- for option in item.options_with_values -%}
                                    {{ option.value }}{% unless forloop.last %}, {% endunless %}
                                  {%- endfor -%}
                                {%- endif -%}
                              </p>
    
                              <p>{{ item.selling_plan_allocation.selling_plan.name }}</p>
                            {%- endif -%}
    
                            <ul role="list" aria-label="{{ 'customer.order.discount' | t }}">
                              {%- for discount in item.discounts -%}
                                <li>
                                  {%- render 'icon-discount' -%}
                                  {{ discount.title }}
                                </li>
                              {%- endfor -%}
                            </ul>
                          </td>
    
                          <td role="cell" headers="CartDrawer-ColumnTotal">
                            <div class="hidden">
                              <div>
                                <svg aria-hidden="true" focusable="false" role="presentation" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                                  <circle fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                                </svg>
                              </div>
                            </div>
    
                            <div>
                              {%- if item.variant.compare_at_price != blank and item.variant.compare_at_price != item.final_line_price -%}
                              <s>
                                {{ item.variant.compare_at_price | money }}
                              </s>
                              {%- endif -%}
                              <span>
                                {{ item.original_line_price | money }}
                              </span>
    
                              {%- if item.variant.available and item.unit_price_measurement -%}
                                <div>
                                  <span class="visually-hidden">{{ 'products.product.price.unit_price' | t }}</span>
                                  {{ item.variant.unit_price | money }}
                                  <span aria-hidden="true">/</span>
                                  <span class="visually-hidden">&nbsp;{{ 'accessibility.unit_price_separator' | t }}&nbsp;</span>
                                  {%- if item.variant.unit_price_measurement.reference_value != 1 -%}
                                    {{- item.variant.unit_price_measurement.reference_value -}}
                                  {%- endif -%}
                                  {{ item.variant.unit_price_measurement.reference_unit }}
                                </div>
                              {%- endif -%}
                            </div>
                          </td>
    
                          <td role="cell" headers="CartDrawer-ColumnQuantity">
                            <div>
                              <quantity-input>
                                <button name="minus" type="button">
                                  <span class="visually-hidden">{{ 'products.product.quantity.decrease' | t: product: item.product.title | escape }}</span>
                                  {% render 'icon-minus' %}
                                </button>
                                <input 
                                  type="number"
                                  name="updates[]"
                                  value="{{ item.quantity }}"
                                  min="0"
                                  aria-label="{{ 'products.product.quantity.input_label' | t: product: item.product.title | escape }}"
                                  id="Drawer-quantity-{{ item.index | plus: 1 }}"
                                  data-index="{{ item.index | plus: 1 }}"
                                >
                                <button name="plus" type="button">
                                  <span class="visually-hidden">{{ 'products.product.quantity.increase' | t: product: item.product.title | escape }}</span>
                                  {% render 'icon-plus' %}
                                </button>
                              </quantity-input>
    
                              <cart-remove-button id="CartDrawer-Remove-{{ item.index | plus: 1 }}" data-index="{{ item.index | plus: 1 }}">
                                <button aria-label="{{ 'sections.cart.remove_title' | t: title: item.title }}">
                                  {% render 'icon-remove' %}
                                </button>
                              </cart-remove-button>
                            </div>
    
                            <div id="CartDrawer-LineItemError-{{ item.index | plus: 1 }}" role="alert">
                              <small></small>
                              <svg aria-hidden="true" focusable="false" role="presentation" viewBox="0 0 13 13">
                                <circle cx="6.5" cy="6.50049" r="5.5" stroke="white" stroke-width="2"/>
                                <circle cx="6.5" cy="6.5" r="5.5" fill="#EB001B" stroke="#EB001B" stroke-width="0.7"/>
                                <path d="M5.87413 3.52832L5.97439 7.57216H7.02713L7.12739 3.52832H5.87413ZM6.50076 9.66091C6.88091 9.66091 7.18169 9.37267 7.18169 9.00504C7.18169 8.63742 6.88091 8.34917 6.50076 8.34917C6.12061 8.34917 5.81982 8.63742 5.81982 9.00504C5.81982 9.37267 6.12061 9.66091 6.50076 9.66091Z" fill="white"/>
                                <path d="M5.87413 3.17832H5.51535L5.52424 3.537L5.6245 7.58083L5.63296 7.92216H5.97439H7.02713H7.36856L7.37702 7.58083L7.47728 3.537L7.48617 3.17832H7.12739H5.87413ZM6.50076 10.0109C7.06121 10.0109 7.5317 9.57872 7.5317 9.00504C7.5317 8.43137 7.06121 7.99918 6.50076 7.99918C5.94031 7.99918 5.46982 8.43137 5.46982 9.00504C5.46982 9.57872 5.94031 10.0109 6.50076 10.0109Z" fill="white" stroke="#EB001B" stroke-width="0.7">
                              </svg>
                            </div>
                          </td>
                        </tr>
                      {%- endfor -%}
                    </tbody>
                  </table>
                </div>
              {%- endif -%}
              <p id="CartDrawer-LiveRegionText" class="visually-hidden" role="status"></p>
              <p id="CartDrawer-LineItemStatus" class="visually-hidden" aria-hidden="true" role="status">{{ 'accessibility.loading' | t }}</p>
            </div>
            <div id="CartDrawer-CartErrors" role="alert"></div>
          </form>
          {% endcomment %}
    {%- endif -%}
</cart-drawer>

{% schema %}
{
  "name": "t:sections.cart-drawer.name",
  "class": "cart-drawer translate-x-full",
  "tag": "section"
}
{% endschema %}