{% if section.settings.button_text != blank %}
    {% if section.settings.button_link != blank %}
      {% if section.settings.to_obfuscate %}
        <button class="obfuscate bg-main/5 hover:bg-main/10 py-4 px-8 border-main border-2 rounded-lg" data-url64="{{ section.settings.button_link | base64_encode }}">
            {{ section.settings.button_text }}
        </button>
      {% else %}
        <a href="{{ section.settings.button_link }}" class="bg-main/5 hover:bg-main/10 py-4 px-8 border-main border-2 rounded-lg">
            {{ section.settings.button_text }}
        </a>
      {% endif %}
    {% else %}
        <button class="bg-main/5 hover:bg-main/10 py-4 px-8 border-main border-2 rounded-lg">
            {{ section.settings.button_text }}
        </button>
    {% endif %}
{% endif %}


{% schema %}
{
  "name": "t:sections.button.name",
  "class": "text-center",
  "settings": [
    {
        "type": "text",
        "id": "button_text",
        "label": "t:sections.button.settings.button_text.label",
        "default": "Show all collections"
    },
    {
        "type": "url",
        "id": "button_link",
        "label": "t:sections.button.settings.button_link.label"
    },
    {
      "type": "checkbox",
      "id": "to_obfuscate",
      "default": false,
      "label": "t:sections.button.settings.to_obfuscate.label"
    }
  ],
  "presets": [
    {
      "name": "t:sections.button.name"
    }
  ]
 }
{% endschema %}
