<script src="{{ 'main-product-carousel.js' | asset_url }}" defer="defer"></script>
 
{% liquid
  assign first_3d_model = product.media | where: "media_type", "model" | first | default: product.metafields.files["3d_file_name"].value
  if first_3d_model != blank
    if first_3d_model.url != blank
      assign 3d_model_url = first_3d_model.url
      assign 3d_model_poster = product.media[1]
      assign 3d_model_alt = first_3d_model.alt
    else
      assign 3d_model_url = first_3d_model.sources[0].url
      assign 3d_model_poster = first_3d_model.preview_image
      assign 3d_model_alt = first_3d_model.alt
    endif 
  endif
%}
{% if first_3d_model != blank %}
  <script type="module" src="https://ajax.googleapis.com/ajax/libs/model-viewer/3.3.0/model-viewer.min.js" defer></script>
{% endif %}

<a class="px-4 py-2 opacity-0 focus-visible:opacity-100 absolute top-6 left-10 z-10 bg-secondary" href="#ProductInfo-{{ section.id }}">
  {{ "tw.main_product.accessibility.skip_to_product_info" | t }}
</a>

<div class="md:flex md:justify-center md:gap-12">
  <main-product-carousel>
    <div class="md:sticky md:top-[120px] relative max-w-[550px] mx-auto">
      <div class="carousel flex justify-start items-center transition-transform duration-300 mx-auto my-4 snap-x snap-mandatory overflow-y-hidden overflow-x-auto scrollbar-hidden h-[55vh] xs:h-[65vh] md:h-[55vh] lg:h-[70vh]">
        {% liquid
          for media in product.media
            if media.media_type == 'image' and forloop.index != 3
              assign nbOfMedia = nbOfMedia | default: 0 | plus: 1
              render 'tw-main-product-image', media: media, loop: forloop
            elsif forloop.index == 3 and first_3d_model != blank
              if first_3d_model.url != blank
                assign nbOfMedia = nbOfMedia | default: 0 | plus: 2
                render 'tw-main-product-model-3d', url: 3d_model_url, alt: 3d_model_alt, poster: 3d_model_poster
                render 'tw-main-product-image', media: media, loop: forloop
              else
                assign nbOfMedia = nbOfMedia | default: 0 | plus: 1
                render 'tw-main-product-model-3d', url: 3d_model_url, alt: 3d_model_alt, poster: 3d_model_poster
              endif
            endif
          endfor
        %}
      </div>
      <div class="absolute bg-secondary rounded-full left-1/2 -translate-x-1/2 bottom-3 border-main border-1 md:hidden flex justify-center items-center h-[47px] overflow-hidden">
          <button class="previous pl-5 pr-3 h-full focus-visible:outline-none focus-visible:bg-main/10 hover:bg-main/10">
            <div class="rotate-90">{% render 'tw-icon-caret', width: '18' %}</div>
          </button>
          <span class="px-3"><span class="image-counter">1</span>/{{ nbOfMedia }}</span>
          <button class="next pr-5 pl-3 h-full focus-visible:outline-none focus-visible:bg-main/10 hover:bg-main/10">
            <div class="-rotate-90">{% render 'tw-icon-caret', width: '18' %}</div>
          </button>
        </div>
      <div class="hidden md:flex flex-wrap gap-2">
        {% liquid
            for media in product.media
              if media.media_type == 'image' and forloop.index != 3
                assign image_number = image_number | default: 0 | plus: 1
                render 'tw-main-product-thumbnail-image', image: media.preview_image, alt: media.alt, object-fit: 'cover', image_number: image_number
              elsif forloop.index == 3 and first_3d_model != blank
                if first_3d_model.url != blank
                  assign image_number = image_number | default: 0 | plus: 1
                  render 'tw-main-product-thumbnail-image', image: product.media[1].preview_image, object-fit: 'contain', alt: 3d_model_alt, file: 'glb', image_number: image_number
                  assign image_number = image_number | default: 0 | plus: 1
                  render 'tw-main-product-thumbnail-image', image: media.preview_image, alt: media.alt, object-fit: 'cover', image_number: image_number
                else
                  assign image_number = image_number | default: 0 | plus: 1
                  render 'tw-main-product-thumbnail-image', image: media.preview_image, alt: media.alt, object-fit: 'cover', file: 'glb', image_number: image_number
                endif
              endif
            endfor
          %}
      </div>
    </div>
  
    <div class="popup fixed top-0 left-0 w-full h-dvh overflow-auto scrollbar bg-secondary z-50 hidden p-0 focus:outline-none" role="dialog" aria-modal="false" aria-label="{{ 'tw.main_product.carousel.popup.title' | t }}" tabindex="0">
      <button class="absolute z-10 top-3 right-3 bg-secondary/50 rounded-full p-2 focus-visible:outline-main" type="button" aria-label="{{ 'tw.main_product.carousel.popup.close' | t }}" tabindex="-1">
      {% render 'tw-icon-close', width: '22' %}
      </button>
      <template id="main-product-popup">
      {%- for media in product.media -%}
        <popup-image>
          {%- render 'tw-main-product-popup-image', media: media, loop: forloop -%}
        </popup-image>
      {%- endfor -%}
      </template>
    </div>
  </main-product-carousel>
  
  <main-product-blocks class="grow" id="ProductInfo-{{ section.id }}">
    <div class="max-w-lg px-4 sm:px-0 mx-auto my-4">
      {% comment %} {%- assign product_form_id = 'product-form-' | append: section.id -%} {% endcomment %}
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when '@app' -%}
            {% render block %}
          {%- when 'text' -%}
            <div class="flex flex-col gap-4 mb-4 text-lg">{{- block.settings.text -}}</div>
          {%- when 'title' -%}
            <div class="text-xs mb-5">
              <h1 class="text-4xl my-8">{{ product.title | escape }}</h1>
            </div>
          {%- when 'price' -%}
            <span class="block text-xl font-bold font-heading mb-4">{{ product.selected_or_first_available_variant.price | money_with_currency }}</span>
          {%- when 'buy' -%}
            <button class="buy-button relative flex w-full items-center gap-x-5 gap-y-2 2xs:gap-4 md:gap-2 lg:gap-5 py-2 lg:py-3 bg-zinc-950 text-secondary rounded-xl px-5 lg:px-6 mb-4 before:w-12 before:h-40 before:bg-white/50 before:absolute before:-top-4 before:right-[-60px] before:rotate-12 after:w-12 after:h-40 after:bg-white/20 after:absolute after:-top-4 after:rotate-12 after:right-[-60px] overflow-hidden">
              <svg class="shrink-0 w-10 lg:w-auto" width="49" height="50" viewBox="0 0 59 61" fill="none" xmlns="http://www.w3.org/2000/svg" role="presentation" aria-hidden="true">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M24.8069 0.136523C24.3088 0.187393 23.4308 0.340263 22.8561 0.475916C22.2812 0.61183 20.7675 1.33262 19.4923 2.07766C18.2169 2.82297 16.3586 3.90272 15.3624 4.4769C14.3662 5.05133 12.6196 6.13682 11.4811 6.88891C10.3425 7.64126 9.04644 8.64979 8.60113 9.13031C8.15556 9.61084 7.51514 10.425 7.17799 10.9397C6.84057 11.4544 6.01437 12.7129 5.34187 13.7368C4.66937 14.7604 3.83774 16.2764 3.49386 17.1054C3.14972 17.9345 2.34448 20.1975 1.7038 22.1345C0.950055 24.4142 0.425821 26.5818 0.217266 28.2803C0.0123332 29.9512 -0.0513202 32.4151 0.0420898 35.063C0.123856 37.3798 0.377693 40.0881 0.615228 41.1781C0.849918 42.2542 1.30998 43.8087 1.63782 44.6325C1.9654 45.4566 2.70932 46.924 3.29048 47.8934C3.8719 48.8631 5.07924 50.4233 5.97375 51.3606C6.868 52.2982 8.28726 53.6855 9.12769 54.4436C9.96812 55.202 11.3545 56.3008 12.2087 56.8856C13.0626 57.4702 14.8203 58.4062 16.1145 58.9656C17.4086 59.5249 19.3334 60.2123 20.392 60.4932C22.0822 60.9419 23.1858 61.0037 29.4484 60.9998C35.5198 60.9959 36.8495 60.9242 38.3914 60.5175C39.3876 60.2548 41.5417 59.5426 43.1783 58.9348C44.8149 58.3269 46.5388 57.5352 47.0092 57.1755C47.4793 56.8155 48.7415 55.9295 49.8135 55.2067C50.9347 54.4507 52.2526 53.2692 52.9144 52.4263C53.5479 51.6202 54.5679 50.1977 55.1811 49.2651C55.7946 48.3325 56.7132 46.689 57.2224 45.6129C57.7317 44.5368 58.3247 42.7759 58.5405 41.6998C58.8236 40.2869 58.9481 37.7502 58.9884 32.5693C59.0327 26.8823 58.9579 24.9357 58.6277 23.178C58.3302 21.595 57.7275 19.9155 56.521 17.3084C55.5913 15.2997 54.6036 13.2453 54.3259 12.7431C54.0483 12.2409 52.8495 10.7433 51.6616 9.41492C50.4739 8.08657 48.8347 6.49656 48.0191 5.88143C47.2035 5.26629 45.4034 4.1482 44.0188 3.39663C42.6342 2.64506 40.627 1.74479 39.5584 1.39601C38.0462 0.902701 36.4329 0.673135 32.2869 0.361133C29.3565 0.140697 26.6784 -0.0207823 26.3356 0.00217431C25.993 0.025131 25.305 0.0856529 24.8069 0.136523ZM23.5522 11.5992C24.9691 12.0351 26.2442 12.6349 27.0262 13.2328C27.7054 13.7527 28.5937 14.725 28.9999 15.3938C29.4062 16.0624 30.0166 17.4125 30.3566 18.3938C30.6966 19.375 31.1158 21.1758 31.2881 22.3953C31.4602 23.6149 31.6074 26.1975 31.6149 28.1345C31.6281 31.5013 31.5743 31.8725 30.3936 36.5653C29.6582 39.4881 29.222 41.7298 29.3154 42.1049C29.4106 42.4871 29.725 42.7994 30.1141 42.8977C30.605 43.0219 30.9776 42.8641 31.6975 42.2268L32.6391 41.3933L33.1809 41.9393C33.6937 42.4566 33.7002 42.5234 33.3012 43.2014C33.0694 43.595 32.4248 44.1776 31.869 44.4958C31.1124 44.9291 30.6187 45.0356 29.9061 44.919C29.3705 44.8313 28.6129 44.4345 28.1743 44.0119C27.4813 43.3441 27.3944 43.091 27.3944 41.7389C27.3944 40.7865 27.7999 38.6643 28.4783 36.0671C29.5319 32.0327 29.5622 31.8011 29.5677 27.7432C29.571 25.3714 29.4328 22.8934 29.2481 22.004C29.069 21.1432 28.6079 19.5639 28.2232 18.4945C27.7507 17.1816 27.1879 16.1981 26.4887 15.4648C25.8406 14.7852 24.8734 14.15 23.9012 13.766C22.6463 13.2703 21.8527 13.1514 19.7612 13.1454C17.2826 13.1383 17.0888 13.1801 15.1574 14.1315C14.0487 14.678 12.9425 15.0865 12.6993 15.0393C12.4035 14.9817 12.2573 14.7028 12.2573 14.1964C12.2573 13.5283 12.4547 13.3369 13.9392 12.5652C14.8643 12.0844 16.1451 11.5251 16.7855 11.3222C17.4259 11.1195 18.7067 10.9436 19.6318 10.9319C20.7633 10.9175 22.0462 11.1359 23.5522 11.5992ZM51.7441 23.072C51.9948 23.3008 52.1379 23.6501 52.0624 23.8487C51.9798 24.0654 52.193 24.3323 52.5975 24.5181C52.9869 24.697 53.2697 25.0411 53.2697 25.3359C53.2697 25.7768 53.1481 25.8216 52.3584 25.6724C51.6921 25.5464 51.335 25.6129 51.031 25.9197C50.6485 26.3053 50.6721 26.3997 51.3236 27.0853C51.7136 27.4956 51.9547 27.9582 51.8595 28.1134C51.7645 28.2683 51.475 28.3954 51.216 28.3954C50.9572 28.3954 50.6007 28.2193 50.4234 28.0041C50.2462 27.7889 49.9551 27.6128 49.7765 27.6128C49.598 27.6128 49.3046 27.7915 49.1247 28.0101C48.8582 28.3338 48.8818 28.5955 49.2515 29.4222C49.5012 29.9804 49.6272 30.5645 49.5318 30.7205C49.436 30.8765 49.2016 31.0041 49.0106 31.0041C48.8197 31.0041 48.4227 30.5932 48.1291 30.091C47.8351 29.5889 47.4452 29.1798 47.2625 29.1819C47.0798 29.1843 46.7804 29.2818 46.5972 29.399C46.3869 29.5336 46.2917 30.037 46.3385 30.7646C46.4032 31.7674 46.3457 31.9171 45.8963 31.9171C45.4978 31.9171 45.327 31.6644 45.148 30.8084C44.9428 29.8273 44.8336 29.6997 44.1994 29.6997C43.5647 29.6997 43.4624 29.8195 43.3077 30.7432C43.175 31.5352 43.0138 31.7867 42.6381 31.7867C42.3659 31.7867 42.1283 31.6401 42.1102 31.4606C42.0918 31.2814 42.0628 30.7237 42.0455 30.2215C42.0186 29.4415 41.9156 29.297 41.3394 29.2294C40.7952 29.1657 40.6006 29.3066 40.3328 29.959C40.1222 30.4714 39.8482 30.7364 39.5843 30.683C39.3271 30.6308 39.1772 30.3517 39.1928 29.9536C39.2067 29.5988 39.303 29.112 39.407 28.872C39.5387 28.5673 39.4254 28.3435 39.0321 28.1311C38.5466 27.8692 38.3635 27.9279 37.7166 28.5529C37.1279 29.1214 36.8968 29.2103 36.6515 28.963C36.406 28.7155 36.4445 28.4476 36.8285 27.7289C37.2801 26.8834 37.2857 26.7777 36.9002 26.389C36.5147 26.0003 36.428 26.0027 35.7984 26.4185C35.4227 26.6666 34.95 26.8059 34.7479 26.7276C34.5461 26.6496 34.3807 26.4691 34.3807 26.3267C34.3807 26.1845 34.6426 25.8214 34.9629 25.5201C35.2833 25.2185 35.5609 24.8324 35.58 24.6621C35.5992 24.4914 35.6282 24.2092 35.6447 24.0349C35.661 23.8607 35.888 23.6029 36.1488 23.462C36.5377 23.2523 36.8829 23.4576 38.0612 24.5992C38.852 25.3651 40.0513 26.3183 40.7261 26.7172C41.7097 27.2982 42.3454 27.4612 43.9243 27.5382C45.6999 27.6245 46.0215 27.5619 47.1693 26.9061C47.9909 26.4368 48.7446 25.7144 49.2911 24.8736C49.7571 24.1562 50.3191 23.364 50.5399 23.1127C50.7603 22.8615 51.0191 22.6562 51.1146 22.6562C51.21 22.6562 51.4934 22.8433 51.7441 23.072ZM22.4263 23.2301C22.5971 23.4023 22.7368 23.7571 22.7368 24.0182C22.7368 24.2796 23.0279 24.6271 23.3837 24.7907C23.7395 24.954 24.0306 25.2488 24.0306 25.4455C24.0306 25.6422 23.8404 25.8767 23.6083 25.9664C23.3759 26.0564 22.97 25.9941 22.706 25.8279C22.4421 25.6617 22.1691 25.5258 22.0995 25.5258C22.0297 25.5258 21.7831 25.8172 21.5515 26.1735C21.1504 26.7908 21.1621 26.8589 21.8043 27.6282C22.1748 28.0722 22.4781 28.5475 22.4781 28.6844C22.4781 28.8214 22.285 29.0082 22.0491 29.0995C21.7683 29.2083 21.4154 29.0254 21.0265 28.5694C20.6999 28.1867 20.3289 27.8736 20.2018 27.8736C20.0748 27.8736 19.7666 28.1011 19.5172 28.3789C19.1236 28.8175 19.1052 29.0118 19.3779 29.8448C19.6336 30.6266 19.6274 30.8455 19.3446 31.0218C19.1293 31.1559 18.8216 31.079 18.538 30.8199C18.2858 30.5898 18.0793 30.2504 18.0793 30.066C18.0793 29.8816 17.9652 29.6596 17.8259 29.5727C17.6865 29.4858 17.3372 29.5417 17.0497 29.6969C16.6794 29.8967 16.5267 30.2429 16.5267 30.8828C16.5267 31.5958 16.4232 31.7867 16.0369 31.7867C15.7676 31.7867 15.4765 31.601 15.39 31.374C15.3036 31.1471 15.233 30.7362 15.233 30.461C15.233 30.1093 15.0519 29.9606 14.6236 29.9606C14.1576 29.9606 13.9576 30.1604 13.7739 30.8084C13.6052 31.4048 13.3557 31.6821 12.934 31.7431C12.3644 31.8256 12.3432 31.7744 12.5179 30.7325C12.6524 29.9301 12.6072 29.5748 12.3502 29.4107C12.1567 29.287 11.8146 29.1843 11.5895 29.1819C11.3644 29.1798 11.0246 29.4715 10.8342 29.8302C10.6437 30.1889 10.2747 30.4824 10.0142 30.4824C9.7324 30.4824 9.54377 30.2974 9.54869 30.0258C9.55309 29.7746 9.72774 29.3413 9.93682 29.063C10.1456 28.7843 10.3167 28.4658 10.3167 28.3547C10.3167 28.2438 10.0626 28.0158 9.75181 27.8481C9.27363 27.5901 9.11838 27.6287 8.74008 28.0998C8.49427 28.4058 8.11493 28.6563 7.89706 28.6563C7.67919 28.6563 7.42846 28.5381 7.33997 28.3936C7.25147 28.249 7.43001 27.7756 7.7369 27.3409C8.18971 26.7 8.23474 26.4777 7.97547 26.1628C7.69343 25.8201 7.58423 25.8224 7.03852 26.1829C6.69878 26.4073 6.30754 26.5205 6.16937 26.4344C6.03094 26.3481 5.91786 26.1266 5.91786 25.9422C5.91786 25.7577 6.14789 25.3967 6.42916 25.14C6.71042 24.8835 6.87758 24.5708 6.80073 24.445C6.72362 24.3195 6.73423 23.983 6.82427 23.6974C6.93476 23.3465 7.21292 23.1798 7.68178 23.1834C8.1923 23.1876 8.56723 23.4615 9.0982 24.2183C9.49538 24.7844 10.3105 25.6476 10.9095 26.1368C11.5085 26.6259 12.3712 27.2168 12.8266 27.4497C13.2822 27.6829 14.2642 27.8736 15.0092 27.8736C15.854 27.8736 16.7834 27.6686 17.4803 27.3284C18.0948 27.0287 18.9311 26.3755 19.3386 25.8767C19.7464 25.3781 20.2362 24.655 20.4275 24.2697C20.6184 23.8844 20.881 23.4227 21.0112 23.2432C21.1414 23.064 21.4431 22.9171 21.6816 22.9171C21.9205 22.9171 22.2555 23.058 22.4263 23.2301ZM25.2315 50.0563C25.9231 50.6349 27.1292 51.4222 27.9119 51.8057C28.9648 52.3214 29.8468 52.5296 31.3021 52.6055C33.0207 52.6953 33.4536 52.6201 34.729 52.012C35.6478 51.5738 36.3866 51.3792 36.723 51.4866C37.1168 51.6129 37.2361 51.8386 37.1773 52.346C37.1139 52.8925 36.7814 53.1969 35.5635 53.8235C34.1722 54.5394 33.7985 54.6129 31.5528 54.6129C29.3953 54.6129 28.8817 54.5211 27.5662 53.8997C26.7356 53.5074 25.5712 52.8033 24.9787 52.3347C24.3861 51.8662 23.7012 51.248 23.4569 50.961C23.2127 50.6738 23.009 50.2572 23.0041 50.0346C22.9995 49.8121 23.1353 49.4894 23.3061 49.3172C23.4769 49.1451 23.6971 49.0042 23.7954 49.0042C23.8937 49.0042 24.5401 49.4777 25.2315 50.0563Z" fill="currentColor"/>
              </svg>
              <span class="inline-flex flex-col gap-2 text-left shrink-0">
                <span class="font-thin text-base 2xs:text-lg ">{{ block.settings.top_text }}</span>
                <span class="font-bold font-heading text-base 2xs:text-lg xs:text-xl md:text-lg lg:text-xl">{{ block.settings.bottom_text }}</span>
              </span>
            </button>
            <template id="float-buy-button">
              <button class="float-buy-button fixed bottom-20 md:bottom-10 left-1/2 -translate-x-1/2 flex items-center gap-3 2xs:gap-5 md:gap-6 w-[100px] py-3 md:py-4 max-w-[90%] xs:max-w-[450px] md:xs:max-w-[90%] bg-zinc-950 text-secondary rounded-xl px-5 md:px-6 mb-4 before:w-12 before:h-40 before:bg-white/50 before:absolute before:-top-4 before:right-[-60px] before:rotate-12 after:w-12 after:h-40 after:bg-white/20 after:absolute after:-top-4 after:rotate-12 after:right-[-60px] overflow-hidden scale-0">
                <svg class="shrink-0 opacity0 scale-0 w-10 md:w-auto" width="49" height="50" viewBox="0 0 59 61" fill="none" xmlns="http://www.w3.org/2000/svg" role="presentation" aria-hidden="true">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M24.8069 0.136523C24.3088 0.187393 23.4308 0.340263 22.8561 0.475916C22.2812 0.61183 20.7675 1.33262 19.4923 2.07766C18.2169 2.82297 16.3586 3.90272 15.3624 4.4769C14.3662 5.05133 12.6196 6.13682 11.4811 6.88891C10.3425 7.64126 9.04644 8.64979 8.60113 9.13031C8.15556 9.61084 7.51514 10.425 7.17799 10.9397C6.84057 11.4544 6.01437 12.7129 5.34187 13.7368C4.66937 14.7604 3.83774 16.2764 3.49386 17.1054C3.14972 17.9345 2.34448 20.1975 1.7038 22.1345C0.950055 24.4142 0.425821 26.5818 0.217266 28.2803C0.0123332 29.9512 -0.0513202 32.4151 0.0420898 35.063C0.123856 37.3798 0.377693 40.0881 0.615228 41.1781C0.849918 42.2542 1.30998 43.8087 1.63782 44.6325C1.9654 45.4566 2.70932 46.924 3.29048 47.8934C3.8719 48.8631 5.07924 50.4233 5.97375 51.3606C6.868 52.2982 8.28726 53.6855 9.12769 54.4436C9.96812 55.202 11.3545 56.3008 12.2087 56.8856C13.0626 57.4702 14.8203 58.4062 16.1145 58.9656C17.4086 59.5249 19.3334 60.2123 20.392 60.4932C22.0822 60.9419 23.1858 61.0037 29.4484 60.9998C35.5198 60.9959 36.8495 60.9242 38.3914 60.5175C39.3876 60.2548 41.5417 59.5426 43.1783 58.9348C44.8149 58.3269 46.5388 57.5352 47.0092 57.1755C47.4793 56.8155 48.7415 55.9295 49.8135 55.2067C50.9347 54.4507 52.2526 53.2692 52.9144 52.4263C53.5479 51.6202 54.5679 50.1977 55.1811 49.2651C55.7946 48.3325 56.7132 46.689 57.2224 45.6129C57.7317 44.5368 58.3247 42.7759 58.5405 41.6998C58.8236 40.2869 58.9481 37.7502 58.9884 32.5693C59.0327 26.8823 58.9579 24.9357 58.6277 23.178C58.3302 21.595 57.7275 19.9155 56.521 17.3084C55.5913 15.2997 54.6036 13.2453 54.3259 12.7431C54.0483 12.2409 52.8495 10.7433 51.6616 9.41492C50.4739 8.08657 48.8347 6.49656 48.0191 5.88143C47.2035 5.26629 45.4034 4.1482 44.0188 3.39663C42.6342 2.64506 40.627 1.74479 39.5584 1.39601C38.0462 0.902701 36.4329 0.673135 32.2869 0.361133C29.3565 0.140697 26.6784 -0.0207823 26.3356 0.00217431C25.993 0.025131 25.305 0.0856529 24.8069 0.136523ZM23.5522 11.5992C24.9691 12.0351 26.2442 12.6349 27.0262 13.2328C27.7054 13.7527 28.5937 14.725 28.9999 15.3938C29.4062 16.0624 30.0166 17.4125 30.3566 18.3938C30.6966 19.375 31.1158 21.1758 31.2881 22.3953C31.4602 23.6149 31.6074 26.1975 31.6149 28.1345C31.6281 31.5013 31.5743 31.8725 30.3936 36.5653C29.6582 39.4881 29.222 41.7298 29.3154 42.1049C29.4106 42.4871 29.725 42.7994 30.1141 42.8977C30.605 43.0219 30.9776 42.8641 31.6975 42.2268L32.6391 41.3933L33.1809 41.9393C33.6937 42.4566 33.7002 42.5234 33.3012 43.2014C33.0694 43.595 32.4248 44.1776 31.869 44.4958C31.1124 44.9291 30.6187 45.0356 29.9061 44.919C29.3705 44.8313 28.6129 44.4345 28.1743 44.0119C27.4813 43.3441 27.3944 43.091 27.3944 41.7389C27.3944 40.7865 27.7999 38.6643 28.4783 36.0671C29.5319 32.0327 29.5622 31.8011 29.5677 27.7432C29.571 25.3714 29.4328 22.8934 29.2481 22.004C29.069 21.1432 28.6079 19.5639 28.2232 18.4945C27.7507 17.1816 27.1879 16.1981 26.4887 15.4648C25.8406 14.7852 24.8734 14.15 23.9012 13.766C22.6463 13.2703 21.8527 13.1514 19.7612 13.1454C17.2826 13.1383 17.0888 13.1801 15.1574 14.1315C14.0487 14.678 12.9425 15.0865 12.6993 15.0393C12.4035 14.9817 12.2573 14.7028 12.2573 14.1964C12.2573 13.5283 12.4547 13.3369 13.9392 12.5652C14.8643 12.0844 16.1451 11.5251 16.7855 11.3222C17.4259 11.1195 18.7067 10.9436 19.6318 10.9319C20.7633 10.9175 22.0462 11.1359 23.5522 11.5992ZM51.7441 23.072C51.9948 23.3008 52.1379 23.6501 52.0624 23.8487C51.9798 24.0654 52.193 24.3323 52.5975 24.5181C52.9869 24.697 53.2697 25.0411 53.2697 25.3359C53.2697 25.7768 53.1481 25.8216 52.3584 25.6724C51.6921 25.5464 51.335 25.6129 51.031 25.9197C50.6485 26.3053 50.6721 26.3997 51.3236 27.0853C51.7136 27.4956 51.9547 27.9582 51.8595 28.1134C51.7645 28.2683 51.475 28.3954 51.216 28.3954C50.9572 28.3954 50.6007 28.2193 50.4234 28.0041C50.2462 27.7889 49.9551 27.6128 49.7765 27.6128C49.598 27.6128 49.3046 27.7915 49.1247 28.0101C48.8582 28.3338 48.8818 28.5955 49.2515 29.4222C49.5012 29.9804 49.6272 30.5645 49.5318 30.7205C49.436 30.8765 49.2016 31.0041 49.0106 31.0041C48.8197 31.0041 48.4227 30.5932 48.1291 30.091C47.8351 29.5889 47.4452 29.1798 47.2625 29.1819C47.0798 29.1843 46.7804 29.2818 46.5972 29.399C46.3869 29.5336 46.2917 30.037 46.3385 30.7646C46.4032 31.7674 46.3457 31.9171 45.8963 31.9171C45.4978 31.9171 45.327 31.6644 45.148 30.8084C44.9428 29.8273 44.8336 29.6997 44.1994 29.6997C43.5647 29.6997 43.4624 29.8195 43.3077 30.7432C43.175 31.5352 43.0138 31.7867 42.6381 31.7867C42.3659 31.7867 42.1283 31.6401 42.1102 31.4606C42.0918 31.2814 42.0628 30.7237 42.0455 30.2215C42.0186 29.4415 41.9156 29.297 41.3394 29.2294C40.7952 29.1657 40.6006 29.3066 40.3328 29.959C40.1222 30.4714 39.8482 30.7364 39.5843 30.683C39.3271 30.6308 39.1772 30.3517 39.1928 29.9536C39.2067 29.5988 39.303 29.112 39.407 28.872C39.5387 28.5673 39.4254 28.3435 39.0321 28.1311C38.5466 27.8692 38.3635 27.9279 37.7166 28.5529C37.1279 29.1214 36.8968 29.2103 36.6515 28.963C36.406 28.7155 36.4445 28.4476 36.8285 27.7289C37.2801 26.8834 37.2857 26.7777 36.9002 26.389C36.5147 26.0003 36.428 26.0027 35.7984 26.4185C35.4227 26.6666 34.95 26.8059 34.7479 26.7276C34.5461 26.6496 34.3807 26.4691 34.3807 26.3267C34.3807 26.1845 34.6426 25.8214 34.9629 25.5201C35.2833 25.2185 35.5609 24.8324 35.58 24.6621C35.5992 24.4914 35.6282 24.2092 35.6447 24.0349C35.661 23.8607 35.888 23.6029 36.1488 23.462C36.5377 23.2523 36.8829 23.4576 38.0612 24.5992C38.852 25.3651 40.0513 26.3183 40.7261 26.7172C41.7097 27.2982 42.3454 27.4612 43.9243 27.5382C45.6999 27.6245 46.0215 27.5619 47.1693 26.9061C47.9909 26.4368 48.7446 25.7144 49.2911 24.8736C49.7571 24.1562 50.3191 23.364 50.5399 23.1127C50.7603 22.8615 51.0191 22.6562 51.1146 22.6562C51.21 22.6562 51.4934 22.8433 51.7441 23.072ZM22.4263 23.2301C22.5971 23.4023 22.7368 23.7571 22.7368 24.0182C22.7368 24.2796 23.0279 24.6271 23.3837 24.7907C23.7395 24.954 24.0306 25.2488 24.0306 25.4455C24.0306 25.6422 23.8404 25.8767 23.6083 25.9664C23.3759 26.0564 22.97 25.9941 22.706 25.8279C22.4421 25.6617 22.1691 25.5258 22.0995 25.5258C22.0297 25.5258 21.7831 25.8172 21.5515 26.1735C21.1504 26.7908 21.1621 26.8589 21.8043 27.6282C22.1748 28.0722 22.4781 28.5475 22.4781 28.6844C22.4781 28.8214 22.285 29.0082 22.0491 29.0995C21.7683 29.2083 21.4154 29.0254 21.0265 28.5694C20.6999 28.1867 20.3289 27.8736 20.2018 27.8736C20.0748 27.8736 19.7666 28.1011 19.5172 28.3789C19.1236 28.8175 19.1052 29.0118 19.3779 29.8448C19.6336 30.6266 19.6274 30.8455 19.3446 31.0218C19.1293 31.1559 18.8216 31.079 18.538 30.8199C18.2858 30.5898 18.0793 30.2504 18.0793 30.066C18.0793 29.8816 17.9652 29.6596 17.8259 29.5727C17.6865 29.4858 17.3372 29.5417 17.0497 29.6969C16.6794 29.8967 16.5267 30.2429 16.5267 30.8828C16.5267 31.5958 16.4232 31.7867 16.0369 31.7867C15.7676 31.7867 15.4765 31.601 15.39 31.374C15.3036 31.1471 15.233 30.7362 15.233 30.461C15.233 30.1093 15.0519 29.9606 14.6236 29.9606C14.1576 29.9606 13.9576 30.1604 13.7739 30.8084C13.6052 31.4048 13.3557 31.6821 12.934 31.7431C12.3644 31.8256 12.3432 31.7744 12.5179 30.7325C12.6524 29.9301 12.6072 29.5748 12.3502 29.4107C12.1567 29.287 11.8146 29.1843 11.5895 29.1819C11.3644 29.1798 11.0246 29.4715 10.8342 29.8302C10.6437 30.1889 10.2747 30.4824 10.0142 30.4824C9.7324 30.4824 9.54377 30.2974 9.54869 30.0258C9.55309 29.7746 9.72774 29.3413 9.93682 29.063C10.1456 28.7843 10.3167 28.4658 10.3167 28.3547C10.3167 28.2438 10.0626 28.0158 9.75181 27.8481C9.27363 27.5901 9.11838 27.6287 8.74008 28.0998C8.49427 28.4058 8.11493 28.6563 7.89706 28.6563C7.67919 28.6563 7.42846 28.5381 7.33997 28.3936C7.25147 28.249 7.43001 27.7756 7.7369 27.3409C8.18971 26.7 8.23474 26.4777 7.97547 26.1628C7.69343 25.8201 7.58423 25.8224 7.03852 26.1829C6.69878 26.4073 6.30754 26.5205 6.16937 26.4344C6.03094 26.3481 5.91786 26.1266 5.91786 25.9422C5.91786 25.7577 6.14789 25.3967 6.42916 25.14C6.71042 24.8835 6.87758 24.5708 6.80073 24.445C6.72362 24.3195 6.73423 23.983 6.82427 23.6974C6.93476 23.3465 7.21292 23.1798 7.68178 23.1834C8.1923 23.1876 8.56723 23.4615 9.0982 24.2183C9.49538 24.7844 10.3105 25.6476 10.9095 26.1368C11.5085 26.6259 12.3712 27.2168 12.8266 27.4497C13.2822 27.6829 14.2642 27.8736 15.0092 27.8736C15.854 27.8736 16.7834 27.6686 17.4803 27.3284C18.0948 27.0287 18.9311 26.3755 19.3386 25.8767C19.7464 25.3781 20.2362 24.655 20.4275 24.2697C20.6184 23.8844 20.881 23.4227 21.0112 23.2432C21.1414 23.064 21.4431 22.9171 21.6816 22.9171C21.9205 22.9171 22.2555 23.058 22.4263 23.2301ZM25.2315 50.0563C25.9231 50.6349 27.1292 51.4222 27.9119 51.8057C28.9648 52.3214 29.8468 52.5296 31.3021 52.6055C33.0207 52.6953 33.4536 52.6201 34.729 52.012C35.6478 51.5738 36.3866 51.3792 36.723 51.4866C37.1168 51.6129 37.2361 51.8386 37.1773 52.346C37.1139 52.8925 36.7814 53.1969 35.5635 53.8235C34.1722 54.5394 33.7985 54.6129 31.5528 54.6129C29.3953 54.6129 28.8817 54.5211 27.5662 53.8997C26.7356 53.5074 25.5712 52.8033 24.9787 52.3347C24.3861 51.8662 23.7012 51.248 23.4569 50.961C23.2127 50.6738 23.009 50.2572 23.0041 50.0346C22.9995 49.8121 23.1353 49.4894 23.3061 49.3172C23.4769 49.1451 23.6971 49.0042 23.7954 49.0042C23.8937 49.0042 24.5401 49.4777 25.2315 50.0563Z" fill="currentColor"/>
                </svg>
                <span class="inline-flex flex-col gap-2 text-left shrink-0">
                  <span class="top-text font-thin text-base 2xs:text-lg md:text-xl opacity-0 translate-x-[10%]">{{ block.settings.top_text }}</span>
                  <span class="bottom-text font-bold font-heading text-base 2xs:text-lg xs:text-xl md:text-2xl opacity-0 translate-x-1/3">
                    {{ block.settings.bottom_text }}
                  </span>
                </span>
              </button>
            </template>
            <div aria-modal="true" role="dialog" aria-hidden="true" id="addonsDrawer" class="fixed top-0 left-0 w-screen h-dvh bg-secondary z-50 transition-transform translate-x-full duration-300 flex justify-center items-center">
              {% render 'tw-loading-hand' %}
            </div>
          {%- when 'description' -%}
            {%- if product.description != blank -%}
              <div class="description flex flex-col gap-5 text-lg leading-relaxed mb-5">
                {{ product.description }}
              </div>
            {%- endif -%}
          {%- when 'collapsible_tab' -%}
            <details class="accordion group border-t border-main/10 first-of-type:mt-5 last-of-type:border-b last-of-type:border-b-main/10 last-of-type:mb-5">
              <summary class="list-none flex justify-between py-3 select-none cursor-pointer">
                <div class="flex gap-3">
                  {% render 'icon-accordion', icon: block.settings.icon, color: block.settings.icon_color %}
                  <h4 class="h4 text-lg max-w-[90%]">
                    {{ block.settings.heading | default: block.settings.page.title }}
                  </h4>
                </div>
                <span class="group-open:rotate-180 transition-transform duration-200 mr-5 flex items-center">
                  {% render 'tw-icon-caret', width: "10" %}
                </span>
              </summary>
              <div class="py-3 text-lg flex flex-col gap-3">
                {{ block.settings.content }}
                {{ block.settings.page.content }}
              </div>
            </details>
        {%- endcase -%}
      {%- endfor -%}
    </div>
  </main-product-blocks>
</div>

{%- liquid
  if product.images[1]
    assign seo_media = product.images[1]
  elsif product.selected_or_first_available_variant.featured_media
    assign seo_media = product.selected_or_first_available_variant.featured_media
  else
    assign seo_media = product.featured_media
  endif
-%}

<script type="application/ld+json">
  {
    "@context": "http://schema.org/",
    "@type": "Product",
    "name": {{ product.title | json }},
    "url": {{ request.origin | append: product.url | json }},
    {% if seo_media -%}
      "image": [
        {{ seo_media | image_url: width: seo_media.preview_image.width | prepend: "https:" | json }}
      ],
    {%- endif %}
    "description": {{ product.description | strip_html | json }},
    {% if product.selected_or_first_available_variant.sku != blank -%}
      "sku": {{ product.selected_or_first_available_variant.sku | json }},
    {%- endif %}
    "brand": {
      "@type": "Brand",
      "name": {{ product.vendor | json }}
    },
    "offers": [
      {%- for variant in product.variants -%}
        {
          "@type" : "Offer",
          {%- if variant.sku != blank -%}
            "sku": {{ variant.sku | json }},
          {%- endif -%}
          {%- if variant.barcode.size == 12 -%}
            "gtin12": {{ variant.barcode }},
          {%- endif -%}
          {%- if variant.barcode.size == 13 -%}
            "gtin13": {{ variant.barcode }},
          {%- endif -%}
          {%- if variant.barcode.size == 14 -%}
            "gtin14": {{ variant.barcode }},
          {%- endif -%}
          "availability" : "http://schema.org/{% if variant.available %}InStock{% else %}OutOfStock{% endif %}",
          "price" : {{ variant.price | divided_by: 100.00 | json }},
          "priceCurrency" : {{ cart.currency.iso_code | json }},
          "url" : {{ request.origin | append: variant.url | json }}
        }{% unless forloop.last %},{% endunless %}
      {%- endfor -%}
    ]
  }
</script>

<script id="product-data">
  window.productTitle = "{{ product.title }}";
  window.productImageSRC = "{{ product.images[1] | image_url: width: 800 | prepend: 'https:' }}";
  window.filename = "{{ product.title | handleize }}";
  window.productImageAlt = "{{ product.images[1].alt }}";
  window.canvasTexture = "{{ 'tw.main_product.painting.canvas_texture' | t }}"
</script>


{% if template.suffix == 'portrait' %} 
  <script id="variants-available">
    window.variants = [{"name":"{{ 'localeImported.30x40_cm' | t }}","price":59.5,"technicalType":"size","technicalName":"30x40","children":[{"name":"{{ 'localeImported.toile' | t }}","price":0,"technicalType":"matter","technicalName":"canvas","children":[[{"name":"{{ 'localeImported.sans_fixation' | t }}","price":0,"technicalType":"fixation","technicalName":"null"},{"name":"{{ 'localeImported.set_de_fixation' | t }}","price":6,"technicalType":"fixation","technicalName":"set"}],[{"name":"{{ 'localeImported.chassis_de_2cm' | t }}","price":0,"technicalType":"chassis","technicalName":2},{"name":"{{ 'localeImported.chassis_de_4cm' | t }}","price":15,"technicalType":"chassis","technicalName":4}],[{"name":"{{ 'localeImported.bordure_blanche' | t }}","price":0,"technicalType":"border","technicalName":"white"},{"name":"{{ 'localeImported.bordure_noire' | t }}","price":2,"technicalType":"border","technicalName":"black"},{"name":"{{ 'localeImported.bordure_tire' | t }}","price":4,"technicalType":"border","technicalName":"stretched"},{"name":"{{ 'localeImported.bordure_miroir' | t }}","price":6,"technicalType":"border","technicalName":"mirror"},{"name":"{{ 'localeImported.bordure_plie' | t }}","price":8,"technicalType":"border","technicalName":"folded"}],[{"name":"{{ 'localeImported.sans_cadre' | t }}","price":0,"technicalType":"frame","technicalName":"null"},{"name":"{{ 'localeImported.cadre_blanc' | t }}","price":25,"technicalType":"frame","technicalName":"white"},{"name":"{{ 'localeImported.cadre_noir_mat' | t }}","price":25,"technicalType":"frame","technicalName":"black-mat"},{"name":"{{ 'localeImported.cadre_argent_ancien' | t }}","price":30,"technicalType":"frame","technicalName":"silver-old"},{"name":"{{ 'localeImported.cadre_chne_clair' | t }}","price":30,"technicalType":"frame","technicalName":"oak-light"},{"name":"{{ 'localeImported.cadre_noyer' | t }}","price":30,"technicalType":"frame","technicalName":"walnut"}]]},{"name":"{{ 'localeImported.aluminium' | t }}","price":22.05,"technicalType":"matter","technicalName":"aluminium","children":[[{"name":"{{ 'localeImported.sans_fixation' | t }}","price":0,"technicalType":"fixation","technicalName":"null"},{"name":"{{ 'localeImported.crochet' | t }}","price":8,"technicalType":"fixation","technicalName":"hook"}],[{"name":"{{ 'localeImported.mat' | t }}","price":0,"technicalType":"shine","technicalName":"mat"},{"name":"{{ 'localeImported.brillant' | t }}","price":4.9,"technicalType":"shine","technicalName":"shine"}]]},{"name":"{{ 'localeImported.aluminium__plexiglas' | t }}","price":53.5,"technicalType":"matter","technicalName":"aluminium-plexi","children":[[{"name":"{{ 'localeImported.sans_fixation' | t }}","price":0,"technicalType":"fixation","technicalName":"null"},{"name":"{{ 'localeImported.crochet' | t }}","price":8,"technicalType":"fixation","technicalName":"hook"}]]}]},{"name":"{{ 'localeImported.60x80_cm' | t }}","price":93.99,"technicalType":"size","technicalName":"60x80","children":[{"name":"{{ 'localeImported.toile' | t }}","price":0,"technicalType":"matter","technicalName":"canvas","children":[[{"name":"{{ 'localeImported.sans_fixation' | t }}","price":0,"technicalType":"fixation","technicalName":"null"},{"name":"{{ 'localeImported.set_de_fixation' | t }}","price":6,"technicalType":"fixation","technicalName":"set"}],[{"name":"{{ 'localeImported.chassis_de_2cm' | t }}","price":0,"technicalType":"chassis","technicalName":2},{"name":"{{ 'localeImported.chassis_de_4cm' | t }}","price":15,"technicalType":"chassis","technicalName":4}],[{"name":"{{ 'localeImported.bordure_blanche' | t }}","price":0,"technicalType":"border","technicalName":"white"},{"name":"{{ 'localeImported.bordure_noire' | t }}","price":2,"technicalType":"border","technicalName":"black"},{"name":"{{ 'localeImported.bordure_tire' | t }}","price":4,"technicalType":"border","technicalName":"stretched"},{"name":"{{ 'localeImported.bordure_miroir' | t }}","price":6,"technicalType":"border","technicalName":"mirror"},{"name":"{{ 'localeImported.bordure_plie' | t }}","price":8,"technicalType":"border","technicalName":"folded"}]]},{"name":"{{ 'localeImported.aluminium' | t }}","price":33.51,"technicalType":"matter","technicalName":"aluminium","children":[[{"name":"{{ 'localeImported.sans_fixation' | t }}","price":0,"technicalType":"fixation","technicalName":"null"},{"name":"{{ 'localeImported.crochet' | t }}","price":8,"technicalType":"fixation","technicalName":"hook"},{"name":"{{ 'localeImported.rails' | t }}","price":15,"technicalType":"fixation","technicalName":"rail"}],[{"name":"{{ 'localeImported.mat' | t }}","price":0,"technicalType":"shine","technicalName":"mat"},{"name":"{{ 'localeImported.brillant' | t }}","price":4.9,"technicalType":"shine","technicalName":"shine"}]]},{"name":"{{ 'localeImported.aluminium__plexiglas' | t }}","price":95.37,"technicalType":"matter","technicalName":"aluminium-plexi","children":[[{"name":"{{ 'localeImported.sans_fixation' | t }}","price":0,"technicalType":"fixation","technicalName":"null"},{"name":"{{ 'localeImported.crochet' | t }}","price":8,"technicalType":"fixation","technicalName":"hook"},{"name":"{{ 'localeImported.rails' | t }}","price":15,"technicalType":"fixation","technicalName":"rail"}]]}]},{"name":"{{ 'localeImported.75x100_cm' | t }}","price":114,"technicalType":"size","technicalName":"75x100","children":[{"name":"{{ 'localeImported.toile' | t }}","price":0,"technicalType":"matter","technicalName":"canvas","children":[[{"name":"{{ 'localeImported.sans_fixation' | t }}","price":0,"technicalType":"fixation","technicalName":"null"},{"name":"{{ 'localeImported.set_de_fixation' | t }}","price":6,"technicalType":"fixation","technicalName":"set"}],[{"name":"{{ 'localeImported.chassis_de_2cm' | t }}","price":0,"technicalType":"chassis","technicalName":2},{"name":"{{ 'localeImported.chassis_de_4cm' | t }}","price":15,"technicalType":"chassis","technicalName":4}],[{"name":"{{ 'localeImported.bordure_blanche' | t }}","price":0,"technicalType":"border","technicalName":"white"},{"name":"{{ 'localeImported.bordure_noire' | t }}","price":2,"technicalType":"border","technicalName":"black"},{"name":"{{ 'localeImported.bordure_tire' | t }}","price":4,"technicalType":"border","technicalName":"stretched"},{"name":"{{ 'localeImported.bordure_miroir' | t }}","price":6,"technicalType":"border","technicalName":"mirror"},{"name":"{{ 'localeImported.bordure_plie' | t }}","price":8,"technicalType":"border","technicalName":"folded"}]]},{"name":"{{ 'localeImported.aluminium' | t }}","price":70.6,"technicalType":"matter","technicalName":"aluminium","children":[[{"name":"{{ 'localeImported.sans_fixation' | t }}","price":0,"technicalType":"fixation","technicalName":"null"},{"name":"{{ 'localeImported.rails' | t }}","price":15,"technicalType":"fixation","technicalName":"rail"}],[{"name":"{{ 'localeImported.mat' | t }}","price":0,"technicalType":"shine","technicalName":"mat"},{"name":"{{ 'localeImported.brillant' | t }}","price":4.9,"technicalType":"shine","technicalName":"shine"}]]},{"name":"{{ 'localeImported.aluminium__plexiglas' | t }}","price":113,"technicalType":"matter","technicalName":"aluminium-plexi","children":[[{"name":"{{ 'localeImported.sans_fixation' | t }}","price":0,"technicalType":"fixation","technicalName":"null"},{"name":"{{ 'localeImported.rails' | t }}","price":15,"technicalType":"fixation","technicalName":"rail"}]]}]},{"name":"{{ 'localeImported.90x120_cm' | t }}","price":215.98,"technicalType":"size","technicalName":"90x120","children":[{"name":"{{ 'localeImported.toile' | t }}","price":0,"technicalType":"matter","technicalName":"canvas","children":[]},{"name":"{{ 'localeImported.aluminium' | t }}","price":45.02,"technicalType":"matter","technicalName":"aluminium","children":[[{"name":"{{ 'localeImported.sans_fixation' | t }}","price":0,"technicalType":"fixation","technicalName":"null"},{"name":"{{ 'localeImported.rails' | t }}","price":15,"technicalType":"fixation","technicalName":"rail"}],[{"name":"{{ 'localeImported.mat' | t }}","price":0,"technicalType":"shine","technicalName":"mat"},{"name":"{{ 'localeImported.brillant' | t }}","price":4.9,"technicalType":"shine","technicalName":"shine"}]]},{"name":"{{ 'localeImported.aluminium__plexiglas' | t }}","price":87.02,"technicalType":"matter","technicalName":"aluminium-plexi","children":[[{"name":"{{ 'localeImported.sans_fixation' | t }}","price":0,"technicalType":"fixation","technicalName":"null"},{"name":"{{ 'localeImported.rails' | t }}","price":15,"technicalType":"fixation","technicalName":"rail"}]]}]},{"name":"{{ 'localeImported.120x160_cm' | t }}","price":250,"technicalType":"size","technicalName":"120x160","children":[{"name":"{{ 'localeImported.toile' | t }}","price":0,"technicalType":"matter","technicalName":"canvas","children":[]},{"name":"{{ 'localeImported.aluminium' | t }}","price":55,"technicalType":"matter","technicalName":"aluminium","children":[[{"name":"{{ 'localeImported.sans_fixation' | t }}","price":0,"technicalType":"fixation","technicalName":"null"},{"name":"{{ 'localeImported.rails' | t }}","price":15,"technicalType":"fixation","technicalName":"rail"}],[{"name":"{{ 'localeImported.mat' | t }}","price":0,"technicalType":"shine","technicalName":"mat"},{"name":"{{ 'localeImported.brillant' | t }}","price":4.9,"technicalType":"shine","technicalName":"shine"}]]},{"name":"{{ 'localeImported.aluminium__plexiglas' | t }}","price":95,"technicalType":"matter","technicalName":"aluminium-plexi","children":[[{"name":"{{ 'localeImported.sans_fixation' | t }}","price":0,"technicalType":"fixation","technicalName":"null"},{"name":"{{ 'localeImported.rails' | t }}","price":15,"technicalType":"fixation","technicalName":"rail"}]]}]}];
    window.moneySymbol = "{{ localization.country.currency.symbol }}";
  </script>
{% elsif template.suffix == 'carre' %}   
  <script id="variants-available">
    window.variants = [{"name":"{{ 'localeImported.40x40_cm' | t }}","price":59.5,"technicalType":"size","technicalName":"40x40","children":[{"name":"{{ 'localeImported.toile' | t }}","price":0,"technicalType":"matter","technicalName":"canvas","children":[[{"name":"{{ 'localeImported.sans_fixation' | t }}","price":0,"technicalType":"fixation","technicalName":"null"},{"name":"{{ 'localeImported.set_de_fixation' | t }}","price":6,"technicalType":"fixation","technicalName":"set"}],[{"name":"{{ 'localeImported.chassis_de_2cm' | t }}","price":0,"technicalType":"chassis","technicalName":2},{"name":"{{ 'localeImported.chassis_de_4cm' | t }}","price":15,"technicalType":"chassis","technicalName":4}],[{"name":"{{ 'localeImported.bordure_blanche' | t }}","price":0,"technicalType":"border","technicalName":"white"},{"name":"{{ 'localeImported.bordure_noire' | t }}","price":2,"technicalType":"border","technicalName":"black"},{"name":"{{ 'localeImported.bordure_tire' | t }}","price":4,"technicalType":"border","technicalName":"stretched"},{"name":"{{ 'localeImported.bordure_miroir' | t }}","price":6,"technicalType":"border","technicalName":"mirror"},{"name":"{{ 'localeImported.bordure_plie' | t }}","price":8,"technicalType":"border","technicalName":"folded"}],[{"name":"{{ 'localeImported.sans_cadre' | t }}","price":0,"technicalType":"frame","technicalName":"null"},{"name":"{{ 'localeImported.cadre_blanc' | t }}","price":25,"technicalType":"frame","technicalName":"white"},{"name":"{{ 'localeImported.cadre_noir_mat' | t }}","price":25,"technicalType":"frame","technicalName":"black-mat"},{"name":"{{ 'localeImported.cadre_argent_ancien' | t }}","price":30,"technicalType":"frame","technicalName":"silver-old"},{"name":"{{ 'localeImported.cadre_chne_clair' | t }}","price":30,"technicalType":"frame","technicalName":"oak-light"},{"name":"{{ 'localeImported.cadre_noyer' | t }}","price":30,"technicalType":"frame","technicalName":"walnut"}]]},{"name":"{{ 'localeImported.aluminium' | t }}","price":22.05,"technicalType":"matter","technicalName":"aluminium","children":[[{"name":"{{ 'localeImported.sans_fixation' | t }}","price":0,"technicalType":"fixation","technicalName":"null"},{"name":"{{ 'localeImported.crochet' | t }}","price":8,"technicalType":"fixation","technicalName":"hook"}],[{"name":"{{ 'localeImported.mat' | t }}","price":0,"technicalType":"shine","technicalName":"mat"},{"name":"{{ 'localeImported.brillant' | t }}","price":4.9,"technicalType":"shine","technicalName":"shine"}]]},{"name":"{{ 'localeImported.aluminium__plexiglas' | t }}","price":53.5,"technicalType":"matter","technicalName":"aluminium-plexi","children":[[{"name":"{{ 'localeImported.sans_fixation' | t }}","price":0,"technicalType":"fixation","technicalName":"null"},{"name":"{{ 'localeImported.crochet' | t }}","price":8,"technicalType":"fixation","technicalName":"hook"}]]}]},{"name":"{{ 'localeImported.60x60_cm' | t }}","price":93.99,"technicalType":"size","technicalName":"60x60","children":[{"name":"{{ 'localeImported.toile' | t }}","price":0,"technicalType":"matter","technicalName":"canvas","children":[[{"name":"{{ 'localeImported.sans_fixation' | t }}","price":0,"technicalType":"fixation","technicalName":"null"},{"name":"{{ 'localeImported.set_de_fixation' | t }}","price":6,"technicalType":"fixation","technicalName":"set"}],[{"name":"{{ 'localeImported.chassis_de_2cm' | t }}","price":0,"technicalType":"chassis","technicalName":2},{"name":"{{ 'localeImported.chassis_de_4cm' | t }}","price":15,"technicalType":"chassis","technicalName":4}],[{"name":"{{ 'localeImported.bordure_blanche' | t }}","price":0,"technicalType":"border","technicalName":"white"},{"name":"{{ 'localeImported.bordure_noire' | t }}","price":2,"technicalType":"border","technicalName":"black"},{"name":"{{ 'localeImported.bordure_tire' | t }}","price":4,"technicalType":"border","technicalName":"stretched"},{"name":"{{ 'localeImported.bordure_miroir' | t }}","price":6,"technicalType":"border","technicalName":"mirror"},{"name":"{{ 'localeImported.bordure_plie' | t }}","price":8,"technicalType":"border","technicalName":"folded"}]]},{"name":"{{ 'localeImported.aluminium' | t }}","price":33.51,"technicalType":"matter","technicalName":"aluminium","children":[[{"name":"{{ 'localeImported.sans_fixation' | t }}","price":0,"technicalType":"fixation","technicalName":"null"},{"name":"{{ 'localeImported.crochet' | t }}","price":8,"technicalType":"fixation","technicalName":"hook"},{"name":"{{ 'localeImported.rails' | t }}","price":15,"technicalType":"fixation","technicalName":"rail"}],[{"name":"{{ 'localeImported.mat' | t }}","price":0,"technicalType":"shine","technicalName":"mat"},{"name":"{{ 'localeImported.brillant' | t }}","price":4.9,"technicalType":"shine","technicalName":"shine"}]]},{"name":"{{ 'localeImported.aluminium__plexiglas' | t }}","price":95.37,"technicalType":"matter","technicalName":"aluminium-plexi","children":[[{"name":"{{ 'localeImported.sans_fixation' | t }}","price":0,"technicalType":"fixation","technicalName":"null"},{"name":"{{ 'localeImported.crochet' | t }}","price":8,"technicalType":"fixation","technicalName":"hook"},{"name":"{{ 'localeImported.rails' | t }}","price":15,"technicalType":"fixation","technicalName":"rail"}]]}]},{"name":"{{ 'localeImported.80x80_cm' | t }}","price":114,"technicalType":"size","technicalName":"80x80","children":[{"name":"{{ 'localeImported.toile' | t }}","price":0,"technicalType":"matter","technicalName":"canvas","children":[[{"name":"{{ 'localeImported.sans_fixation' | t }}","price":0,"technicalType":"fixation","technicalName":"null"},{"name":"{{ 'localeImported.set_de_fixation' | t }}","price":6,"technicalType":"fixation","technicalName":"set"}],[{"name":"{{ 'localeImported.chassis_de_2cm' | t }}","price":0,"technicalType":"chassis","technicalName":2},{"name":"{{ 'localeImported.chassis_de_4cm' | t }}","price":15,"technicalType":"chassis","technicalName":4}],[{"name":"{{ 'localeImported.bordure_blanche' | t }}","price":0,"technicalType":"border","technicalName":"white"},{"name":"{{ 'localeImported.bordure_noire' | t }}","price":2,"technicalType":"border","technicalName":"black"},{"name":"{{ 'localeImported.bordure_tire' | t }}","price":4,"technicalType":"border","technicalName":"stretched"},{"name":"{{ 'localeImported.bordure_miroir' | t }}","price":6,"technicalType":"border","technicalName":"mirror"},{"name":"{{ 'localeImported.bordure_plie' | t }}","price":8,"technicalType":"border","technicalName":"folded"}]]},{"name":"{{ 'localeImported.aluminium' | t }}","price":70.6,"technicalType":"matter","technicalName":"aluminium","children":[[{"name":"{{ 'localeImported.sans_fixation' | t }}","price":0,"technicalType":"fixation","technicalName":"null"},{"name":"{{ 'localeImported.rails' | t }}","price":15,"technicalType":"fixation","technicalName":"rail"}],[{"name":"{{ 'localeImported.mat' | t }}","price":0,"technicalType":"shine","technicalName":"mat"},{"name":"{{ 'localeImported.brillant' | t }}","price":4.9,"technicalType":"shine","technicalName":"shine"}]]},{"name":"{{ 'localeImported.aluminium__plexiglas' | t }}","price":113,"technicalType":"matter","technicalName":"aluminium-plexi","children":[[{"name":"{{ 'localeImported.sans_fixation' | t }}","price":0,"technicalType":"fixation","technicalName":"null"},{"name":"{{ 'localeImported.rails' | t }}","price":15,"technicalType":"fixation","technicalName":"rail"}]]}]},{"name":"{{ 'localeImported.100x100_cm' | t }}","price":215.98,"technicalType":"size","technicalName":"100x100","children":[{"name":"{{ 'localeImported.toile' | t }}","price":0,"technicalType":"matter","technicalName":"canvas","children":[]},{"name":"{{ 'localeImported.aluminium' | t }}","price":45.02,"technicalType":"matter","technicalName":"aluminium","children":[[{"name":"{{ 'localeImported.sans_fixation' | t }}","price":0,"technicalType":"fixation","technicalName":"null"},{"name":"{{ 'localeImported.rails' | t }}","price":15,"technicalType":"fixation","technicalName":"rail"}],[{"name":"{{ 'localeImported.mat' | t }}","price":0,"technicalType":"shine","technicalName":"mat"},{"name":"{{ 'localeImported.brillant' | t }}","price":4.9,"technicalType":"shine","technicalName":"shine"}]]},{"name":"{{ 'localeImported.aluminium__plexiglas' | t }}","price":87.02,"technicalType":"matter","technicalName":"aluminium-plexi","children":[[{"name":"{{ 'localeImported.sans_fixation' | t }}","price":0,"technicalType":"fixation","technicalName":"null"},{"name":"{{ 'localeImported.rails' | t }}","price":15,"technicalType":"fixation","technicalName":"rail"}]]}]},{"name":"{{ 'localeImported.120x120_cm' | t }}","price":250,"technicalType":"size","technicalName":"120x120","children":[{"name":"{{ 'localeImported.toile' | t }}","price":0,"technicalType":"matter","technicalName":"canvas","children":[]},{"name":"{{ 'localeImported.aluminium' | t }}","price":70,"technicalType":"matter","technicalName":"aluminium","children":[[{"name":"{{ 'localeImported.sans_fixation' | t }}","price":0,"technicalType":"fixation","technicalName":"null"},{"name":"{{ 'localeImported.rails' | t }}","price":15,"technicalType":"fixation","technicalName":"rail"}],[{"name":"{{ 'localeImported.mat' | t }}","price":0,"technicalType":"shine","technicalName":"mat"},{"name":"{{ 'localeImported.brillant' | t }}","price":4.9,"technicalType":"shine","technicalName":"shine"}]]},{"name":"{{ 'localeImported.aluminium__plexiglas' | t }}","price":105,"technicalType":"matter","technicalName":"aluminium-plexi","children":[[{"name":"{{ 'localeImported.sans_fixation' | t }}","price":0,"technicalType":"fixation","technicalName":"null"},{"name":"{{ 'localeImported.rails' | t }}","price":15,"technicalType":0,"technicalName":0}]]}]}];
    window.moneySymbol = "{{ localization.country.currency.symbol }}";
  </script>
{% elsif template.suffix == 'landscape' %}
  <script id="variants-available">
    window.variants = [{"name":"{{ 'localeImported.40x30_cm' | t }}","price":59.5,"technicalType":"size","technicalName":"40x30","children":[{"name":"{{ 'localeImported.toile' | t }}","price":0,"technicalType":"matter","technicalName":"canvas","children":[[{"name":"{{ 'localeImported.sans_fixation' | t }}","price":0,"technicalType":"fixation","technicalName":"null"},{"name":"{{ 'localeImported.set_de_fixation' | t }}","price":6,"technicalType":"fixation","technicalName":"set"}],[{"name":"{{ 'localeImported.chassis_de_2cm' | t }}","price":0,"technicalType":"chassis","technicalName":2},{"name":"{{ 'localeImported.chassis_de_4cm' | t }}","price":15,"technicalType":"chassis","technicalName":4}],[{"name":"{{ 'localeImported.bordure_blanche' | t }}","price":0,"technicalType":"border","technicalName":"white"},{"name":"{{ 'localeImported.bordure_noire' | t }}","price":2,"technicalType":"border","technicalName":"black"},{"name":"{{ 'localeImported.bordure_tire' | t }}","price":4,"technicalType":"border","technicalName":"stretched"},{"name":"{{ 'localeImported.bordure_miroir' | t }}","price":6,"technicalType":"border","technicalName":"mirror"},{"name":"{{ 'localeImported.bordure_plie' | t }}","price":8,"technicalType":"border","technicalName":"folded"}],[{"name":"{{ 'localeImported.sans_cadre' | t }}","price":0,"technicalType":"frame","technicalName":"null"},{"name":"{{ 'localeImported.cadre_blanc' | t }}","price":25,"technicalType":"frame","technicalName":"white"},{"name":"{{ 'localeImported.cadre_noir_mat' | t }}","price":25,"technicalType":"frame","technicalName":"black-mat"},{"name":"{{ 'localeImported.cadre_argent_ancien' | t }}","price":30,"technicalType":"frame","technicalName":"silver-old"},{"name":"{{ 'localeImported.cadre_chne_clair' | t }}","price":30,"technicalType":"frame","technicalName":"oak-light"},{"name":"{{ 'localeImported.cadre_noyer' | t }}","price":30,"technicalType":"frame","technicalName":"walnut"}]]},{"name":"{{ 'localeImported.aluminium' | t }}","price":22.05,"technicalType":"matter","technicalName":"aluminium","children":[[{"name":"{{ 'localeImported.sans_fixation' | t }}","price":0,"technicalType":"fixation","technicalName":"null"},{"name":"{{ 'localeImported.crochet' | t }}","price":8,"technicalType":"fixation","technicalName":"hook"}],[{"name":"{{ 'localeImported.mat' | t }}","price":0,"technicalType":"shine","technicalName":"mat"},{"name":"{{ 'localeImported.brillant' | t }}","price":4.9,"technicalType":"shine","technicalName":"shine"}]]},{"name":"{{ 'localeImported.aluminium__plexiglas' | t }}","price":53.5,"technicalType":"matter","technicalName":"aluminium-plexi","children":[[{"name":"{{ 'localeImported.sans_systme_de_fixation' | t }}","price":0,"technicalType":"fixation","technicalName":"null"},{"name":"{{ 'localeImported.crochet' | t }}","price":8,"technicalType":"fixation","technicalName":"hook"}]]}]},{"name":"{{ 'localeImported.80x60_cm' | t }}","price":93.99,"technicalType":"size","technicalName":"80x60","children":[{"name":"{{ 'localeImported.toile' | t }}","price":0,"technicalType":"matter","technicalName":"canvas","children":[[{"name":"{{ 'localeImported.sans_fixation' | t }}","price":0,"technicalType":"fixation","technicalName":"null"},{"name":"{{ 'localeImported.set_de_fixation' | t }}","price":6,"technicalType":"fixation","technicalName":"set"}],[{"name":"{{ 'localeImported.chassis_de_2cm' | t }}","price":0,"technicalType":"chassis","technicalName":2},{"name":"{{ 'localeImported.chassis_de_4cm' | t }}","price":15,"technicalType":"chassis","technicalName":4}],[{"name":"{{ 'localeImported.bordure_blanche' | t }}","price":0,"technicalType":"border","technicalName":"white"},{"name":"{{ 'localeImported.bordure_noire' | t }}","price":2,"technicalType":"border","technicalName":"black"},{"name":"{{ 'localeImported.bordure_tire' | t }}","price":4,"technicalType":"border","technicalName":"stretched"},{"name":"{{ 'localeImported.bordure_miroir' | t }}","price":6,"technicalType":"border","technicalName":"mirror"},{"name":"{{ 'localeImported.bordure_plie' | t }}","price":8,"technicalType":"border","technicalName":"folded"}]]},{"name":"{{ 'localeImported.aluminium' | t }}","price":33.51,"technicalType":"matter","technicalName":"aluminium","children":[[{"name":"{{ 'localeImported.sans_fixation' | t }}","price":0,"technicalType":"fixation","technicalName":"null"},{"name":"{{ 'localeImported.crochet' | t }}","price":8,"technicalType":"fixation","technicalName":"hook"},{"name":"{{ 'localeImported.rails' | t }}","price":15,"technicalType":"fixation","technicalName":"rail"}],[{"name":"{{ 'localeImported.mat' | t }}","price":0,"technicalType":"shine","technicalName":"mat"},{"name":"{{ 'localeImported.brillant' | t }}","price":4.9,"technicalType":"shine","technicalName":"shine"}]]},{"name":"{{ 'localeImported.aluminium__plexiglas' | t }}","price":95.37,"technicalType":"matter","technicalName":"aluminium-plexi","children":[[{"name":"{{ 'localeImported.sans_fixation' | t }}","price":0,"technicalType":"fixation","technicalName":"null"},{"name":"{{ 'localeImported.crochet' | t }}","price":8,"technicalType":"fixation","technicalName":"hook"},{"name":"{{ 'localeImported.rails' | t }}","price":15,"technicalType":"fixation","technicalName":"rail"}]]}]},{"name":"{{ 'localeImported.100x75_cm' | t }}","price":114,"technicalType":"size","technicalName":"100x75","children":[{"name":"{{ 'localeImported.toile' | t }}","price":0,"technicalType":"matter","technicalName":"canvas","children":[[{"name":"{{ 'localeImported.sans_fixation' | t }}","price":0,"technicalType":"fixation","technicalName":"null"},{"name":"{{ 'localeImported.set_de_fixation' | t }}","price":6,"technicalType":"fixation","technicalName":"set"}],[{"name":"{{ 'localeImported.chassis_de_2cm' | t }}","price":0,"technicalType":"chassis","technicalName":2},{"name":"{{ 'localeImported.chassis_de_4cm' | t }}","price":15,"technicalType":"chassis","technicalName":4}],[{"name":"{{ 'localeImported.bordure_blanche' | t }}","price":0,"technicalType":"border","technicalName":"white"},{"name":"{{ 'localeImported.bordure_noire' | t }}","price":2,"technicalType":"border","technicalName":"black"},{"name":"{{ 'localeImported.bordure_tire' | t }}","price":4,"technicalType":"border","technicalName":"stretched"},{"name":"{{ 'localeImported.bordure_miroir' | t }}","price":6,"technicalType":"border","technicalName":"mirror"},{"name":"{{ 'localeImported.bordure_plie' | t }}","price":8,"technicalType":"border","technicalName":"folded"}]]},{"name":"{{ 'localeImported.aluminium' | t }}","price":70.6,"technicalType":"matter","technicalName":"aluminium","children":[[{"name":"{{ 'localeImported.sans_fixation' | t }}","price":0,"technicalType":"fixation","technicalName":"null"},{"name":"{{ 'localeImported.rails' | t }}","price":15,"technicalType":"fixation","technicalName":"rail"}],[{"name":"{{ 'localeImported.mat' | t }}","price":0,"technicalType":"shine","technicalName":"mat"},{"name":"{{ 'localeImported.brillant' | t }}","price":4.9,"technicalType":"shine","technicalName":"shine"}]]},{"name":"{{ 'localeImported.aluminium__plexiglas' | t }}","price":113,"technicalType":"matter","technicalName":"aluminium-plexi","children":[[{"name":"{{ 'localeImported.sans_fixation' | t }}","price":0,"technicalType":"fixation","technicalName":"null"},{"name":"{{ 'localeImported.rails' | t }}","price":15,"technicalType":"fixation","technicalName":"rail"}]]}]},{"name":"{{ 'localeImported.120x90_cm' | t }}","price":215.98,"technicalType":"size","technicalName":"120x90","children":[{"name":"{{ 'localeImported.toile' | t }}","price":0,"technicalType":"matter","technicalName":"canvas","children":[]},{"name":"{{ 'localeImported.aluminium' | t }}","price":45.02,"technicalType":"matter","technicalName":"aluminium","children":[[{"name":"{{ 'localeImported.sans_fixation' | t }}","price":0,"technicalType":"fixation","technicalName":"null"},{"name":"{{ 'localeImported.rails' | t }}","price":15,"technicalType":"fixation","technicalName":"rail"}],[{"name":"{{ 'localeImported.mat' | t }}","price":0,"technicalType":"shine","technicalName":"mat"},{"name":"{{ 'localeImported.brillant' | t }}","price":4.9,"technicalType":"shine","technicalName":"shine"}]]},{"name":"{{ 'localeImported.aluminium__plexiglas' | t }}","price":87.02,"technicalType":"matter","technicalName":"aluminium-plexi","children":[[{"name":"{{ 'localeImported.sans_fixation' | t }}","price":0,"technicalType":"fixation","technicalName":"null"},{"name":"{{ 'localeImported.rails' | t }}","price":15,"technicalType":"fixation","technicalName":"rail"}]]}]},{"name":"{{ 'localeImported.160x120_cm' | t }}","price":250,"technicalType":"size","technicalName":"160x120","children":[{"name":"{{ 'localeImported.toile' | t }}","price":0,"technicalType":"matter","technicalName":"canvas","children":[]},{"name":"{{ 'localeImported.aluminium' | t }}","price":55,"technicalType":"matter","technicalName":"aluminium","children":[[{"name":"{{ 'localeImported.sans_fixation' | t }}","price":0,"technicalType":"fixation","technicalName":"null"},{"name":"{{ 'localeImported.rails' | t }}","price":15,"technicalType":"fixation","technicalName":"rail"}],[{"name":"{{ 'localeImported.mat' | t }}","price":0,"technicalType":"shine","technicalName":"mat"},{"name":"{{ 'localeImported.brillant' | t }}","price":4.9,"technicalType":"shine","technicalName":"shine"}]]},{"name":"{{ 'localeImported.aluminium__plexiglas' | t }}","price":95,"technicalType":"matter","technicalName":"aluminium-plexi","children":[[{"name":"{{ 'localeImported.sans_fixation' | t }}","price":0,"technicalType":"fixation","technicalName":"null"},{"name":"{{ 'localeImported.rails' | t }}","price":15,"technicalType":"fixation","technicalName":"rail"}]]}]}];
    window.moneySymbol = "{{ localization.country.currency.symbol }}";
  </script>
{% endif %}

{% schema %}
{
  "name": "t:sections.main-product.name",
  "class": "page-width relative",
  "tag": "section",
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "text",
      "name": "t:sections.main-product.blocks.text.name",
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Text block</p>",
          "label": "t:sections.main-product.blocks.text.settings.text.label"
        }
      ]
    },
    {
      "type": "title",
      "name": "t:sections.main-product.blocks.title.name",
      "limit": 1
    },
    {
      "type": "price",
      "name": "t:sections.main-product.blocks.price.name",
      "limit": 1
    },
    {
      "type": "description",
      "name": "t:sections.main-product.blocks.description.name",
      "limit": 1
    },
    {
      "type": "collapsible_tab",
      "name": "t:sections.main-product.blocks.collapsible_tab.name",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Collapsible row",
          "info": "t:sections.main-product.blocks.collapsible_tab.settings.heading.info",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.heading.label"
        },
        {
          "type": "select",
          "id": "icon",
          "options": [
            {
              "value": "none",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__1.label"
            },
            {
              "value": "apple",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__2.label"
            },
            {
              "value": "banana",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__3.label"
            },
            {
              "value": "bottle",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__4.label"
            },
            {
              "value": "box",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__5.label"
            },
            {
              "value": "carrot",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__6.label"
            },
            {
              "value": "chat_bubble",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__7.label"
            },
            {
              "value": "check_mark",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__8.label"
            },
            {
              "value": "clipboard",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__9.label"
            },
            {
              "value": "dairy",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__10.label"
            },
            {
              "value": "dairy_free",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__11.label"
            },
            {
              "value": "dryer",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__12.label"
            },
            {
              "value": "eye",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__13.label"
            },
            {
              "value": "fire",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__14.label"
            },
            {
              "value": "gluten_free",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__15.label"
            },
            {
              "value": "heart",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__16.label"
            },
            {
              "value": "iron",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__17.label"
            },
            {
              "value": "leaf",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__18.label"
            },
            {
              "value": "leather",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__19.label"
            },
            {
              "value": "lightning_bolt",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__20.label"
            },
            {
              "value": "lipstick",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__21.label"
            },
            {
              "value": "lock",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__22.label"
            },
            {
              "value": "map_pin",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__23.label"
            },
            {
              "value": "nut_free",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__24.label"
            },
            {
              "value": "pants",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__25.label"
            },
            {
              "value": "paw_print",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__26.label"
            },
            {
              "value": "pepper",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__27.label"
            },
            {
              "value": "perfume",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__28.label"
            },
            {
              "value": "plane",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__29.label"
            },
            {
              "value": "plant",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__30.label"
            },
            {
              "value": "price_tag",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__31.label"
            },
            {
              "value": "question_mark",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__32.label"
            },
            {
              "value": "recycle",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__33.label"
            },
            {
              "value": "return",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__34.label"
            },
            {
              "value": "ruler",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__35.label"
            },
            {
              "value": "serving_dish",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__36.label"
            },
            {
              "value": "shirt",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__37.label"
            },
            {
              "value": "shoe",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__38.label"
            },
            {
              "value": "silhouette",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__39.label"
            },
            {
              "value": "snowflake",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__40.label"
            },
            {
              "value": "star",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__41.label"
            },
            {
              "value": "stopwatch",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__42.label"
            },
            {
              "value": "truck",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__43.label"
            },
            {
              "value": "washing",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__44.label"
            }
          ],
          "default": "check_mark",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.label"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.content.label"
        },
        {
          "type": "page",
          "id": "page",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.page.label"
        }
      ]
    },
    {
      "type": "buy",
      "name": "t:sections.main-product.blocks.buy.name",
      "settings": [
        {
          "type": "text",
          "id": "top_text",
          "default": "Choix des options",
          "label": "t:sections.main-product.blocks.buy.settings.top_text.label"
        },
        {
          "type": "text",
          "id": "bottom_text",
          "default": "Personnaliser le tableau",
          "label": "t:sections.main-product.blocks.buy.settings.bottom_text.label"
        }
      ]
    }
  ]
}
{% endschema %}