
<div id="cookies-banner">
  <img src="{{ "cookie.png" | file_img_url: '330x' }}" />
  <div class="first">
    <p>{{ 'sections.cookie-banner.message-1' | t }}<br>{{ 'sections.cookie-banner.message-2' | t }}</p>
    <div>
      <button onclick="showSettings()">{{ 'sections.cookie-banner.parameter' | t }}</button>
      <button onclick="handleAccept()">{{ 'sections.cookie-banner.accept' | t }}</button>
    </div>
  </div>
  <form class="second" onsubmit="handleSettings(event)">
    <p>{{ 'sections.cookie-banner.settings.title' | t }}</p>
    <label>
      <input type="checkbox" name="analytics" checked/>
      {{ 'sections.cookie-banner.settings.analytics' | t }}
    </label>
    <label>
      <input type="checkbox" name="marketing" checked/>
      {{ 'sections.cookie-banner.settings.marketing' | t }}
    </label>
    <label>
      <input type="checkbox" name="preferences" checked/>
      {{ 'sections.cookie-banner.settings.preferences' | t }}
    </label>
    <label>
      <input type="checkbox" name="sale_of_data" checked />
      {{ 'sections.cookie-banner.settings.sale_of_data' | t }}
    </label>
    <button onclick="handleAccept()">{{ 'sections.cookie-banner.settings.accept_button' | t }}</button>
    <button type="submit">{{ 'sections.cookie-banner.settings.save_button' | t }}</button>
  </form>
</div>

<script>
  function getBannerEl() {
    return document.getElementById('cookies-banner');
  }

  function hideBanner(res) {
    getBannerEl().style.display = 'none';
  }

  function showBanner() {
   getBannerEl().classList.add('bounce');
  }

  function handleAccept(e) {
    window.Shopify.customerPrivacy.setTrackingConsent(true, hideBanner);

    document.addEventListener('trackingConsentAccepted',function() {
      console.log('trackingConsentAccepted event fired');
    });
  }

  function showSettings() {
    document.querySelector('#cookies-banner > div.first').style.display = 'none';
    document.querySelector('#cookies-banner > .second').style.display = 'block';
  }

  function handleSettings(event) {
    event.preventDefault();
    const form = event.target;
    const inputs = Array.from(form.elements);

    const formValues = {};
    inputs.forEach(input => {
         if (input.type !== 'submit') {
            formValues[input.name] = input.checked;
        }
    });

    window.Shopify.customerPrivacy.setTrackingConsent(formValues,() => {
      hideBanner()
      console.log("Consent captured")
      });
  }

  function initCookieBanner() {
    const userCanBeTracked = window.Shopify.customerPrivacy.userCanBeTracked();
    const userTrackingConsent = window.Shopify.customerPrivacy.getTrackingConsent();

    if(!userCanBeTracked && userTrackingConsent === 'no_interaction') {
      showBanner();
    }
  }

  setTimeout(() => {
    window.Shopify.loadFeatures([
      {
        name: 'consent-tracking-api',
        version: '0.1',
      }
    ],
    function(error) {
      if (error) {
        throw error;
      }
      initCookieBanner();
    });
  }, 2000);
</script>