{% assign message = "tw.annoncement_bar.message" | t %}

<div class="overflow-hidden relative z-40" role="region" aria-label="{{ 'sections.header.announcement' | t }}">
    <p class="whitespace-nowrap text-xs py-2 text-secondary bg-main font-heading font-bold">
      <span class="animate-moveToLeft inline-block px-4">{{ message }}</span>
      <span class="animate-moveToLeft inline-block px-4" aria-hidden="true">{{ message }}</span>
      <span class="animate-moveToLeft inline-block px-4" aria-hidden="true">{{ message }}</span>
      <span class="animate-moveToLeft inline-block px-4" aria-hidden="true">{{ message }}</span>
      <span class="animate-moveToLeft inline-block px-4" aria-hidden="true">{{ message }}</span>
    </p>
</div>
